<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/about.css" />
  <title>About Us</title>
</head>

<body>
  <%-include('contactheader');-%> <%-include('header');-%>

      <section id="aboutus__intro">
        <div class="aboutus__main">
          <div class="aboutus__main_left">
            <div class="aboutus__intro_heading">
              <h1>
                <span style="
                  text-decoration: line-through;
                  text-decoration-color: #2a72de;
                ">YOUR</span>
                <span style="color: #2a72de">OUR</span> JOURNEY
              </h1>
            </div>
            <div class="aboutus__text_content">
              <p>
                Reverr is an ecosystem designed for startup founders at every
                stage, from Idea to IPO acting as a go to buddy for the startup
                founders throughout their journey.
              </p>
            </div>
          </div>
          <div class="aboutus__buttons">
            <a href="https://chat.whatsapp.com/GYG93rm4dVSH5521jNvtej"><button class="aboutus__buttons_know_more">
                Join our team
              </button></a>
            <a href="">
              <button class="aboutus__buttons_contact_us">Learn More</button>
            </a>
          </div>
        </div>
        <div class="aboutus__image">
          <img src="/images/Saly-15.png" alt="aboutus" />
        </div>
      </section>

      <section id="what-we-do">
        <h1>What we do</h1>
        <div class="wwd-text-content">
          <p>
            Reverr strives to provide entrepreneurs starting their journeys with
            world-class resources and support!
          </p>
        </div>

        <div class="wwd-main">
          <div class="wwd-main-content">
            <div class="wwd-info">
              <div class="wwd-left-img">
                <img src="images/UserCircle.png" />
              </div>
              <div class="wwd-left-content">
                <h4>Expert guidance:</h4>
                <p>
                  Gather insights from expert mentors in the field and get to know
                  the industry inside out so you don't miss the latest practical
                  information or industrial tricks.
                </p>
              </div>
            </div>

            <div class="wwd-info">
              <div class="wwd-left-img">
                <img src="images/ChatCenteredDots.png" />
              </div>
              <div class="wwd-left-content">
                <h4>Networking and Vibe:</h4>
                <p>
                  Entrepreneurs through Reverr can connect to numerous networks
                  worldwide and from diverse backgrounds
                </p>
              </div>
            </div>

            <div class="wwd-info">
              <div class="wwd-left-img">
                <img src="images/Bank.png" />
              </div>
              <div class="wwd-left-content">
                <h4>Funding:</h4>
                <p>
                  We provide funding to various stages of startups based on their
                  stage and requirements.
                </p>
              </div>
            </div>

            <div class="wwd-info">
              <div class="wwd-left-img">
                <img src="images/UserCircle.png" />
              </div>
              <div class="wwd-left-content">
                <h4>Knowledge Base:</h4>
                <p>
                  With our books and courses, you can learn to start a company on
                  the go and get an overview of the important things you need to
                  know as a starter.
                </p>
              </div>
            </div>
          </div>

          <div class="wwd-main-img">
            <img src="images/Saly-14.png" />
          </div>
        </div>
        <div class="aboutus__buttons" style="margin-top: -10%">
          <a href="https://chat.whatsapp.com/GYG93rm4dVSH5521jNvtej"><button class="aboutus__buttons_know_more"
              id="join-community">Join Community</button></a>
        </div>
      </section>

      <section id="mission-section">
        <div class="mission_intro">
          <h1>Our Mission</h1>
          <p>
            To be among the top 100 global startup platforms enabling and
            inspiring startups all across the globe in the next 5 Years, thereby
            bringing value in the life of all its stakeholders including
            promoters, mentors, investors, partners, employees, and the world at
            large.
          </p>
        </div>
        <div class="mission_img">
          <img src="images/image 54.png" alt="mission-img" />
        </div>
      </section>

      <section id="vision-section">
        <div class="vision_img">
          <h1>Our Vision</h1>
          <img src="images/image 55.png" alt="vision-img" />
        </div>
        <div class="vision_intro">
          <img src="/images/vision.svg" alt="" />
          <p>
            To enable and empower the early stage startups and founders of the
            world to manifest their ideas and impact the world through innovative
            technologies with absolute ease, by bringing together like-minded
            people and resources required to make the ventures successful. We
            believe every venture is a unique story by itself.
          </p>
          <div class="aboutus__buttons vision-btn">
            <a><button class="aboutus__buttons_know_more">Learn More</button></a>
          </div>
        </div>
      </section>

      <section id="team-section">
        <div class="team-title">
          <h1>Meet our Team</h1>
          <img src="images/tri-arrow 2.png" alt="aerrow" />
        </div>
        <hr />
        <div class="team-members">
          <div class="team-member">
            <div class="member-img one">
              <img src="images/maurice.jpeg" alt="member-img" />
            </div>
            <div class="member-details">
              <div class="member-info">
                <h5 style="font-size: 18px">Maurice Rana</h5>
                <p style="font-size: 12px">Chief Technology Officer</p>
              </div>
              <div class="member-link">
                <a href="https://www.linkedin.com/in/maurice-rana-396384213/">
                  <img src="images/linkedin.png" alt="linkedin-logo" />
                </a>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="member-img two">
              <img src="images/jatin.jpeg" alt="member-img" />
            </div>
            <div class="member-details">
              <div class="member-info">
                <h5 style="font-size: 18px">Jatin Khurana</h5>
                <p style="font-size: 12px">Chief Executive Officer</p>
              </div>
              <div class="member-link">
                <a href="https://www.linkedin.com/in/jatin-khurana-4352561ab/">
                  <img src="images/linkedin.png" alt="linkedin-logo" />
                </a>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="member-img three">
              <img src="images/deepak.jpeg" alt="member-img" />
            </div>
            <div class="member-details">
              <div class="member-info">
                <h5 style="font-size: 18px">Deepak Soni</h5>
                <p style="font-size: 12px">Chief Strategist Officer</p>
              </div>
              <div class="member-link">
                <a href="https://www.linkedin.com/in/deepaksoni/">
                  <img src="images/linkedin.png" alt="linkedin-logo" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="advisors">
        <div class="advisor-title">
          <h1>Our Advisors</h1>
        </div>
        <div class="advisor-details">
          <div class="advisor-details-first-row">
            <div class="advisor-row">
              <div class="advisor-img">
                <img src="images/samyukt.png" alt="adv-img" class="adv-img" />
                <a href="https://www.linkedin.com/in/samyukth-sridharan/">
                  <img src="images/linkedin.png" alt="linkedin-logo" class="adv-img-badge" />
                </a>
              </div>
              <div class="adv-info">
                <h3>Samyukth Sridharan</h3>
                <p>Co-Founder at Rippl | Ex-COO Cleartrip</p>
              </div>
            </div>

            <div class="advisor-row">
              <div class="advisor-img">
                <img src="images/mani1.png" alt="adv-img" class="adv-img" />
                <a href="https://www.linkedin.com/in/rsmaninz/ "><img src="images/linkedin.png" alt="linkedin-logo"
                    class="adv-img-badge" /></a>
              </div>
              <div class="adv-info">
                <h3>Mani Subra</h3>
                <p>Head- Strategy, Landmark Immigration & Consultants Pvt Ltds</p>
              </div>
            </div>

            <div class="advisor-row">
              <div class="advisor-img">
                <img src="images/rai.png" alt="adv-img" class="adv-img" />
                <a href="https://www.linkedin.com/in/shoumitra-rai-choudhuri-3143a176/ ">
                  <img src="images/linkedin.png" alt="linkedin-logo" class="adv-img-badge" />
                </a>
              </div>
              <div class="adv-info">
                <h3>Shoumitra Rai Choudhuri</h3>
                <p>Ex- McCann Erickson | Ex-JWT | Ex- DDB</p>
              </div>
            </div>
          </div>

          <div class="advisor-details-second-row">
            <div class="advisor-row">
              <div class="advisor-img">
                <img src="images/Ca.png" alt="adv-img" class="adv-img" />
                <a href="https://www.linkedin.com/in/ca-rajiv-hira-2a34a16/ ">
                  <img src="images/linkedin.png" alt="linkedin-logo" class="adv-img-badge" />
                </a>
              </div>
              <div class="adv-info">
                <h3>CA. Rajiv Hira</h3>
                <p>
                  Managing Partner- RHMC Management Consultants |Ex- Standard
                  Charted | Ex- ICICI Bank
                </p>
              </div>
            </div>
            <div class="advisor-row">
              <div class="advisor-img">
                <img src="images/pankaj.png" alt="adv-img" class="adv-img" />
                <a href="https://www.linkedin.com/in/pankaj-dawar-9556b350/ ">
                  <img src="images/linkedin.png" alt="linkedin-logo" class="adv-img-badge" /></a>
              </div>
              <div class="adv-info">
                <h3>Pankaj Dawar</h3>
                <p>CEO- XL Informatics</p>
              </div>
            </div>
          </div>
        </div>


      </section>

      <section id="core_values">
        <div class="cv_container">
          <div class="cv_intro">
            <img src="images/sharp-donut 1.png" alt="" />
            <h1>Our Core Values</h1>
          </div>
          <div class="cv_main">
            <div class="cv_text">
              <p>" Our Values are what makes us desirable "</p>
              <img style="
                position: relative;
                width: 3rem;
                margin: 5% 10% 0%;
                left: 6rem;
              " src="images/3-d-asterisk 2.png" alt="" />
              <img style="width: 5rem; margin: 0 20%" src="images/3-d-asterisk 1.png" alt="" />
            </div>
            <div class="cv_cards">
              <div class="card1">
                <div class="cv_card">
                  <img src="images/Ellipse 190.png" alt="" />
                  <p>Quality</p>
                </div>
                <div class="cv_card">
                  <img src="images/Ellipse 193.png" alt="" />
                  <p>Accountability</p>
                </div>
              </div>
              <div class="card2">
                <div class="cv_card">
                  <img src="images/Ellipse 191.png" alt="" />
                  <p>Integrity</p>
                </div>
                <div class="cv_card">
                  <img src="images/Ellipse 192.png" alt="" />
                  <p>Trust</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="about-end">
        <div class="about-quote">
          <img src="images/q1.png" alt="" class="q1" />
          <p>
            We want you to think of us first, whether you are starting up or
            looking to invest in startups.
          </p>
          <img src="images/q2.png" alt="" class="q2" />
        </div>
        <div class="about-btns">
          <a href="https://chat.whatsapp.com/GYG93rm4dVSH5521jNvtej">
            <button class="about-btn-join">Join our Team</button>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.reverr">
            <button class="about-btn-app">Download our app</button>
          </a>
        </div>
      </section>
      <%-include('footerNew');-%>
</body>

</html>