<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>About Us</title>
  </head>
  <body>
    <%-include('header');-%>

    <section id="aboutus__intro">
      <div class="aboutus__main">
        <div class="aboutus__main_left">
          <div class="aboutus__intro_heading">
            <h1>
              <span
                style="
                  text-decoration: line-through;
                  text-decoration-color: #2a72de;
                "
                >OUR</span
              >
              <span style="color: #2a72de">YOUR</span> JOURNY
            </h1>
          </div>
          <div class="aboutus__text_content">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It's
              easy. Just click “Edit Text” or double click me to add your own
              content and make changes to the font. Feel free to drag and drop
              anywhere you like on your page.
            </p>
          </div>
        </div>
        <div class="aboutus__buttons">
          <button class="aboutus__buttons_know_more">
            <a>Join our Team</a>
          </button>
          <button class="aboutus__buttons_contact_us">
            <a>Learn More</a>
          </button>
        </div>
      </div>
      <div class="aboutus__image">
        <img src="/images/Saly-15.png" alt="aboutus" />
      </div>
    </section>

    <section id="what-we-do">
      <h1>What we do</h1>
      <div class="wwd-text-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo sit
          nulla commodo elit enim platea. Tortor interdum nisi nisl risus
          venenatis habitant posuere proin sem. Cursus nisi in enim proin
          ullamcorper sed. Amet, maecenas tristique etiam eros, adipiscing donec
          malesuada.Lorem ip
        </p>
      </div>

      <div class="wwd-main">
        <div class="wwd-main-content">
          <div class="wwd-info">
            <div class="wwd-left-img">
              <img src="images/UserCircle.png" />
            </div>
            <div class="wwd-left-content">
              <h4>I'm a tagline.Click here to edit me.</h4>
              <p>
                I'm a paragraph. Click here to add your own text and edit me.
                I'm a paragraph. Click here to add your own text and edit me or
                you can just drag and drop.
              </p>
            </div>
          </div>

          <div class="wwd-info">
            <div class="wwd-left-img">
              <img src="images/ChatCenteredDots.png" />
            </div>
            <div class="wwd-left-content">
              <h4>I'm a tagline.Click here to edit me.</h4>
              <p>
                I'm a paragraph. Click here to add your own text and edit me.
                I'm a paragraph. Click here to add your own text and edit me or
                you can just drag and drop.
              </p>
            </div>
          </div>

          <div class="wwd-info">
            <div class="wwd-left-img">
              <img src="images/Bank.png" />
            </div>
            <div class="wwd-left-content">
              <h4>I'm a tagline.Click here to edit me.</h4>
              <p>
                I'm a paragraph. Click here to add your own text and edit me.
                I'm a paragraph. Click here to add your own text and edit me or
                you can just drag and drop.
              </p>
            </div>
          </div>
        </div>

        <div class="wwd-main-img">
          <img src="images/Saly-14.png" />
        </div>
      </div>

      <button class="wwd-join-btn">
        <a>Join community</a>
      </button>
    </section>

    <section id="mission-section">
      <div class="mission_intro">
        <h1>Our Mission</h1>
        <p>
          I'm a paragraph. Click here to add your own text and edit me. It's
          easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font. Feel free to drag and drop
          anywhere you like on your page. I'm a paragraph. Click here to add
          your own text and edit me. I'm a paragraph. Click here to add your own
          text and edit me. It's easy. Just click “Edit Text” or double click me
          to add your own content and make changes to the font.
        </p>
      </div>
      <div class="mission_img">
        <img src="images/image 54.png" alt="mission-img" />
      </div>
    </section>

    <section id="vision-section">
      <div class="vision_img">
        <h1>Our Vision</h1>
        <img src="images/image 55.png" alt="vision-img" />
      </div>
      <div class="vision_intro">
        <p>
          I'm a paragraph. Click here to add your own text and edit me. It's
          easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font. Feel free to drag and drop
          anywhere you like on your page. I'm a paragraph. Click here to add
          your own text and edit me. I'm a paragraph. Click here to add your own
          text and edit me. It's easy. Just click “Edit Text” or double click me
          to add your own content and make changes to the font.
        </p>
        <button><a>Learn More</a></button>
      </div>
    </section>

    <section id="team-section">
      <div class="team-title">
        <h1>Meet our Team</h1>
        <img src="images/tri-arrow 2.png" alt="aerrow" />
      </div>
      <hr />
      <div class="team-members">
        <div class="team-member">
          <div class="member-img one">
            <img src="images/person1.png" alt="member-img" />
          </div>
          <div class="member-details">
            <div class="member-info">
              <h5>John Doe</h5>
              <p>Designation</p>
            </div>
            <div class="member-link">
              <a>
                <img src="images/linkedin.png" alt="linkedin-logo" />
              </a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="member-img two">
            <img src="images/person2.png" alt="member-img" />
          </div>
          <div class="member-details">
            <div class="member-info">
              <h5>John Doe</h5>
              <p>Designation</p>
            </div>
            <div class="member-link">
              <a>
                <img src="images/linkedin.png" alt="linkedin-logo" />
              </a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="member-img three">
            <img src="images/person3.png" alt="member-img" />
          </div>
          <div class="member-details">
            <div class="member-info">
              <h5>John Doe</h5>
              <p>Designation</p>
            </div>
            <div class="member-link">
              <a>
                <img src="images/linkedin.png" alt="linkedin-logo" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="advisors">
      <div class="advisor-title">
        <h1>Our Advisors</h1>
      </div>
      <div class="advisor-details">
        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 228.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>

        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 229.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>

        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 230.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>

        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 231.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>
      </div>

      <div class="advisor-details">
        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 232.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>

        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 233.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>

        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 234.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>

        <div class="advisor-row">
          <div class="advisor-img">
            <img src="images/Ellipse 235.png" alt="adv-img" class="adv-img" />
            <img
              src="images/linkedin.png"
              alt="linkedin-logo"
              class="adv-img-badge"
            />
          </div>
          <div class="adv-info">
            <h3>I'm a Name</h3>
            <p>Designation</p>
          </div>
        </div>
      </div>
    </section>

    <section id="core_values">
      <div class="cv_container">
        <div class="cv_intro">
          <img src="images/sharp-donut 1.png" alt="" />
          <h1>Our Core Values</h1>
        </div>
        <div class="cv_main">
          <div class="cv_text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo sit
              nulla commodo elit enim platea.
            </p>
            <img
              style="
                position: relative;
                width: 3rem;
                margin: 2% 10%;
                left: 4rem;
              "
              src="images/3-d-asterisk 2.png"
              alt=""
            />
            <img
              style="width: 5rem; margin: 0 10%"
              src="images/3-d-asterisk 1.png"
              alt=""
            />
          </div>
          <div class="cv_cards">
            <div class="card1">
              <div class="cv_card">
                <img src="images/Ellipse 190.png" alt="" />
                <p>Quality</p>
              </div>
              <div class="cv_card">
                <img src="images/Ellipse 193.png" alt="" />
                <p>Accountability</p>
              </div>
            </div>
            <div class="card2">
              <div class="cv_card">
                <img src="images/Ellipse 191.png" alt="" />
                <p>Integrity</p>
              </div>
              <div class="cv_card">
                <img src="images/Ellipse 192.png" alt="" />
                <p>Trust</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-end">
      <div class="about-quote">
        <img src="images/q1.png" alt="" class="q1" />
        <p>
          We want you to think of us first, whether you are starting up or
          looking to invest in startups.
        </p>
        <img src="images/q2.png" alt="" class="q2" />
      </div>
      <div class="about-btns">
        <button class="about-btn-join">
          <a>Join our Team</a>
        </button>
        <button class="about-btn-app">
          <a>Download our app</a>
        </button>
      </div>
    </section>
    <%-include('footer');-%>
  </body>
</html>
