<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/blog.css" />
    <title>Reverr | Blogs</title>
  </head>
  <body>
    <%-include("header")-%>

    <section id="blog-intro">
      <div class="blog-heading">
        <img src="images/chain 1.png" alt="" />
        <h1>REVERR BLOGS</h1>
      </div>
      <p>
        Get the best and latest insights of the concepts from the
        entrepreneurial world.
      </p>
    </section>

    <section id="recent-post">
      <h1>Recent Posts</h1>
      <div class="sample-blog">
        <div class="blog-slider">
          <img src="/images/caret1.png" alt="" class="left-caret" />
          <img
            src="/images/Rectangle 177.png"
            alt="blog-img"
            class="sample-blog-img"
          />
          <img src="/images/caret2.png" alt="" class="right-caret" />
        </div>
        <div class="blog-content">
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
      </div>
      <div class="blog-section-btns">
        <a><button>Section 01</button></a>
        <a><button style="opacity: 0.3">Section 02</button></a>
        <a><button style="opacity: 0.3">Section 03</button></a>
      </div>
      <div class="blog-container">
        <div class="blog">
          <img src="/images/Rectangle 178.png" alt="" />
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p class="blog-text">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
        <div class="blog">
          <img src="/images/Rectangle 179.png" alt="" />
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p class="blog-text">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
        <div class="blog">
          <img src="/images/Rectangle 180.png" alt="" />
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p class="blog-text">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
      </div>
      <div class="blog-container">
        <div class="blog">
          <img src="/images/Rectangle 1565.png" alt="" />
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p class="blog-text">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
        <div class="blog">
          <img src="/images/Rectangle 1566.png" alt="" />
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p class="blog-text">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
        <div class="blog">
          <img src="/images/Rectangle 1567.png" alt="" />
          <p>July 03,2022</p>
          <h1>I'm a Heading. Click here to add your own text and edit me.</h1>
          <p class="blog-text">
            I'm a paragraph. Click here to add your own text and edit me. It's
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. Feel free to drag and drop
            anywhere you like on your page.
          </p>
        </div>
      </div>
    </section>
    <%-include("footer")-%>
  </body>
</html>
