<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Community</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/community.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <section id="community__intro">
      <div class="community__main">
        <div class="community__main_left">
          <div class="community__intro_heading">
            <h1>
              Join our Reverr community to get the best knowledge of Start-ups
              and mentors
            </h1>
          </div>
          <div class="community__text_content">
            <p>
              The community where future entrepreneurs come to learn, execute
              and grow.
            </p>
          </div>
        </div>
        <div class="community__buttons">
          <a href=""
            ><button class="community__buttons_blue_btn">
              Download our app
            </button></a
          >
          <a href="/contactus"
            ><button class="community__buttons_contact_us">Join Us</button></a
          >
        </div>
      </div>
      <div class="community__images">
        <div class="community__images_div">
          <img src="/images/Rectangle 1581.png" alt="community" />
          <img src="/images/Rectangle 1584.png" alt="community" />
        </div>
        <div class="community__images_div">
          <img src="/images/Rectangle 1586.png" alt="community" />
          <img src="/images/Rectangle 1582.png" alt="community" />
        </div>
        <div class="community__images_div">
          <img src="/images/Rectangle 1583.png" alt="community" />
          <img src="/images/Rectangle 1585.png" alt="community" />
        </div>
      </div>
    </section>

    <section id="whyourcommunity__intro">
      <div class="whyourcommunity__heading">
        <h1>Why our Community?</h1>
      </div>
      <div class="whyourcommunity__main">
        <div class="whyourcommunity__main_left">
          <div class="whyourcommunity__intro_heading">
            <h1>We are the HOPE your startup needs</h1>
          </div>
          <div class="whyourcommunity__text_content">
            <p>
              We not only provide the knowledge you require to go forwards in
              your journey but also create a sense of belongingness.
              <br />
              <br />
              We firmly believe in making social connections and through us you
              can form plenty! This is a place for you to bond with other people
              who are just like you, waiting for their start up idea to get
              golden.
            </p>
          </div>
        </div>
        <div class="whyourcommunity__icons">
          <div class="whyourcommunity__icon">
            <img src="/images/Group 6266308.png" alt="bookmark" />
            <div>
              <p><b>Get insights about the startup ecosystem.</b></p>
            </div>
          </div>
          <div class="whyourcommunity__icon">
            <img src="/images/Group 6266306.png" alt="cloud" />
            <div>
              <p><b>Interact with experienced Mentors!</b></p>
            </div>
          </div>
          <div class="whyourcommunity__icon">
            <img src="/images/Group 6266307.png" alt="pin" />
            <div>
              <p><b>Meet like minded entrepreneurs!</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section3__intro">
      <div class="section3__heading">
        <h1>I'm a Heading</h1>
      </div>
      <div class="section3__main">
        <div class="section3__main_left">
          <div class="section3__intro_heading">
            <h1>Find Right groups that fits your interest</h1>
          </div>
          <div class="section3__text_content">
            <p>
              Join our Reverr community to get the best knowledge of Start-ups
              and mentors
            </p>
          </div>
          <div class="community__buttons">
            <a
              ><button class="community__buttons_blue_btn">
                Our Community
              </button></a
            >
          </div>
        </div>
        <div class="section3__image">
          <img
            style="object-fit: contain"
            src="/images/community-image-1.svg"
            alt=""
          />
        </div>
      </div>
    </section>

    <section class="community__carousel-container">
      <div class="community__carousel-title">
        <p>See what our members think of the community</p>
      </div>
      <button class="pre-btn">
        <img src="images/left-arrow.png" class="btn-img" alt="" />
      </button>
      <button class="nxt-btn">
        <img src="images/right-arrow.png" class="btn-img" alt="" />
      </button>
      <div class="community__carousel-content">
        <div class="community__carousel-row">
          <img
            src="images/Rectangle 1591.png"
            alt="person-1"
            class="community__carousel-img"
          />
          <div class="community__carousel-box">
            <img src="/images/Rectangle 1595.png" alt="" />
            <p style="margin-top: -1rem" class="community__carousel-review">
              Since I've joined Reverr, I've been very clear with my step
              forward and made my place amongst the big fish
            </p>
          </div>
        </div>
        <div class="community__carousel-row">
          <img
            src="images/Rectangle 1592.png"
            alt="person-1"
            class="community__carousel-img"
          />
          <div class="community__carousel-box">
            <img src="/images/Rectangle 1595.png" alt="" />
            <p class="community__carousel-review">
              As a budding entrepreneur myself, working in Reverr helped me gain
              perspective on how to go about certain things in the future
            </p>
          </div>
        </div>
        <div class="community__carousel-row">
          <img
            src="images/Rectangle 1593.png"
            alt="person-1"
            class="community__carousel-img"
          />
          <div class="community__carousel-box">
            <img src="/images/Rectangle 1595.png" alt="" />
            <p class="community__carousel-review">
              Besides all the experience and knowledge I have gained from
              working, Revere has a healthy and friendly workplace environment.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="provides">
      <div class="provides__left">
        <img src="/images/community-image-2.svg" alt="image" />
        <div class="provides__button">
          <div class="provides__btn">
            <button class="community__buttons_blue_btn">
              <a>Explore our community </a>
            </button>
          </div>
        </div>
      </div>
      <div class="provides__right">
        <h1>Community provides you with</h1>
        <div>
          <img src="/images/services.svg" alt="services" />
        </div>
      </div>
    </section>

    <%- include('footer'); -%>
  </body>

  <script>
    const container = [
      ...document.querySelectorAll(".community__carousel-content"),
    ];
    const nxtBtn = [...document.querySelectorAll(".nxt-btn")];
    const preBtn = [...document.querySelectorAll(".pre-btn")];

    container.forEach((item, i) => {
      let containerDimensions = item.getBoundingClientRect();
      let containerWidth = containerDimensions.width;

      nxtBtn[i].addEventListener("click", () => {
        item.scrollLeft += containerWidth;
      });

      preBtn[i].addEventListener("click", () => {
        item.scrollLeft -= containerWidth;
      });
    });
  </script>
</html>
