<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/contactheader.css" />
  </head>
  <body>
    <div class="contactheader">
      <div class="contactheader__contacts">
        <div class="contactheader__contact">
          <img src="/images/message.png" alt="" />
          <p>support@reverrapp.com</p>
        </div>
        <div class="contactheader__contact">
          <img src="/images/phone.png" alt="" />
          <p>+91-9933090978</p>
        </div>
      </div>
      <!-- <div> -->
      <div class="contactheader__main_social_links">
        <div class="contactheader__main_social_link">
          <a
            href="https://www.instagram.com/reel/CgXFLbqpY01/?igshid=YmMyMTA2M2Y="
            ><img src="/images/image 11.png" alt="instagram"
          /></a>
        </div>
        <div class="contactheader__main_social_link">
          <a href="https://www.facebook.com/Reverr-104710632324714/"
            ><img src="/images/image 12.png" alt="facebook"
          /></a>
        </div>
        <div class="contactheader__main_social_link">
          <a><img src="/images/image 14.png" alt="twitter" /></a>
        </div>
        <div class="contactheader__main_social_link">
          <a href="https://www.linkedin.com/company/reverr/"
            ><img src="/images/image 13.png" alt="linkedIn"
          /></a>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </body>
</html>
