<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>
    <link rel="stylesheet" href="css/feedbackform.css">
</head>

<body>
    <%-include("navbar");-%>
        <section class="getFeedbackPage">
            <div class="getFeedbackPageOuter">

                <div class="getFeedbackPageSub">
                    <div class="header">
                        <h1 class='getFeedbackPageTitle'>
                            Thank You for Your Valuable <span>Feedback!</span>
                        </h1>
                        <h1 class="getFeedbackPageSubTitle">
                            Click <a href="./">here</a> to go back to the home page
                        </h1>
                    </div>
                </div>
            </div>
        </section>
</body>
<%- include('footerNew'); -%>

</html>