<section id="footer">
  <div class="footer__main">
    <div class="footer__main_left">
      <div>
        <img style="width: 70px" src="/images/logo.png" alt="" />
        <p class="footer__main_brand_name">Reverr</p>
      </div>
      <div class="footer__main_text_content">
        <p>
          A highly scalable, fast and secure blockchain platform for distributed
          apps, enterprise use cases and the new internet economy.
          <br />
          <br />
          info@yoursite.com
        </p>
      </div>
    </div>
    <div class="footer__main_right">
      <div class="footer__main_links">
        <div>
          <p><b>Quick Links</b></p>
        </div>
        <div class="footer__main_link"><a>About</a></div>
        <div class="footer__main_link"><a>Technology</a></div>
        <div class="footer__main_link"><a>Contact</a></div>
        <div class="footer__main_link"><a>Blog</a></div>
      </div>
      <div class="footer__main_links">
        <div>
          <p><b>Template</b></p>
        </div>
        <div class="footer__main_link"><a>Licensing</a></div>
        <div class="footer__main_link"><a>Style Guide</a></div>
        <div class="footer__main_link"><a>Changelog</a></div>
      </div>
      <div class="footer__main_social">
        <div>
          <p><b>Social</b></p>
        </div>
        <div class="footer__main_social_links">
          <div class="footer__main_social_link">
            <a><img src="/images/image 11.png" alt="instagram" /></a>
          </div>
          <div class="footer__main_social_link">
            <a><img src="/images/image 12.png" alt="facebook" /></a>
          </div>
          <div class="footer__main_social_link">
            <a><img src="/images/image 14.png" alt="twitter" /></a>
          </div>
          <div class="footer__main_social_link">
            <a><img src="/images/image 13.png" alt="linkedIn" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
