<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/footerNew.css" />
</head>
<body>
   <section id="_footer">

    <section class="_footer">

<div class="_footersection1">
    <div class="_footersection1_left">
        <img src="/images/logo.png" alt="logo">
    <div class="_footersocialIconCont">
        <span><a class="aClass" href=" https://www.facebook.com/profile.php?id=100083402115983" target="_blank"><img class="imgClass" src="/images/facebookIcon.png" alt="icon"></a></span>
        <span><a class="aClass" href="https://www.linkedin.com/company/reverr/" target="_blank"><img class="imgClass" src="/images/linkedinIcon.png" alt="icon"></a></span>
        <span><a class="aClass" href=" https://www.instagram.com/reverr.io/" target="_blank"><img class="imgClass" src="/images/instaIcon.png" alt="icon"></a></span> 
        <span><a class="aClass" href="https://chat.whatsapp.com/GYG93rm4dVSH5521jNvtej"><img class="imgClass" src="/images/whatsappICon.png" alt="icon"></a></span>
    </div>
    </div>
    <div class="_footersection1_right">
        <h4>A highly scalable, fast and secure startup platform for Professionals, Founders, Investors, Mentors and Service Providers!</h4>
        <!-- <p>info@yoursite.com</p> -->
    </div>
</div>

<!-- SECTION 2 -->
<section class="_footersection2">
    <div class="_footersection2_left">
        <h4><b>Quick Links</b></h4>
        <div class="footer__main_link"><a href="/about">About us</a></div>
        <div class="footer__main_link"><a href="/blog">Blogs</a></div>
        <div class="footer__main_link"><a href="https://chat.whatsapp.com/GYG93rm4dVSH5521jNvtej" target="_blank">Join Community</a></div>
        <div class="footer__main_link"><a href="/privacypolicy">Privacy Policy</a></div>
        <div class="footer__main_link"><a href="/termsandconditions">Terms & Conditions</a></div>
        <!-- <div class="footer__main_link"><a href="/contactus">Contact</a></div> -->
        
    </div>
    <div class="_footersection2_right">
        <h4><b>Contact Us</b></h4>
        <div class="footer__main_link"><a href="https://maps.app.goo.gl/UbhWAkuY8fMzLeE59" target="_blank"> <span><img class="_footerContactUSIcon" src="/images/googleMap.png" alt=""></span>New Delhi-110009</a></div>
        <!-- <div class="footer__main_link"><a href="tel:9871960850"> <span><img class="_footerContactUSIconn" src="/images/callIcon.png" alt=""></span>+91 9871960850</a></div> -->
        <div class="footer__main_link"><a href="https://wa.link/1j0f3i"> <span><img class="_footerContactUSIconn" src="/images/whatsappICon.png" alt=""></span>+91 8595311900</a></div>
        <div class="footer__main_link"><a href="mailto:connect@reverr.io"> <span><img class="_footerContactUSIconn" src="/images/emailIcon.png" alt=""></span>connect@reverr.io</a></div>
        
    </div>
</section>
</section>
<div class="copyrightData">
    <p>
        copyright @2023 <span><b>Reverr</b></span>. All rights reserved
    </p>
</div>
   </section> 
</body>
</html>