<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="css/formentors.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <div class="all">
      <div class="mainsection">
        <div class="mentor_section">
          <div class="left">
            <p class="text">BE A MENTOR</p>
          </div>
          <div class="right">
            <div class="right_text">
              <div class="text1">
                MAKING THE LIVES OF STARTUP FOUNDERS EASIER!
              </div>
              <div class="text2">
                Reverr is looking for field experts to help founders on their
                new entrepreneurial journeys. Be a mentor at Reverr and assist
                the founders in achieving their dream and making it a reality!
              </div>
              <div class="button">
                <div class="button1">
                  <p class="ptext">Login</p>
                </div>
                <div class="button2">
                  <p class="ctext">SignUp</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section2">
        <div class="heading">
          <p class="htext">PAIN POINTS OF A FOUNDER</p>
        </div>
        <div class="cards">
          <div class="card_container">
            <div class="imageview">
              <img src="./images/growth.png" class="image" />
            </div>
            <div class="heading_card">
              <p class="headingtext">Lack of Business Guidance</p>
            </div>
          </div>

          <div class="card_container">
            <div class="imageview">
              <img src="./images/barin.png" class="image" />
            </div>
            <div class="heading_card">
              <p class="headingtext">Lack of Idea Validation</p>
            </div>
          </div>

          <div class="card_container">
            <div class="imageview">
              <img src="./images/bag.png" class="image" />
            </div>
            <div class="heading_card">
              <p class="headingtext">Lack of work Ethic</p>
            </div>
          </div>

          <div class="card_container">
            <div class="imageview">
              <img src="./images/messages.png" class="image" />
            </div>
            <div class="heading_card">
              <p class="headingtext">Zero Industry Networks</p>
            </div>
          </div>

          <div class="card_container">
            <div class="imageview">
              <img src="./images/books.png" class="image" />
            </div>
            <div class="heading_card">
              <p class="headingtext">Lack of Knowledge</p>
            </div>
          </div>
        </div>
        <div class="solve_button">
          <p class="botton_text">Solve Them Now!</p>
        </div>
      </div>
      <div class="section3">
        <div class="main_heading">
          <p class="mainHeading">How does it work?</p>
        </div>
        <div class="sub_heading">
          <p class="subheading1">How to be a mentor: An overview</p>
        </div>
        <div class="image_cards">
          <!-- d1 -->
          <div class="card_view">
            <div class="image_text_container">
              <div class="card_logo"><img src="./images/d1.png" /></div>
              <div class="cardtext">
                <p class="des_text1">
                  Fill-up the mentor form and fill in the necessary details.
                </p>
              </div>
            </div>

            <!-- rightarrow1 -->
            <div class="arrow_view">
              <img src="./images/right.png" />
            </div>
          </div>

          <!-- d2 -->
          <div class="card_view">
            <div class="image_text_container">
              <div class="card_logo"><img src="./images/d2.png" /></div>
              <div class="cardtext">
                <p class="des_text1">
                  We check your profile and make sure everything is in order.
                </p>
              </div>
            </div>
            <!-- rightarrow2 -->
            <div class="arrow_view">
              <img src="./images/right.png" />
            </div>
          </div>

          <!-- d3 -->
          <div class="card_view">
            <div class="image_text_container">
              <div class="card_logo"><img src="./images/d3.png" /></div>
              <div class="cardtext">
                <p class="des_text1">
                  Upon approval, our team will send you a mail inviting you to a
                  call to get an overview of the platform
                </p>
              </div>
            </div>

            <!-- downarrow -->
            <div class="arrow_view orderdown">
              <img src="./images/down.png" />
            </div>
          </div>

          <!-- d6 -->

          <div class="card_view order_six">
            <div class="image_text_container">
              <div class="card_logo"><img src="./images/d6.png" /></div>
              <div class="cardtext">
                <p class="des_text1">And VOILA! You are a mentor at REVERR!</p>
              </div>
            </div>

            <!-- arrowrleft -->
            <div class="arrow_view">
              <img src="./images/left.png" />
            </div>
          </div>

          <!-- d5 -->

          <div class="card_view order_five">
            <div class="image_text_container">
              <div class="card_logo"><img src="./images/d5.png" /></div>
              <div class="cardtext">
                <p class="des_text1">
                  You receive your Login Credentials via mail after we complete
                  your Reverr profile.
                </p>
              </div>
            </div>
            <!-- arrowleft -->
            <div class="arrow_view">
              <img src="./images/left.png" />
            </div>
          </div>

          <!-- d4 -->
          <div class="card_view order_four">
            <div class="image_text_container">
              <div class="card_logo"><img src="./images/d4.png" /></div>
              <div class="cardtext">
                <p class="des_text1">
                  As a result of our mutual consent, we sign an agreement.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
        <div class="button3">
          <p class="text3">Join as a Mentor</p>
        </div>
      </div>

      <div class="section4">
        <div class="quote">
          <p class="quotetext">YOU QUOTE YOUR PRICE!</p>
        </div>
        <div class="content">
          <div class="session_image">
            <img src="./images/flowerlaptop.png" class="session_image_style" />
          </div>
          <div class="contentinfo">
            <p class="pctext1">'The first session is absolutely free '</p>
            <p class="pctext2">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
            <div class="buttoncontent">
              <p class="button_content_text">Join Now</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section5">
        <div class="wait_heading">
          <p class="wait_text">So What Are You Waiting For?</p>
        </div>
        <div class="main_description">
          <div class="join">
            <p class="join_text">'Join the REVERR REVOLUTION TODAY!'</p>
            <div class="join_button">
              <p class="join_button_text">Join as a Mentor</p>
            </div>
          </div>
          <div class="image3view">
            <img src="./images/flower.png" class="image3" />
          </div>
        </div>
      </div>
    </div>

    <%-include('footer');-%>
  </body>
</html>
