<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/founder.css" />
    <title>Founder</title>
</head>
<body>
     <%-include("header")-%>

     <section id="founder-section-1">
      <div class="founder-section-1-left-col">
        <h1>Making Your Startup Journey <br> As Easy As Breathing!</h1>
        <p>
          “Committed to helping you achieve your billion <br> dollar dream.”
        </p>
          <div class="founder-section-1-btn-cont">
              <a href="#"><button class="join-now-btnn">Join Now</button></a>
              <a href="#"><button class="explore-more-btnn">Explore More</button></a>
          </div>
      </div>
      <div class="flounder-section-1-right-col">
          <img src="/images/Group 6267060.png" alt="founder">
      </div>
     </section>

      <section class="our-offering-section">
<h1 class="our-offering-title">Our Offerings</h1>
<!-- <p class="our-offering-sub-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content </p> -->

<div class="offering-img-cont">
    <div class="img-cont-1">
        <div class="comment-box-cont1">
            <div class="comment-box">
                <p class="comment-box-comment">MENTORSHIP</p>
                <p class="comment-box-details">Details</p>
            </div>
        <div class="comment-box-arrow"></div>
    </div>
        <img class="img-1" src="/images/Ellipse 439.png" alt="founder">
        
    </div>
    <div class="img-cont-2">
        <div class="comment-box-cont2">
            <div class="comment-box">
                <p class="comment-box-comment">KNOWLEDGE</p>
                <p class="comment-box-details">Details</p>
            </div>
        <div class="comment-box-arrow"></div>
    </div>
        <img class="img-2" src="/images/Ellipse 438.png" alt="founder">
        </div>
        
    <div class="img-cont-3">
        <div class="comment-box-cont3">
            <div class="comment-box">
                <p class="comment-box-comment">FUNDRAISING</p>
                <p class="comment-box-details">Details</p>
            </div>
        <div class="comment-box-arrow"></div>
    </div>
        <img class="img-3" src="/images/Ellipse 437.png" alt="founder">
        </div>
        
    <div class="img-cont-4">
        <div class="comment-box-cont4">
            <div class="comment-box">
                <p class="comment-box-comment">NETWORKS</p>
                <p class="comment-box-details">Details</p>
            </div>
        <div class="comment-box-arrow"></div>
    </div>
        <img class="img-4" src="/images/Ellipse 436.png" alt="founder">
        </div>
        
    <div class="img-cont-5">
        <div class="comment-box-cont5">
            <div class="comment-box">
                <p class="comment-box-comment">SERVICE PROVIDERS</p>
                <p class="comment-box-details">Details</p>
            </div>
        <div class="comment-box-arrow"></div>
    </div>
        <img class="img-5" src="/images/Ellipse 435.png" alt="founder">
        
    </div>
</div>
<div class="btn-cont">
    <a href="#"><button class="explore-more-btn">Explore More</button></a>
</div>
      </section>

      <section class="holding-your-hand-section">
<h2 class="holding-your-hand-title">Holding Your Hand Since the Early Stages!</h2>
<p class="holding-your-hand-sub-text">From the IDEA stage all the way to the IPO stage, REVERR helps startup founders. In short, WE ARE YOUR STARTUP’S BEST BUDDY!</p>
<div class="holding-your-hand-img-cont">
    <img src="/images/Group 6267118.png" alt="founder">
</div>
<div class="btn-cont">
    <a href="#"><button class="explore-journey-btn">Explore Journey</button></a>
</div>
      </section>

      <!-- <section class="how-your-startup-can-grow">
        <div class="how-your-startup-can-grow-header">
          <h1>How your start-up can grow with <span> REVERR</span> </h1>
          <p>Reverr as a platform is a startup for startups. Our team and we work day and night to help you build a startup of your dreams and so far, we’re a success. Here’s what you need to know about Reverr:</p>
        </div>
        <div class="how-your-startup-can-grow-cont">
          <div class="how-your-startup-can-grow-left-col">
            <div class="hyscg-left-col-row">
              <img src="/images/Ellipse 429.png" alt="hyscg">
              <p>Reverr is a startup for startups.</p>
            </div>
            <div class="hyscg-left-col-row">
              <img src="/images/Ellipse 429 (1).png" alt="hyscg">
              <p>We engage in providing mentoring services, funding services, networking services and much more.
              </p>
            </div>
            <div class="hyscg-left-col-row">
              <img src="/images/Ellipse 429 (2).png" alt="hyscg">
              <p>All of our dealings are done online so you can remain in the comfort of your space and still, your work won’t stop</p>
            </div>
            <div class="hyscg-left-col-row">
              <img src="/images/Ellipse 429 (3).png" alt="hyscg">
              <p>Your dedication makes us work harder to get funding for you and your startup. </p>
            </div>
            <div class="hyscg-left-col-row">
              <img src="/images/Ellipse 429 (4).png" alt="hyscg">
              <p>Our app is finally launched and a simple download from the playstore will make your journey simpler than it has ever been. </p>
            </div>
          </div>
          <div class="how-your-startup-can-grow-right-col">
            <img src="/images/Group 6266719.png" alt="hyscg">
          </div>
        </div>
        <div class="btn-cont">
          <a href="#"><button class="become-reverr-btn">Become a REVERRITE</button></a>
      </div>
      </section> -->

      <section id="how-reverr-help-startup">
       <div class="left-col">
        <p>How <span>REVERR</span>  helps Start-ups..?</p>
        <h5>We were debilitated upon seeing the lack of hands-on support for entrepreneurs trying to stand sturdily in the market, so we got you REVERR. Reverr is one solution to your major problems. Here you get: </h5>
       
        <ul>

            <li>Guidance of expert mentors from your field</li>
            <li>A chance to create a quality network</li>
            <li>Opportunity to get access to books and courses</li>
            <li>Easy funding and growth opportunity</li>
            <li>Getting the right legal and technological guidance</li>
        </ul>
    
    </div>
       <div class="right-col">
        <div>
            <!-- <video src="/images/Reverr.mp4" class="video__video"></video> -->
            <video
              controls=""
              muted=""
              poster=""
              class="video__video"
              autoplay=""
              __idm_id__="24577"
            >
              <source src="/images/Reverr.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
       </div>
      </section>
  
      <%-include("testimonials")-%> <%-include("footer")-%>
    
</body>
</html>