<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Funding</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/funding.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <section id="funding_page__intro">
      <div class="funding_page__main">
        <div class="funding_page__main_left">
          <div class="funding_page__intro_heading">
            <h1>Funding</h1>
          </div>
          <div class="funding_page__text_content">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It's
              easy. Just click “Edit Text” or double click me to add your own
              content and make changes to the font. Feel free to drag and drop
              anywhere you like on your page.
            </p>
          </div>
        </div>
        <div class="funding_page__buttons">
          <a>
            <button class="funding_page__buttons_know_more">Know More</button>
          </a>
          <a href="/contactus">
            <button class="funding_page__buttons_contact_us">Contact Us</button>
          </a>
        </div>
      </div>
      <div class="funding_page__image">
        <img src="/images/funding.svg" alt="funding" />
      </div>
    </section>

    <section id="howitworks">
      <div><h1 class="howitworks__heading">How it Works?</h1></div>
      <div>
        <p class="howitworks__text_content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo sit
          nulla commodo elit enim platea. Tortor interdum nisi nisl risus
          venenatis habitant posuere proin sem.
        </p>
      </div>
      <div class="howitworks__main">
        <div class="howitworks__content">
          <div class="howitworks__icons_down">
            <div class="hiw__icon_section">
              <div class="hiw__icon">
                <img src="/images/person-vector.png" alt="person" />
                <div>
                  <p><b>I'm a tagline.Click here to edit me.</b></p>
                  <p>
                    I'm a paragraph. Click here to add your own text and edit
                    me. I'm a paragraph.
                  </p>
                </div>
              </div>
              <div class="hiw__icon">
                <img src="/images/device-vector.png" alt="person" />
                <div>
                  <p><b>I'm a tagline.Click here to edit me.</b></p>
                  <p>
                    I'm a paragraph. Click here to add your own text and edit
                    me. I'm a paragraph.
                  </p>
                </div>
              </div>
            </div>
            <div class="hiw__icon_section">
              <div class="hiw__icon book">
                <img src="/images/book-vector.png" alt="person" />
                <div>
                  <p><b>I'm a tagline.Click here to edit me.</b></p>
                  <p>
                    I'm a paragraph. Click here to add your own text and edit
                    me. I'm a paragraph.
                  </p>
                </div>
              </div>
              <div class="hiw__icon">
                <img src="/images/bag.svg" alt="person" />
                <div>
                  <p><b>I'm a tagline.Click here to edit me.</b></p>
                  <p>
                    I'm a paragraph. Click here to add your own text and edit
                    me. I'm a paragraph.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="howitworks__image">
          <img src="/images/funding-hiw.svg" />
        </div>
      </div>
    </section>

    <section id="hygf">
      <div class="main-text">
        <h1>How you get funded..?</h1>
      </div>
      <div class="card-container">
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/money.svg" />
          </div>
          <p class="card-title">I'm a title</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/dollar-coin.svg" class="card-img" />
          </div>
          <p class="card-title">I'm a title</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/wallet.svg" class="card-img" />
          </div>
          <p class="card-title">I'm a title</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
        </div>
      </div>
    </section>

    <section id="capitalists">
      <div class="capitalists__heading">
        <h1>Our Capitalists</h1>
      </div>
      <div class="capitalists__content">
        <div class="capitalist">
          <img src="/images/capitalist1.svg" alt="capitalist" />
          <div class="captalist__text_content">
            <p class="capitalist__name">Christopher Jones</p>
            <p class="capitalist__designation">CEO, Founder XYZ</p>
            <ul>
              <li>I'm a highlight about the person</li>
              <li>I'm a highlight about the person</li>
              <li>I'm a highlight about the person</li>
            </ul>
          </div>
        </div>
        <div class="capitalist">
          <img src="/images/capitalist2.svg" alt="capitalist" />
          <div class="captalist__text_content">
            <p class="capitalist__name">Harris Vasquezlaa</p>
            <p class="capitalist__designation">Co-Founder XYZ</p>
            <ul>
              <li>I'm a highlight about the person</li>
              <li>I'm a highlight about the person</li>
              <li>I'm a highlight about the person</li>
            </ul>
          </div>
        </div>
        <div class="capitalist">
          <img src="/images/capitalist3.svg" alt="capitalist" />
          <div class="captalist__text_content">
            <p class="capitalist__name">Donnie Schwartzin</p>
            <p class="capitalist__designation">Businessman</p>
            <ul>
              <li>I'm a highlight about the person</li>
              <li>I'm a highlight about the person</li>
              <li>I'm a highlight about the person</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <%- include('testimonials'); -%> <%- include('footer'); -%>
  </body>
</html>
