<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reverr</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gideon+Roman&family=Montserrat&family=Philosopher&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <script>
    var isBtnDropdownOpen=false;
    var isProductsDropdownOpen=false;
    function toggleDropdown () {

        if(isBtnDropdownOpen){
            document.getElementById("register_options").style.display="none";
            document.getElementById("register_options_phn").style.display="none";
            isBtnDropdownOpen = false;
        }
        else{
            document.getElementById("register_options").style.display="flex";
            document.getElementById("register_options_phn").style.display="flex";
            isBtnDropdownOpen = true;  
        }
    }

    function toggleProductsDropdown () {
      
        if(isProductsDropdownOpen){
            document.getElementById("product_options").style.display="none";
            document.getElementById("product_options_phn").style.display="none";
            isProductsDropdownOpen = false;
        }
        else{
            document.getElementById("product_options").style.display="flex";
            document.getElementById("product_options_phn").style.display="flex";
            isProductsDropdownOpen = true;  
        }
    }
    function show(){
        document.getElementById("phnnav").style.display="flex";
    }
    function closes(){
          document.getElementById("phnnav").style.display="none";
    }

</script>
  <body>
    <div class="topnav desk">
      <a href="/"
        ><img src="/images/logo.png" alt="" />
        <p class="brand-name">REVERR</p></a
      >

      <div class="topnav-right">
        <a class="active" href="/">Home</a>
        <div class="products_dropdown">
          <div onclick="toggleProductsDropdown()" class="productBtn">
          <div>Products</div>
        </div>
        <div id="product_options">
          <a href="/mentorship"><div class="product_option">Mentorship</div></a>
          <a href="/networking"><div class="product_option">Networking</div></a>
          <a href="/knowledge"><div class="product_option">Knowledge</div></a>
          <a href="/funding"><div class="product_option">Funding</div></a>
      </div>
        </div>
        <a href="/community">Community</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a class="link-btn"><div class="memberBtnWrapper" href="/mentorform"><div class="memberBtn">Get Funded</div></div></a>
       
        <div class="header_dropdown">
            <div onclick="toggleDropdown()" class="registerBtn">
            <div>Register Now</div>
            </div>
            <div id="register_options">
                <div class="register_option">Become a Mentor</div>
                <div class="register_option">Get Funded</div>
                <div class="register_option">Sign The Newsletter</div>
                <div class="register_option">Join our Community</div>
            </div>
    </div>
    
      </div>
    </div>

    <section class="nav phn" id="phnheader">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          justify-content: center;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
          "
          onclick="show()"
        >
          <a> <img src="/images/logo.png" style="width: 60px" alt="logo" /></a>
          <a><h1 class="headingphn">&nbsp;Reverr</h1> </a>
        </div>
      </div>
      <div
        id="phnnav"
        style="
          display: none;
          width: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 2%;
        "
      >
        <a class="navitem" style="margin: 3% 0%" href="/">Home </a>
        <div class="products_dropdown">
          <div onclick="toggleProductsDropdown()" class="productBtn">
          <div>Products</div>
        </div>
        <div id="product_options_phn">
          <a href="/mentorship"><div class="product_option">Mentorship</div></a>
          <a href="/networking"><div class="product_option">Networking</div></a>
          <a href="/knowledge"><div class="product_option">Knowledge</div></a>
          <a href="/funding"><div class="product_option">Funding</div></a>
      </div>
        </div>
        <a class="navitem" style="margin: 3% 0%" href="/#solution">Community</a>
        <a class="navitem" style="margin: 3% 0%" href="/blog">Blog</a>
        <a class="navitem" style="margin: 3% 0%" href="/about">About</a>
        <div class="memberBtnWrapper">     <div
            class="memberBtn
            style="margin: 3% 25%; padding: 2% 4%; text-align:center:"
          >
            <a href="/mentorform"></a>Be a mentor
          </div></div>
          <div class="header_dropdown">
        <div onclick="toggleDropdown()" style="margin: 10% 5%; padding: 5% 2%;" class="registerBtn">Register Now</div>
        <div style="margin:5rem" id="register_options_phn">
            <div class="register_option">Become a Mentor</div>
            <div class="register_option">Get Funded</div>
            <div class="register_option">Sign The Newsletter</div>
            <div class="register_option">Join our Community</div>
        </div>
    </div>
        <div style="cursor: pointer; margin: 3% 0%" onclick="closes()">
          <a>Close</a>
        </div>
      </div>
    </section>
  </body>
</html>
