<%- include('header'); -%>

<section class="hero__main">
  <div class="grid">
    <div class="item1 hero__heading">
      Making your startup journey feel like a walk in the garden
    </div>
    <div class="item2 hero__para flex">
      Strive to bring you the best mentorship,sp guidance, and insights for the
      startups you're building
      <div><button class="item3 hero__button">Download our app</button></div>
    </div>

    <div class="item4 hero__image-background">
      <img src="/images/elipse223.png" class="hero__image" alt="" />
      <div class="hero__image-para">Become a Mentor</div>
    </div>
    <div class="item5 hero__image-background">
      <img src="/images/elipse223.png " class="hero__image" alt="" />
      <div class="hero__image-para">Become a Mentor</div>
    </div>
    <div class="item6 hero__image-background">
      <img src="/images/elipse223.png" class="hero__image" alt="" />
      <div class="hero__image-para">Become a Mentor</div>
    </div>
    <div class="item7 hero__image-background">
      <img src="/images/elipse223.png" class="hero__image" alt="" />
      <div class="hero__image-para">Become a Mentor</div>
    </div>
  </div>
</section>

<%- include('footer'); -%>
