<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('contactheader'); -%> <%- include('header'); -%>
    <section class="hero__main">
      <div class="hero__container">
        <div class="hero__details">
          <h1 class="hero__heading">
            Making your startup journey feel like a walk in the garden
          </h1>
          <p class="hero__para">
            Strive to bring you the best mentorship, guidance, and insights for
            the startups you're building
          </p>
          <button class="hero__button">Download our App</button>
        </div>
        <div class="hero__img-before">
          <div class="hero__imgFlex">
            <img src="/images/hero__rocket.png" class="hero__rocket" alt="" />
            <div class="plane">
              <img src="/images/hero__plane.png" alt="" />
            </div>
          </div>
          <div>
            <img src="/images/hero-img.png" alt="" class="hero__img" />
          </div>
        </div>
      </div>
    </section>
    <section class="tagg">
      <h1 class="tagline__heading">I'm a Tagline</h1>
      <div class="tagline__container">
        <div class="tagline__card">
          <img src="/images/taggline1.png" alt="" class="tagline__img" />
          <h2 class="taglin__heading">Become a Mentor</h2>
          <p class="taggline__para">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
            cumque!
          </p>
          <button class="tagline__btn">Learn More</button>
        </div>
        <div class="tagline__card">
          <img src="/images/taggline2.png" alt="" class="tagline__img" />
          <h2 class="taglin__heading">Become a Mentor</h2>
          <p class="taggline__para">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
            cumque!
          </p>
          <button class="tagline__btn">Learn More</button>
        </div>
        <div class="tagline__card">
          <img src="/images/taggline3.png" alt="" class="tagline__img" />
          <h2 class="taglin__heading">Become a Mentor</h2>
          <p class="taggline__para">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
            cumque!
          </p>
          <button class="tagline__btn">Learn More</button>
        </div>
        <div class="tagline__card">
          <img src="/images/taggline4.png" alt="" class="tagline__img" />
          <h2 class="taglin__heading">Become a Mentor</h2>
          <p class="taggline__para">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos,
            cumque!
          </p>
          <button class="tagline__btn">Learn More</button>
        </div>
      </div>
    </section>
    <section class="aim">
      <!-- <img src="/images/image57.png" class="aim__image" alt="" /> -->
      <div class="aim__para--position aim__flex">
        <div class="aim__heading">Our only AIM is to</div>
        <div class="aim__para">
          “ Help Entrepreneurs and Start-ups to grow ”
        </div>
        <div>
          <button class="aim__btn">
            Grow with <span style="color: #2a72de">REVERR</span>
          </button>
        </div>
      </div>
    </section>

    <section class="video">
      <div class="video__flex">
        <div>
          <h1 class="video__heading">
            Why is <span style="color: #2a72de">REVERR</span> for you.. ?
          </h1>
          <p class="video__para">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content.
          </p>
          <button class="video__btn">Join REVERR</button>
        </div>
        <div>
          <img src="/images/video_image.png" class="video__video" alt="" />
        </div>
      </div>
    </section>

    <section class="stats">
      <div class="stats__heading">Our Stats</div>
      <div class="flex_stats">
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">50</div></div>
          <div class="stats__card--heading">Start ups registered</div>
        </div>
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">75+</div></div>
          <div class="stats__card--heading">mentors</div>
        </div>
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">25+</div></div>
          <div class="stats__card--heading">Startups Funded</div>
        </div>
        <div class="stats__card">
          <img
            src="/images/stats_white.png"
            class="stats__card--imageWhite"
            alt=""
          />
          <div class="blue_blob"><div class="blue_blob_text">250+</div></div>
          <div class="stats__card--heading">Community Members</div>
        </div>
      </div>
    </section>

    <section class="tagline">
      <div class="flex__tagline">
        <img src="/images/tagline.png" class="tagline__image" alt="" />
        <div class="tagline__para">
          Our hearts broke upon seeing the lack of hands-on support for
          entrepreneurs starting up in the market, so we got you REVERR
        </div>
      </div>
    </section>

    <section class="funding">
      <div class="grid__funding">
        <div class="funding__card">
          <img src="./images/funding3.png" class="funding__image" alt="" />
          <div class="funding__heading">Mentorship</div>
          <div class="funding__para">
            Our experienced mentors guide and teach you about the intricacies of
            investing and prevent you from making mistakes which may cost you a
            fortune.
          </div>
          <a href="/mentorship"
            ><button class="funding__button">Know More</button></a
          >
        </div>
        <div class="funding__card">
          <img src="./images/funding1.png" class="funding__image" alt="" />
          <div class="funding__heading">Networking</div>
          <div class="funding__para">
            Our wide range of network of start ups and investors enables them to
            connect with each other and grow together
          </div>
          <a href="/networking"
            ><button class="funding__button">Know More</button></a
          >
        </div>
        <div class="funding__card">
          <img src="./images/funding2.png" class="funding__image" alt="" />
          <div class="funding__heading">Knowledge</div>
          <div class="funding__para">
            We have an experienced team who is eager to impart their learnings
            and help you along your journey.
          </div>
          <a href="/knowledge"
            ><button class="funding__button">Know More</button></a
          >
        </div>
        <div class="funding__card">
          <img src="./images/image 71.png" class="funding__image" alt="" />
          <div class="funding__heading">Funding</div>
          <div class="funding__para">
            Helping startups and founders raise money from the very beginning
            and help you along your journey.
          </div>
          <a href="/funding"
            ><button class="funding__button">Know More</button></a
          >
        </div>
      </div>
    </section>

    <!-- <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel_slide1" tabindex="0" class="carousel_slide">
            <div class="carousel__snapper">
              <a href="#carousel_slide4" class="carousel_prev"
                >Go to last slide</a
              >
              <a href="#carousel_slide2" class="carousel_next"
                >Go to next slide</a
              >
            </div>
          </li>
          <li id="carousel_slide2" tabindex="0" class="carousel_slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel_slide1" class="carousel_prev"
              >Go to previous slide</a
            >
            <a href="#carousel_slide3" class="carousel_next"
              >Go to next slide</a
            >
          </li>
          <li id="carousel_slide3" tabindex="0" class="carousel_slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel_slide2" class="carousel_prev"
              >Go to previous slide</a
            >
            <a href="#carousel_slide4" class="carousel_next"
              >Go to next slide</a
            >
          </li>
          <li id="carousel_slide4" tabindex="0" class="carousel_slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel_slide3" class="carousel_prev"
              >Go to previous slide</a
            >
            <a href="#carousel_slide1" class="carousel_next"
              >Go to first slide</a
            >
          </li>
        </ol>
        <aside class="carousel__navigation">
          <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
              <a href="#carousel_slide1" class="carousel_navigation-button"
                >Go to slide 1</a
              >
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel_slide2" class="carousel_navigation-button"
                >Go to slide 2</a
              >
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel_slide3" class="carousel_navigation-button"
                >Go to slide 3</a
              >
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel_slide4" class="carousel_navigation-button"
                >Go to slide 4</a
              >
            </li>
          </ol>
        </aside>
      </section> -->
    <!-- <h2>Automatic Slideshow</h2>
      <p>Change image every 2 seconds:</p> -->
    <section class="corousel">
      <div class="slideshow-container">
        <div class="mySlides fade myslides1">
          <div class="carousal__heading">Become a Mentor</div>
          <div class="carousal__para">
            Do you have a knack for entrepreneurship along with expertise in a
            field and desire to inspire the next generation of leaders? If so,
            join us today!
          </div>
          <!-- <img src="./images/carousal1.png" style="width: 100%" /> -->
          <a href="/mentorform"><button class="text">Know More</button></a>
        </div>

        <div class="mySlides fade myslides2">
          <div class="carousal__heading">Get Funded</div>
          <div class="carousal__para">
            Looking for funds to grow your venture? So don't wait any longer,
            fill out the form now and get your startup funded so you can grow
            seamlessly!
          </div>

          <!-- <img src="./images/carousal2.png" style="width: 100%" /> -->
          <a href="/fundingform"><button class="text">Know More</button></a>
        </div>

        <div class="mySlides fade myslides3">
          <div class="carousal__heading">Signup to the Newsletter</div>
          <div class="carousal__para">
            Get the latest startup updates and insights by signing up for our
            newsletter!
          </div>
          <!-- <img src="./images/carousal3.png" style="width: 100%" /> -->
          <a href="/newsletter"><button class="text">Know More</button></a>
        </div>
        <div class="mySlides fade myslides4">
          <div class="carousal__heading">Join our Community</div>
          <div class="carousal__para">
            Join the community of the leaders of tomorrow now!
          </div>
          <!-- <img src="./images/carousal4.png" style="width: 100%" /> -->
          <a href="/community"><button class="text">Know More</button></a>
        </div>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

      <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > slides.length) {
            slideIndex = 1;
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
          setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
      </script>
    </section>
    <%-include('testimonials');-%> <%- include('footer'); -%>
  </body>
</html>
