<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homeFinal.css" />
    <title>Home</title>
    <%-include("header")-%>

    <section id="home-section-1">
        <div class="home-section-1-cont">
            <div class="home-section-1-left-cont">
                <img src="/images/Rectangle 21753.png" alt="home">
            </div>
            <div class="home-section-1-right-cont">
                <div class="home-section-1-right-cont-top-part">
                    <div class="home-section-1-right-cont-top-part-left-part">
                        <h1>REVERR</h1>
                    </div>
                    <div class="home-section-1-right-cont-top-part-right-part">
                        <p>If you can dream it we can complete it, because we very well believe in our motto
                            <span>“YOUR DREAM OUR RESPONSIBILITY”</span> </p>
                    </div>
                </div>
                <div class="home-section-1-right-cont-bottom-part">
                    <div class="home-section-1-right-cont-bottom-part-left-part">
                        <img src="/images/Group 6267144.png" alt="home">
                    </div>
                    <div class="home-section-1-right-cont-bottom-part-right-part">
                        <h1>ECOSYSTEM</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-section-1-cont-2">
            <div class="home-section-1-cont-2-subcont">

                <div class="home-section-1-cont-2-box boxx-first">
                    <h1>4,000+</h1>
                    <p class="home-section-1-cont-2-box-text1">Global customers</p>
                    <p class="home-section-1-cont-2-box-text2">We’ve helped over 4,000 amazing global companies.</p>
                </div>
                <div class="home-section-1-cont-2-box">
                    <h1>600%</h1>
                    <p class="home-section-1-cont-2-box-text1">Return on investment</p>
                    <p class="home-section-1-cont-2-box-text2">We have return rankings best in the industry in INDIA</p>
                </div>
                <div class="home-section-1-cont-2-box">
                    <h1>10k</h1>
                    <p class="home-section-1-cont-2-box-text1">Global downloads</p>
                    <p class="home-section-1-cont-2-box-text2">Our app has been downloaded over 10k times.</p>
                </div>
                <div class="home-section-1-cont-2-box boxx-last">
                    <h1>200+</h1>
                    <p class="home-section-1-cont-2-box-text1">5-star reviews</p>
                    <p class="home-section-1-cont-2-box-text2">We’re proud of our 5-star rating with over 200 reviews.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="home-section-2">
        <div class="home-section-2-header">
            <h1>Stay Connected with <span>REVERR</span></h1>
            <p>The most powerful finance and Start-Up community that connects with your Startup buddies, Mentors and Investors Across the globe . 
                Track spending and categorize expenses so you can see how is startup growing.</p>
                <a href="#"><button>Get Started</button></a>
        </div>
        <div class="home-section-2-img-cont">
            <img src="/images/Group 6267145.png" alt="home">
        </div>
    </section>


    <section class="home-section-3">
<div class="home-section-3-left-cont">
    <h1>Making a community to keeps Start-ups <span>CONNECTED</span> </h1>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
<div class="home-section-3-left-cont-input-cont">
    <input type="text" name="resource" id="resouce" placeholder="Finance, Start-up">
    <img src="/images/Icon.png" alt="search-icon">
    <button>Find Resources</button>
</div>
</div>
<div class="home-section-3-right-cont">
    <img src="/images/Frame 6267146.png" alt="home">
</div>
    </section>

<section id="home-section-4">
    <div class="home-section-4-left-col">
        <img src="/images/Group 6266767.png" alt="home">
    </div>
    <div class="home-section-4-right-col">
        <div class="home-section-4-right-col-sub-heading-text">
            <!-- <div class="lineee"></div> -->
            <!-- <p>I am a sub heading</p> -->
        </div>
        <h3>Staying Together and Growing Together </h3>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the best.</p> -->
    <a href="#"><button>Explore More</button></a>
    </div>
</section>


<section id="home-section-5">
    <div class="home-section-5-left-col">
        <img src="/images/comma.png" alt="comma">
        <h5>“People now recognise that having a good performance conversation means that something happens as a result.”</h5>
    <p>“With REVERR, the team i was building was created in not time and my dream in to a reality. My journey was as smooth as they come.</p>
    <div class="button-with-arroww">
        <a href="#"><button>Read Success Story</button></a>
        <img src="/images/Iconnn.png" alt="arrow">
    </div>
</div>
    <div class="home-section-5-right-col">
        <img src="/images/BG.png" alt="home">
    </div>
</section>

<%-include("footer")-%>


</head>
<body>
    
</body>
</html>