<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homeFinal.css" />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/images/ReverrBlack2.svg">
    <%-include("header")-%>

    <section id="home-section-1">
        <div class="home-section-1-cont">
            <div class="home-section-1-left-cont">
                <img class="home-section-1-cont_img" src="/images/Group 6267147.png" alt="home">
                <img class="rocket_home_animated" src="/images/MlCmEoDb6V.gif" alt="rocket">
            </div>
            <div class="home-section-1-right-cont">
                <div class="home-section-1-right-cont-top-part">
                    <div class="home-section-1-right-cont-top-part-top">
                        <h1>YOUR DREAM</h1>
                        <span><img src="/images/Group 6267144.png" alt="home"></span>
                    </div>
                    <div class="home-section-1-coloredBall"></div>
                    <div class="home-section-1-right-cont-top-part-bottom">
                        <h1>OUR RESPONSIBILITY</h1>
                    </div>
                </div>
                <div class="home-section-1-right-cont-bottom-part">
                    <h1>If you can dream it we can complete it, because we very well believe in OUR MOTO</h1>
                    <img src="/images/homeSnakeRope.png" alt="snake">
                </div>
            </div>

            <!-- <div class="home-section-1-right-cont">
                <div class="home-section-1-right-cont-top-part">
                    <div class="home-section-1-right-cont-top-part-left-part">
                        <h1>REVERR</h1>
                    </div>
                    <div class="home-section-1-right-cont-top-part-right-part">
                        <p>If you can dream it we can complete it, because we very well believe in our motto
                            <span>“YOUR DREAM OUR RESPONSIBILITY”</span> </p>
                    </div>
                </div>
                <div class="home-section-1-right-cont-bottom-part">
                    <div class="home-section-1-right-cont-bottom-part-left-part">
                        <img src="/images/Group 6267144.png" alt="home">
                    </div>
                    <div class="home-section-1-right-cont-bottom-part-right-part">
                        <h1>ECOSYSTEM</h1>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="home-section-1-cont-2">
            <div class="home-section-1-cont-2-subcont">

                <div class="home-section-1-cont-2-box boxx-first">
                    <div><h1 id="number001">250</h1><span>+</span></div>
                    <p class="home-section-1-cont-2-box-text1">Founders</p>
                    <!-- <p class="home-section-1-cont-2-box-text2">We’ve helped over 4,000 amazing global companies.</p> -->
                </div>
                <div class="home-section-1-cont-2-box">
                    <div><h1 id="number002">75</h1><span>+</span></div>
                    <p class="home-section-1-cont-2-box-text1">Mentors</p>
                    <!-- <p class="home-section-1-cont-2-box-text2">We have return rankings best in the industry in INDIA</p> -->
                </div>
                <div class="home-section-1-cont-2-box">
                    <div><h1 id="number003">50</h1><span>+</span></div>
                    <p class="home-section-1-cont-2-box-text1">VC’s</p>
                    <!-- <p class="home-section-1-cont-2-box-text2">Our app has been downloaded over 10k times.</p> -->
                </div>
                <div class="home-section-1-cont-2-box boxx-last">
                    <div><h1 id="number004">10</h1><span>+</span></div>
                    <p class="home-section-1-cont-2-box-text1">Ecosystem Partners</p>
                    <!-- <p class="home-section-1-cont-2-box-text2">We’re proud of our 5-star rating with over 200 reviews.</p> -->
                </div>
            </div>
        </div>
    </section>


<section id="home-section-1_5">
<h1 class="home-section-1_5_header">Our Partners</h1>
<%-include("infiniteScrollComponent")-%>
<!-- <div class="home-section-1_5_topCont"> 
<img src="/images/google.png" alt="g">
<img src="/images/microsoft.png" alt="g">  
</div>

<div class="home-section-1_5_bottomCont">  
<img src="/images/facebook.png" alt="g">
<img src="/images/aws.png" alt="g"> 
</div> -->

</section>

    <section id="home-section-2">
        <div class="home-section-2-header">
            <h1>Stay Connected with <span>REVERR</span></h1>
            <p>The most engaging Start-Up community that connects with your Startup buddies, Mentors and Investors Across the globe . Track spending and categorize expenses so you can see how is startup growing.</p>
                <a href="#"><button>Get Started</button></a>
        </div>
        <div class="home-section-2-img-cont">
            <img src="/images/iPhone 13 Pro.png" alt="home">
        </div>
    </section>


    <section class="home-section-3">
<div class="home-section-3-left-cont">
    <div class="home-section-3-left-cont-title">
      <img src="/images/Line 96.png" alt="line">
      <p>FOR <span>INVESTORS</span></p>  
    </div>
    <h1>MAKING STARTUP INVESTMENT FEEL LIKE A WALK IN THE GARDEN!</h1>
    <!-- <h1>Making a community to keeps Start-ups <span>CONNECTED</span> </h1> -->
    <p>REVERR aims to provide a seamless infrastructure for both the startups and investors to enable easy flow of capital.</p>
    <a href=" https://forms.gle/jXM3HzmXPegTfsvK8"><button class="home-section-3-left-cont-input-cont_button">Get Started</button></a>
<div class="home-section-3-left-cont-input-cont">
    <!-- <input type="text" name="resource" id="resouce" placeholder="Finance, Start-up">
    <img src="/images/Icon.png" alt="search-icon">
    <button>Find Resources</button> -->
    
</div>
</div>
<div class="home-section-3-right-cont">
    <img src="/images/Frame 6267146.png" alt="home">
</div>
    </section>

<section id="home-section-3-5">
    <div class="home-section-3-5-left-col">
        <img src="/images/Business_idea_or_solution_offering__mentor_give_an_advice__solution_-removebg-preview 1.png" alt="home">
    </div>
    <div class="home-section-3-5-right-col">
        <div class="home-section-3-5-right-col-sub-heading-text">
            <!-- <div class="lineee"></div> -->
            <!-- <p>I am a sub heading</p> -->
        </div>
        <div class="home-section-3-left-cont-title">
            <img src="/images/Line 96.png" alt="line">
            <p>FOR <span>MENTORS</span></p>  
          </div>
        <h3>MAKING MENTORSHIP AVAILABLE TO EVERY DREAMER!</h3>
        <p>Guide the Next-Generation of Entrepreneurs throughout their journey and help them acheve their dreams!</p>
    <a href="/mentorform"><button>See more  ></button></a>
    </div>
</section>

<section id="home-section-4">
    <div class="home-section-4-left-col">
        <img src="/images/460557-PFQ5QV-679-removebg-preview 1.png" alt="home">
    </div>
    <div class="home-section-4-right-col">
        <div class="home-section-4-right-col-sub-heading-text">
            <!-- <div class="lineee"></div> -->
            <!-- <p>I am a sub heading</p> -->
        </div>
        <div class="home-section-3-left-cont-title">
            <img src="/images/Line 96.png" alt="line">
            <p>FOR <span>FOUNDERS</span></p>  
          </div>
        <h3>MAKING YOUR STARTUP JOURNEY AS EASY AS BREATHING! </h3>
        <p>REVERR enables you with an ecosystem of resources that would help you build your billion dollar dream!</p>
    <a href="https://founder.reverr.io/"><button>Explore More</button></a>
    </div>
</section>

<!-- 
<section id="home-section-5">
    <div class="home-section-5-left-col">
        <img src="/images/comma.png" alt="comma">
        <h5>“People now recognise that having a good performance conversation means that something happens as a result.”</h5>
    <p>“With REVERR, the team i was building was created in not time and my dream in to a reality. My journey was as smooth as they come.</p>
    <div class="button-with-arroww">
        <a href="#"><button>Read Success Story</button></a>
        <img src="/images/Iconnn.png" alt="arrow">
    </div>
</div>
    <div class="home-section-5-right-col">
        <img src="/images/BG.png" alt="home">
    </div>
</section> -->

<!-- <section id="home-section-6">
<div class="home-section-6-inner-container">
    <h1>Never miss a chance to be a part of something big. </h1>
    <h1> Come join us because we welcome you with open hands!</h1>
    <div class="home-section-6-btn-container">
        <a href="#"><button class="home-section-6-join-now-btn">Join Now</button></a>
        <a href="#"><button class="home-section-6-explore-more-btn">Explore More</button></a>
    </div>
</div>
</section> -->

<%-include("footerNew")-%>


</head>
<body>
    
</body>
<script>
    let speed=50
   function incEltNbr(id) {
  elt = document.getElementById(id);
  endNbr = Number(document.getElementById(id).innerHTML);
  incNbrRec(0, endNbr, elt);
 
}
function incEltNbr1(id) {
  elt = document.getElementById(id);
  endNbr = Number(document.getElementById(id).innerHTML);
  
  incNbrRec1(0,endNbr,elt);
}

function incNbrRec1(i,endNbr,elt){
    // elt.innerHTML = i;
    // for(i=0;i<=endNbr;i+50){
    //     incNbrRec(i, endNbr, elt);   
    // }
    if (i <= endNbr) {
    elt.innerHTML = i;
    setTimeout(function() {//Delay a bit before calling the function again.
      incNbrRec1(i +2, endNbr, elt);
    }, 55);
  }
}

function incNbrRec(i, endNbr, elt) {
  if (i <= endNbr) {
    elt.innerHTML = i;
    setTimeout(function() {//Delay a bit before calling the function again.
      incNbrRec(i + 1, endNbr, elt);
    }, 100);
  }
}
setTimeout(()=>{
incEltNbr1("number001");
incEltNbr("number002");
incEltNbr("number003");
incEltNbr("number004");
},500)

</script>
</html>