<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/infiniteScrollComponent.css" />
    <title></title>
</head>
<body>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img class="taxAsvisoryIcon" src="/images/jasaro 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconav" src="/images/avacasa_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIcond" src="/images/dastawezz_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconn" src="/images/convanto 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconn" src="/images/recur club_prev_ui (1) 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconn" src="/images/ay venture_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconnn" src="/images/tax asvisory_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIcon" src="/images/venture wolf_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIcon" src="/images/kansaltansy 2.png" alt="" />
            </div>
            <div class="slide">
                <img class="rhmcIcon" src="/images/rhmc-removebg-preview.png" alt="" />
            </div>
            <div class="slide">
                <img class="rhmcIcon" src="/images/logo-removebg-preview.png" alt="" />
            </div>

            <div class="slide">
                <img class="taxAsvisoryIcon" src="/images/jasaro 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconav" src="/images/avacasa_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIcond" src="/images/dastawezz_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconn" src="/images/convanto 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconn" src="/images/recur club_prev_ui (1) 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconn" src="/images/ay venture_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIconnn" src="/images/tax asvisory_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIcon" src="/images/venture wolf_prev_ui 1.png" alt="" />
            </div>
            <div class="slide">
                <img class="taxAsvisoryIcon" src="/images/kansaltansy 2.png" alt="" />
            </div>
            <div class="slide">
                <img class="rhmcIcon" src="/images/rhmc-removebg-preview.png" alt="" />
            </div>
            <div class="slide">
                <img class="rhmcIcon" src="/images/logo-removebg-preview.png" alt="" />
            </div>
          
        </div>
    </div>
</body>
</html>