<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/investor.css" />
    <title>Investor</title>
</head>
<body>
    <%-include("header")-%>

   <section id="investor-section-1">
    <div class="investor-section-1-left-col">
        <h1>MAKING STARTUP  INVESTMENT FEEL LIKE A WALK IN THE GARDEN</h1>
        <div class="investor-section-1-btn-cont">
            <a href="https://investor.reverrapp.com/"><button class="join-now-btn">Join Now</button></a>
            <a href="https://investor.reverrapp.com/"><button class="explore-more-btn">Explore More</button></a>
        </div>
    </div>
    <div class="investor-section-1-right-col">
        <img src="/images/image 224.png" alt="investor">
    </div>
   </section>

   <section id="investor-process">
    <div class="investor-process-header">
        <h2>Investor Process</h2>
        <p>Start investing in startups within 2 minutes!</p>
    </div>
    <div class="investor-process-process-cont-1">
        <div class="investor-process-process-cont-1-box order1">
            <div class="arrow-img-cont"><img src="/images/image 215.png" alt="arrow-investor"></div>
            <img src="/images/Handshake.png" alt="investor">
            <h4>Create Your Profile and Fill in <br> the Necessary Details</h4>
           
        </div>
        <div class="investor-process-process-cont-1-box order2">
            <div class="arrow-img-cont arrow-img-cont-toggle"><img src="/images/image 215.png" alt="arrow-investor"></div>
            <img src="/images/Eye.png" alt="investor">
            <h4>Discover the Startups on the <br/>Platform</h4>
          

        </div>
        <div class="investor-process-process-cont-1-box order3">
            <div class="arrow-img-cont-down arrow-img-cont-down-toggle"></div>
            <img src="/images/MonitorPlay.png" alt="investor">
            <h4>Start Investing!</h4>
          
        </div>
    </div>
    <div class="btn-contt">
        <a href="https://investor.reverrapp.com/"><button class="become-investor-btn">Become an INVESTOR</button></a>
    </div>
</section>

<section id="why-inest-with-reverr">
    <h3 class="why-inest-with-reverr-title">WHY INVEST WITH REVERR?</h3>
    <div class="why-inest-with-reverr-img-cont">
        <div class="why-inest-with-reverr-img-left-cont">
            <div class="left-top-cont">
                <div class="top-cont-card-1">
                    <img src="/images/human-experience-design-1-60757b7499ec2-1520x800 1.png" alt="investor">
                    <p>Accessibility of the BEST deals.</p>
                </div>
                <div class="top-cont-card-2">
                    <img src="/images/istockphoto-1273058761-1024x1024 1.png" alt="investor">
                    <p>Efficient deal screening <br> processes.
                    </p>
                </div>
            </div>
            <div class="left-bottom-cont">
                <div class="top-cont-card-1">
                    <img src="/images/6 7.png" alt="investor">
                    <p>Accessibility of the BEST deals.</p>
                </div>
                <div class="top-cont-card-2">
                    <img src="/images/human-experience-design-1-60757b7499ec2-1520x800 1.png" alt="investor">
                    <p>Accessibility of the BEST deals.</p>
                </div>
            </div>
        </div>
        <div class="why-inest-with-reverr-img-right-cont">
            <img src="/images/Next steps-rafiki 1.png" alt="investor">
        </div>
    </div>
    <div class="btn-contt">
        <a href="https://investor.reverrapp.com/"><button class="become-investor-btn">Become a REVERRITE</button></a>
    </div>
</section>

<section id="sector-agnostic-main-cont">
    <div class="sector-agnostic-cont">
        <div class="sector-agnostic-left-cont">
            <div class="sector-agnostic-header">
                <h2>We are here to revolutionize Start-up investing.</h2>
                <a href="https://investor.reverrapp.com/"><button>Join Now</button></a>
            </div>
        </div>
        <div class="sector-agnostic-right-cont">
           <h2>We are Sector Agnostic</h2> 
           <img src="/images/Frame 6267122.png" alt="investor">
        </div>
    </div>
   
</section>

<section id="register-investor">
    <div class="register-investor-cont">
        <div class="register-investor-left-cont">
            <div class="register-investor-header">
                <h2>Register as an   Investor.</h2>
                <p>So what are you waiting for? Register yourself <br> and be a part of the REVERR REVOLUTION TODAY!</p>
                <a href="https://investor.reverrapp.com/"><button>Join Now</button></a>
            </div>
        </div>
        <div class="register-investor-right-cont">
         
           <img src="/images/Group 6266730.png" alt="investor">
        </div>
    </div>
</section>

<%-include("footer")-%>

</body>
</html>
