<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/investor.css" />
    <title>Investor</title>
    <link rel="icon" type="image/x-icon" href="/images/ReverrBlack2.svg">
  </head>
  <body>
    <%-include("header")-%>

    <section id="investor-section-1">
      <div class="investor-section-1-left-col">
        <h1>MAKING STARTUP INVESTMENT FEEL LIKE A WALK IN THE GARDEN</h1>
        <div class="investor-section-1-btn-cont">
          <a href=" https://forms.gle/jXM3HzmXPegTfsvK8"
            ><button class="join-now-btn">Join Now</button></a
          >
          <a href="https://forms.gle/jXM3HzmXPegTfsvK8"
            ><button class="explore-more-btn">Explore More</button></a
          >
        </div>
      </div>
      <div class="investor-section-1-right-col">
        <img src="/images/investment 1.png" alt="investor" />
      </div>
    </section>

    <div class="lineContainerrr">
      <img src="/images/Line 12096.png" alt="">
    </div>

    <section id="investor-process">
      <div class="investor-process-header">
        <h2>Investor Process</h2>
        <p>Start investing in startups within 2 <br>minutes!</p>
      </div>
      <div class="investor-process-process-cont-1">
        <div class="investor-process-process-cont-1-box order1">
          <!-- <div class="arrow-img-cont">
            <img src="/images/goldenRightarrow1.png" alt="arrow-investor" />
          </div> -->
          <svg class="arrow-img" width="18" height="35" viewBox="0 0 18 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5625 32.6531L16.3144 17.3522L1.5625 2.05127" stroke="url(#paint0_linear_240_37015)" stroke-width="3.05213" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
            <linearGradient id="paint0_linear_240_37015" x1="4.0042" y1="2.05127" x2="8.93847" y2="32.6531" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4886E2"/>
            <stop offset="1" stop-color="#FFADFC"/>
            </linearGradient>
            </defs>
            </svg>
            
          <div class="investor-process-process-cont-1-box-con">
          <img src="/images/Handshake.png" alt="investor" />
        
          <svg class="investor-process-process-cont-1-box-con-img1" width="126" height="131" viewBox="0 0 126 131" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.4409 1.64721C87.0118 -1.99296 110.871 6.10948 121.656 24.0008C131.673 40.6192 117.859 59.8799 112.842 78.6241C108.231 95.8516 109.764 117.019 94.3548 125.997C78.1731 135.426 58.2926 128.108 41.2535 120.335C23.6092 112.287 2.7424 102.363 0.353282 83.1174C-1.9394 64.6486 19.5558 54.4467 31.28 39.9935C42.7743 25.8238 48.4745 4.82649 66.4409 1.64721Z" fill="url(#paint0_linear_240_36982)"/>
            <defs>
            <linearGradient id="paint0_linear_240_36982" x1="82.2858" y1="3.24678" x2="71.9086" y2="138.456" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1E96FC"/>
            <stop offset="1" stop-color="#4223FF" stop-opacity="0.31"/>
            </linearGradient>
            </defs>
            </svg>
           
            
          <h4>
            Create Your Profile and Fill in <br />
            the Necessary Details
          </h4>
          <div class="investor-process-process-cont-1-box-con-img2">
          <svg width="71" height="70" viewBox="0 0 71 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1231 0.954975C42.6376 1.14483 49.2128 6.41573 54.0476 12.1714C58.207 17.123 57.1486 24.2925 59.7135 30.2289C62.7039 37.1499 71.1717 42.1454 70.2308 49.6259C69.2872 57.1277 62.026 62.5812 55.2278 65.8905C49.0459 68.8999 41.9856 66.293 35.1231 66.7162C27.599 67.1802 19.8566 71.8943 13.1323 68.4865C6.20365 64.9752 1.98845 57.0369 0.859099 49.3518C-0.192942 42.1928 4.76775 35.9536 7.35864 29.1975C9.77525 22.8958 10.7594 16.0102 15.4909 11.1973C20.7952 5.80162 27.5593 0.763874 35.1231 0.954975Z" fill="url(#paint0_linear_240_36986)"/>
            <defs>
            <linearGradient id="paint0_linear_240_36986" x1="35.5091" y1="0.949707" x2="35.5091" y2="69.715" gradientUnits="userSpaceOnUse">
            <stop stop-color="#46FFA7"/>
            <stop offset="1" stop-color="#7AFC2A" stop-opacity="0.6"/>
            </linearGradient>
            </defs>
            </svg>
          </div>
        </div>
        </div>
        <div class="investor-process-process-cont-1-box order2">
          <!-- <div class="arrow-img-cont arrow-img-cont-toggle">
            <img src="/images/goldenRightarrow1.png" alt="arrow-investor" />
          </div> -->
          <svg class="arrow-img" width="18" height="35" viewBox="0 0 18 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5625 32.6531L16.3144 17.3522L1.5625 2.05127" stroke="url(#paint0_linear_240_37015)" stroke-width="3.05213" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
            <linearGradient id="paint0_linear_240_37015" x1="4.0042" y1="2.05127" x2="8.93847" y2="32.6531" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4886E2"/>
            <stop offset="1" stop-color="#FFADFC"/>
            </linearGradient>
            </defs>
            </svg>
          <div class="investor-process-process-cont-1-box-con">
            <svg class="investor-process-process-cont-1-box-con-img3" width="121" height="111" viewBox="0 0 121 111" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M45.788 30.3195C63.4343 19.8507 77.6039 -5.03111 96.9207 1.88654C116.666 8.95779 118.457 36.0708 120.21 56.9711C121.768 75.5611 121.561 98.1527 105.834 108.186C91.3251 117.442 75.3462 97.4253 58.1582 96.5583C40.0896 95.6468 19.9578 115.827 7.00041 103.201C-5.93047 90.6009 3.95471 67.945 12.4369 52.007C18.9915 39.6909 33.789 37.4379 45.788 30.3195Z" fill="url(#paint0_linear_240_36981)"/>
              <defs>
              <linearGradient id="paint0_linear_240_36981" x1="97.1851" y1="2.92137" x2="68.7269" y2="133.956" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E48AFF"/>
              <stop offset="0.6875" stop-color="#9A4AFF" stop-opacity="0.37"/>
              <stop offset="1" stop-color="#6E00FB" stop-opacity="0.37"/>
              </linearGradient>
              </defs>
              </svg>
              
          <img src="/images/Eye.png" alt="investor" />
          <h4>Discover the Startups on the <br />Platform</h4>
        </div>
        </div>
        <div class="investor-process-process-cont-1-box order3">
          <div class="arrow-img-cont-down arrow-img-cont-down-toggle"></div>
          <div class="investor-process-process-cont-1-box-con">
            <svg class="investor-process-process-cont-1-box-con-img4" width="170" height="142" viewBox="0 0 170 142" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M79.8642 24.1206C97.7415 18.6759 112.093 -4.94969 129.758 1.14803C145.828 6.69492 141.356 32.0191 148.035 47.6519C154.497 62.7757 175.732 76.8051 168.364 91.5089C159.947 108.308 133.418 102.327 116.521 110.548C107.928 114.729 103.539 125.585 94.196 127.594C85.0378 129.564 76.718 119.827 67.4378 121.105C47.2061 123.89 28.2688 148.657 10.1901 139.157C-4.86535 131.247 1.27268 105.339 6.86971 89.2795C11.6763 75.4878 30.1339 71.9881 37.9083 59.6239C44.0856 49.7999 37.4457 34.0607 46.3044 26.5644C55.0434 19.1693 68.9127 27.4559 79.8642 24.1206Z" fill="url(#paint0_linear_240_36980)"/>
              <defs>
              <linearGradient id="paint0_linear_240_36980" x1="137.18" y1="-3.81737" x2="-2.60734" y2="148.484" gradientUnits="userSpaceOnUse">
              <stop stop-color="#FF7455"/>
              <stop offset="1" stop-color="#F8ED8E" stop-opacity="0.38"/>
              </linearGradient>
              </defs>
              </svg>
              
          <img src="/images/MonitorPlay.png" alt="investor" />
          <h4>Start Investing!</h4>
        </div>
        </div>
      </div>
      <div class="btn-contt">
        <a href=" https://forms.gle/jXM3HzmXPegTfsvK8"
          ><button class="become-investor-btn">Become an INVESTOR</button></a
        >
      </div>
    </section>

    <div class="lineContainerrr">
      <img src="/images/Line 12096.png" alt="">
    </div>

    <section id="why-inest-with-reverr">
      <h3 class="why-inest-with-reverr-title">WHY INVEST WITH REVERR?</h3>
      <div class="why-inest-with-reverr-img-cont">
        <div class="why-inest-with-reverr-img-left-cont">
          <div class="left-top-cont">
            <div class="top-cont-card-1">
              <img
                src="/images/human-experience-design-1-60757b7499ec2-1520x800 1.png"
                alt="investor"
              />
              <p>Accessibility of the BEST deals.</p>
            </div>
            <div class="top-cont-card-2">
              <img
                src="/images/istockphoto-1273058761-1024x1024 1.png"
                alt="investor"
              />
              <p>
                Efficient deal screening <br />
                processes.
              </p>
            </div>
          </div>
          <div class="left-bottom-cont">
            <div class="top-cont-card-1">
              <img src="/images/6 7.png" alt="investor" />
              <p>Accessibility of the BEST deals.</p>
            </div>
            <div class="top-cont-card-2">
              <img
                src="/images/human-experience-design-1-60757b7499ec2-1520x800 1.png"
                alt="investor"
              />
              <p>Accessibility of the BEST deals.</p>
            </div>
          </div>
        </div>
        <div class="why-inest-with-reverr-img-right-cont">
          <img src="/images/g2510.png" alt="investor" />
        </div>
      </div>
      <div class="btn-contt">
        <a href=" https://forms.gle/jXM3HzmXPegTfsvK8"
          ><button class="become-investor-btn">Become a INVESTOR</button></a
        >
      </div>
    </section>

    <div class="lineContainerrr">
      <img src="/images/Line 12096.png" alt="">
    </div>

    <section id="sector-agnostic-main-cont">
      <div class="sector-agnostic-cont">
        <div class="sector-agnostic-left-cont">
          <div class="sector-agnostic-header">
            <h2>We are here to revolutionize Start-up investing.</h2>
            <a href=" https://forms.gle/jXM3HzmXPegTfsvK8"
              ><button>Join Now</button></a
            >
          </div>
        </div>
        <div class="sector-agnostic-right-cont">
          <h2>We are Sector Agnostic</h2>
          <img src="/images/Frame 626712222.png" alt="investor" />
        </div>
      </div>
    </section>

    <div class="lineContainerrr">
      <img src="/images/Line 12096.png" alt="">
    </div>

    <section id="register-investor">
      <div class="register-investor-cont">
        <div class="register-investor-left-cont">
          <div class="register-investor-header">
            <h2>Register as an Investor.</h2>
            <p>
              So what are you waiting for? Register yourself <br />
              and be a part of the REVERR REVOLUTION TODAY!
            </p>
            <a href=" https://forms.gle/jXM3HzmXPegTfsvK8"
              ><button>Join Now</button></a
            >
          </div>
        </div>
        <div class="register-investor-right-cont">
          <div>
            <img src="/images/Business vision-pana 1.png" alt="investor" />
          </div>
          
        </div>
      </div>
    </section>

    <%-include("footerNew")-%>
  </body>
</html>
