<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Knowledge</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/knowledge.css" />
  </head>
  <body>
    <%- include('contactheader'); -%> <%- include('header'); -%>
    <div class="knowledge__bgellipse1">
      <img src="/images/backgroundellipse1.svg" alt="" />
    </div>
    <div class="knowledge__bgellipse2">
      <img src="/images/backgroundellipse2.svg" alt="" />
    </div>
    <section id="knowledge__intro">
      <div class="knowledge__main">
        <div class="knowledge__main_left">
          <div class="knowledge__intro_heading">
            <h1>Knowledge</h1>
          </div>
          <div class="knowledge__text_content">
            <p>
              Reverr aims at creating connections and helping you create
              valuable connections to learn from and get inspired by. Reverr's
              'COMMUNITY' is your own entrepreneur network for startups and our
              services are heavily network-bound. Through us, you get a startup
              networking platform that is as goal-oriented as you are.Through
              networking channels at Reverr, you get:
            </p>
          </div>
        </div>
        <div class="knowledge__buttons">
          <a href="https://play.google.com/store/apps/details?id=com.reverr"
            ><button class="knowledge__buttons_know_more">
              Download our app
            </button></a
          >
          <a href="/contactus"
            ><button class="knowledge__buttons_contact_us">
              Contact Us
            </button></a
          >
        </div>
      </div>
      <div class="knowledge__image">
        <img src="/images/Saly-16.png" alt="knowledge" />
      </div>
    </section>

    <section id="howitworks">
      <div><h1 class="howitworks__heading">How it Works?</h1></div>
      <div>
        <p class="howitworks__text_content">
          Creating a networking platform at Reverr is very simple. There’s a
          small process that you need to go through which includes:
        </p>
      </div>
      <div class="howitworks__main">
        <div class="howitworks__content">
          <div>
            <div class="hiw__icon">
              <img src="/images/person-vector.png" alt="person" />
              <p><b>Login or Signup to our app</b></p>
              <p>
                You simply have to download Reverr app from Playstore and fill
                in your credentials so that we remember who you are and boom!
                You are ready to go
              </p>
            </div>
          </div>
          <div class="howitworks__icons_down">
            <div class="hiw__icon">
              <img src="/images/device-vector.png" alt="person" />
              <p><b>Interaction with Community</b></p>
              <p>
                Once you login to our app, we will make you a part of Reverr
                group and you can talk to multiple entrepreneurs and mentors
                alike.
              </p>
            </div>
            <div class="hiw__icon book">
              <img src="/images/book-vector.png" alt="person" />
              <p><b>Clear all your Doubts</b></p>
              <p>
                Reverr provides you space and place to open up yourself and your
                ideas without fear of harsh judgment.
              </p>
            </div>
          </div>
        </div>
        <div class="howitworks__image">
          <img src="/images/image 71.png" />
        </div>
      </div>
    </section>

    <section id="section_whyus">
      <div class="section-content-1">
        <div class="main-text"><h1>Why Choose Us..?</h1></div>
        <div class="card-container">
          <div class="card-row">
            <div class="card-img">
              <img src="images/image 74.png" />
            </div>
            <p class="card-title">Community</p>
            <p class="card-para">
              Community is a space that Reverr offer you where you can find a
              cofounder and learn how the startup world works. In ways that
              traditional marketing or advertising channels can't, community
              multiplies your startup's resources, presence, and reach. When you
              become a part of it effectively
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/image 75.png" class="card-img" />
            </div>
            <p class="card-title">Patch</p>
            <p class="card-para">
              With this, you can schedule a one on one meeting with new people
              and can also set-up a video call with them to get to know them
              better. So, once you are a part of the community, you can contact
              your mentor and schedule a video call with them to talk about
              future plans and current ventures.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/image 76.png" class="card-img" />
            </div>
            <p class="card-title">Vibe</p>
            <p class="card-para">
              Well, swiping right is not just a matter of dating now. You can
              swipe right and find meaningful professional networks. Sounds fun
              right! Once you are a part of it, it would be even more fun than
              it just sounds. You can swipe on the basis of your interests and
              filter the choices on the basis of your industry
            </p>
          </div>
        </div>
      </div>

      <div class="section-content-2">
        <div class="main-text">
          <h1>What we Educate About?</h1>
          <p>
            Having a community helps entrepreneurs of early-stage firms, like
            you, feel less isolated and enables you to discuss their struggles
            with others. Your participation in the community motivates you and
            sparks a group effort to resolve the issue that your startup aims to
            address.
          </p>
        </div>
        <div class="card-container">
          <div class="card-row-1">
            <div class="card-img">
              <img src="images/Ellipse 195.png" />
            </div>
            <p class="card-title">Share knowledge and develop links</p>
            <p class="card-para">
              Once you have a good network by your side, you can get knowledge
              of multiple kinds from people rowing in the same boat as you. You
              get this safe platform for network building at Reverr. Networking
              is an excellent approach to improve your communication skills
            </p>
          </div>
          <div class="card-row-1">
            <div class="card-img">
              <img src="images/image 73.png" class="card-img" />
            </div>
            <p class="card-title">Increase your leverage with investors</p>
            <p class="card-para">
              Building a solid network provides you with greater negotiating
              power with investors because doing so will increase your
              visibility to a wider audience thanks to other professionals in
              your sector. Investors will inevitably find your brand more
              attractive and desirable
            </p>
          </div>
          <div class="card-row-1">
            <div class="card-img">
              <img src="images/image 72.png" class="card-img" />
            </div>
            <p class="card-title">Get Ideas & Feedback</p>
            <p class="card-para">
              The network you create at Reverr would also be centered on
              information exchange between your newly formed relationships.
              Other professionals you'll met might be able to provide you with
              advice and suggestions on how to get past obstacles if you ever
              run into them
            </p>
          </div>
        </div>
      </div>
    </section>
    <%-include('testimonials');-%> <%- include('footerNew'); -%>
  </body>
</html>
