<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Knowledge</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/knowledge.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <section id="knowledge__intro">
      <div class="knowledge__main">
        <div class="knowledge__main_left">
          <div class="knowledge__intro_heading">
            <h1>Knowledge</h1>
          </div>
          <div class="knowledge__text_content">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It's
              easy. Just click “Edit Text” or double click me to add your own
              content and make changes to the font. Feel free to drag and drop
              anywhere you like on your page.
            </p>
          </div>
        </div>
        <div class="knowledge__buttons">
          <button class="knowledge__buttons_know_more"><a>Know More</a></button>
          <button class="knowledge__buttons_contact_us">
            <a href="/contactus">Contact Us</a>
          </button>
        </div>
      </div>
      <div class="knowledge__image">
        <img src="/images/Saly-16.png" alt="knowledge" />
      </div>
    </section>

    <section id="section_whyus">
      <div class="section-content-1">
        <div class="main-text"><h1>Why Choose Us..?</h1></div>
        <div class="card-container">
          <div class="card-row">
            <div class="card-img">
              <img src="images/image 74.png" />
            </div>
            <p class="card-title">I'm a title</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/image 75.png" class="card-img" />
            </div>
            <p class="card-title">I'm a title</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/image 76.png" class="card-img" />
            </div>
            <p class="card-title">I'm a title</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
        </div>
      </div>

      <div class="section-content-2">
        <div class="main-text">
          <h1>What we Educate About?</h1>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph.
          </p>
        </div>
        <div class="card-container">
          <div class="card-row-1">
            <div class="card-img">
              <img src="images/Ellipse 195.png" />
            </div>
            <p class="card-title">I'm a subject</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
          <div class="card-row-1">
            <div class="card-img">
              <img src="images/image 73.png" class="card-img" />
            </div>
            <p class="card-title">I'm a subject</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
          <div class="card-row-1">
            <div class="card-img">
              <img src="images/image 72.png" class="card-img" />
            </div>
            <p class="card-title">I'm a subject</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%-include('testimonials');-%> <%- include('footer'); -%>
  </body>
</html>
