<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mentorship.css" />
    <title>Mentorship</title>
  </head>
  <body>
    <%-include("contactheader")-%>
    <%-include("header")-%>

    <section id="mentorship_page__intro">
      <div class="mentorship_page__main">
        <div class="mentorship_page__main_left">
          <div class="mentorship_page__intro_heading">
            <h1>Mentorship</h1>
          </div>
          <div class="mentorship_page__text_content">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It's
              easy. Just click “Edit Text” or double click me to add your own
              content and make changes to the font. Feel free to drag and drop
              anywhere you like on your page.
            </p>
          </div>
        </div>
        <div class="mentorship_page__buttons">
          <a href="https://play.google.com/store/apps/details?id=com.reverr">
            <button class="mentorship_page__buttons_know_more">
              Download our app
            </button>
          </a>
          <a href="/contactus">
            <button class="mentorship_page__buttons_contact_us">
              Contact Us
            </button>
          </a>
        </div>
      </div>
      <div class="mentorship_page__image">
        <img src="/images/Saly-34.svg" alt="mentorship" />
      </div>
    </section>

    <section id="howitworks">
      <div><h1 class="howitworks__heading">How it Works?</h1></div>
      <div>
        <p class="howitworks__text_content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo sit
          nulla commodo elit enim platea. Tortor interdum nisi nisl risus
          venenatis habitant posuere proin sem.
        </p>
      </div>
      <div class="howitworks__main">
        <div class="howitworks__content">
          <div class="howitworks__icons_down">
            <div class="hiw__icon">
              <img src="/images/person-vector.png" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
            <div class="hiw__icon">
              <img src="/images/device-vector.png" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
            <div class="hiw__icon book">
              <img src="/images/book-vector.png" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
            <div class="hiw__icon">
              <img src="/images/bag.svg" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="howitworks__image">
          <img src="/images/image 60.svg" />
        </div>
      </div>
    </section>

    <section id="section_whyus">
      <div class="section-content-1">
        <div class="main-text"><h1>Why Choose Us..?</h1></div>
        <div class="card-container">
          <div class="card-row">
            <div class="card-img">
              <img src="images/card1.svg" />
            </div>
            <p class="card-title">I'm a title</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/card2.svg" class="card-img" />
            </div>
            <p class="card-title">I'm a title</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/card3.svg" class="card-img" />
            </div>
            <p class="card-title">I'm a title</p>
            <p class="card-para">
              I'm a paragraph. Click here to add your own text and edit me. I'm
              a paragraph. Click here to add your own text and edit me or you
              can just drag and drop.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="mentor-section">
      <div class="main-text">
        <h1>Our Mentors</h1>
      </div>
      <div class="card-container">
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/Ellipse 194.svg" />
          </div>
          <p class="card-title">Phillip Laun</p>
          <p>Designation</p>

          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
          <div class="contact-sociallinks">
            <a class="contact-link"
              ><img src="images/image 11.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 12.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 13.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 14.png" class="contact-link-img"
            /></a>
          </div>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/Ellipse 195.svg" class="card-img" />
          </div>
          <p class="card-title">Karmen Jones</p>
          <p>Designation</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
          <div class="contact-sociallinks">
            <a class="contact-link"
              ><img src="images/image 11.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 12.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 13.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 14.png" class="contact-link-img"
            /></a>
          </div>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/Ellipse 196.svg" class="card-img" />
          </div>
          <p class="card-title">Jaiden Lee</p>
          <p>Designation</p>

          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
          <div class="contact-sociallinks">
            <a class="contact-link"
              ><img src="images/image 11.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 12.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 13.png" class="contact-link-img"
            /></a>
            <a class="contact-link"
              ><img src="images/image 14.png" class="contact-link-img"
            /></a>
          </div>
        </div>
      </div>
    </section>

    <%-include("testimonials")-%> <%-include("footer")-%>
  </body>
</html>
