<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mentorship.css" />
    <title>Mentorship</title>
  </head>
  <body>
    <%-include("contactheader")-%> <%-include("header")-%>

    <section id="mentorship_page__intro">
      <div class="mentorship_page__main">
        <div class="mentorship_page__main_left">
          <div class="mentorship_page__intro_heading">
            <h1>Mentorship</h1>
          </div>
          <div class="mentorship_page__text_content">
            <p>
              Reverr guarantees that you will have the greatest mentors on
              board. Our expert mentors support you through every challenge of
              your startup journey and work with you to eliminate any risk that
              may come your way. Our mentor's primary goal is to assist you with
              specific issues by imparting expertise and contacts they have
              gained through years of experience.
            </p>
          </div>
        </div>
        <div class="mentorship_page__buttons">
          <a href="https://play.google.com/store/apps/details?id=com.reverr">
            <button class="mentorship_page__buttons_know_more">
              Download our app
            </button>
          </a>
          <a href="/contactus">
            <button class="mentorship_page__buttons_contact_us">
              Contact Us
            </button>
          </a>
        </div>
      </div>
      <div class="mentorship_page__image">
        <img src="/images/Saly-34.svg" alt="mentorship" />
      </div>
    </section>

    <section id="howitworks">
      <div>
        <h1 class="howitworks__heading">Why do you need startup mentorship?</h1>
      </div>
      <div>
        <p class="howitworks__text_content">
          Reverr guarantees that you will have the greatest mentors on board.
          Our expert mentors support you through every challenge of your startup
          journey and work with you to eliminate any risk that may come your
          way. Our mentor's primary goal is to assist you with specific issues
          by imparting expertise and contacts they have gained through years of
          experience.
        </p>
      </div>
      <div class="howitworks__main">
        <div class="howitworks__content">
          <div class="howitworks__icons_down">
            <div class="hiw__icon">
              <img src="/images/person-vector.png" alt="person" />
              <div>
                <p><b>With a mentor, you get someone to rely on</b></p>
                <p>
                  There will be times in your journey when you would feel
                  awfully stuck in a place from which you wouldn’t know how to
                  escape. Startup mentorship may be a long-term commitment that
                  ensures you always have someone to talk to and bounce ideas
                  off.
                </p>
              </div>
            </div>
            <div class="hiw__icon">
              <img src="/images/device-vector.png" alt="person" />
              <div>
                <p><b>Mentors hold a mirror of truth for you</b></p>
                <p>
                  Naturally, a startup mentor will support and motivate you.
                  However, your mentor shouldn't be someone who always concurs
                  with you because that won't promote your development.
                </p>
              </div>
            </div>
            <div class="hiw__icon book">
              <img src="/images/book-vector.png" alt="person" />
              <div>
                <p><b>Mentors challenge you to set your limits</b></p>
                <p>
                  Another advantage of startup mentoring is having someone to
                  critique your methods and ideas. A good mentor is someone who
                  can challenge your ideas and be honest with you, and mentors
                  at Reverr provide you with both of these things.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="howitworks__image">
          <img src="/images/image 60.svg" />
        </div>
      </div>
    </section>

    <section id="section_whyus">
      <div class="section-content-1">
        <div class="main-text">
          <h1>Why would you choose Reverr as your startup funding platform?</h1>
        </div>
        <div class="card-container">
          <div class="card-row">
            <div class="card-img">
              <img src="images/card1.svg" />
            </div>
            <p class="card-title">Best Mentors and Guidance</p>
            <p class="card-para">
              Mentors at Reverr are easy to approach and they will heartily
              guide you through each aspect of your startup process. For this,
              the part you can play is building a mentor-mentee relationship.
              Mentor's guidance will be useful if you're ready to listen, take
              in what they have to say, and act on it. Make a list of your
              expectations before your mentor and you meet for the first time.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/card3.svg" class="card-img" />
            </div>
            <p class="card-title">Encompassing every industry</p>
            <p class="card-para">
              Reverr mentorship is a marketplace where you get mentors from
              various expertise and industries. Your baggage is ours now. We
              have mentors that have joined us from various industrial
              backgrounds so you have a wider choice. Reverr has more than
              hundred mentors coming from more than twenty-five industries.
            </p>
          </div>
          <div class="card-row">
            <div class="card-img">
              <img src="images/card2.svg" class="card-img" />
            </div>
            <p class="card-title">Timely actions</p>
            <p class="card-para">
              Our every action takes care of the time you’ve put in and your
              efforts wouldn’t go in vain. Once you join us, you can simply
              connect and schedule a talk with your mentor and start by creating
              your own section of networks. We respond as early as we can since
              we respect your time and efforts.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="mentor-section">
      <div class="main-text">
        <h1>Our How much do you have to pay for the services?</h1>
      </div>
      <div class="card-container-1">
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/Ellipse 194.svg" />
          </div>
          <p class="card-title">499 rupees</p>
          <p class="card-para">Half an hour</p>
          <div class="contact_btn">
            <a>
              <button>Contact Now</button>
            </a>
          </div>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/Ellipse 195.svg" />
          </div>
          <p class="card-title">749 rupees</p>
          <p class="card-para">Half an hour</p>
          <div class="contact_btn">
            <a>
              <button>Contact Now</button>
            </a>
          </div>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/Ellipse 196.svg" />
          </div>
          <p class="card-title">999 rupees</p>
          <p class="card-para">Half an hour</p>
          <div class="contact_btn">
            <a>
              <button>Contact Now</button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%-include("testimonials")-%> <%-include("footer")-%>
  </body>
</html>
