<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Reem+Kufi&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar--section">
      <div class="menu-icon" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
        <div class="logo-block">
          <img style="width: 95px; margin: 10px 30px;" src="./images/logo.png" />
        </div>
        <div class="navigation" id="menu">
  
          <ul class="Ulclass">
            <a href="./" ><li>Home</li></a>
            
            <a href="./about"><li>About us</li></a>
            <a href="./blog"><li>Blogs</li></a>
          </ul>
          <a style="text-decoration: none; "  href="https://webapp.reverr.io/login">
            <button class="login-btn">Log in</button>
          </a>
          <a style="text-decoration: none;margin-top: 11px; "  href="https://webapp.reverr.io/signup">
            <button  class="sign-btn">Sign Up</button>
          </a>
        </div>
        
        
     
      </div>


      <script>
        function toggleMenu() {
          const menu = document.getElementById('menu');
          menu.classList.toggle('show');
        }
      </script>
    
</body>
</html>