<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <div class="navbar--section">
        <div class="logo-block">
          <img style="width: 105px; margin: 10px 30px;" src="./images/logo.png" />
        </div>
        <div class="navigation">
  
          <ul>
            <a href="./" ><li>Home</li></a>
            
            <a href="./about"><li>About us</li></a>
            <a href="./blog"><li>Blogs</li></a>
          </ul>
          <a style="text-decoration: none; "  href="https://webapp.reverr.io/login">
            <button class="login-btn">Log in</button>
          </a>
          <a style="text-decoration: none; "  href="https://webapp.reverr.io/signup">
            <button  class="sign-btn">Sign Up</button>
          </a>
        </div>
     
      </div>
    
</body>
</html>