<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Networking</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/networking2.css" />
  </head>
  <body>
    <%- include('contactheader'); -%> <%- include('header'); -%>
    <div class="intro-wrapper">
      <div class="intro">
        <h1>We Know And Understand That Your ‘Network’ is Your ‘Net-Worth’</h1>
        <p>
          Reverr aims at creating connections and helping you create valuable
          connections to learn and get inspired by. Reverr’s ‘COMMUNITY’ is your
          own entrepreneur network for startups and our services are heavily
          network-bound. Through us, you get a startup networking platform that
          is as goal-oriented as you are through the networking channels at
          Reverr, you get: <br /><br />
          1. A good network helps you learn better. <br />
          2. An opportunity to find a co-founder. <br />
          3. You can get clients with a good networking channel.
        </p>
        <br />
        <button class="blue">Know More</button>
        <button class="white">Contact Us</button>
      </div>
      <img class="intro-img" src="/images/ellipse.png" alt="" />
    </div>
    <br />
    <div class="startup-networking__wrapper">
      <div class="startup-networking__head">
        <h1>
          How does this startup <br />
          networking platform work?
        </h1>
        <p>
          The startup networking at Reverr is extremely simple. There’s a small
          process that you will go through which includes:
        </p>
      </div>

      <div class="startup-networking__body">
        <div class="items-wrapper">
          <div class="item1">
            <img src="/images/item1-img.png" alt="" />
            <h3>
              Login or Sign-up <br />
              to our app
            </h3>
            <p>
              Login or Sign-up to our app This is the first step in your network
              building process. You simply have to download Reverr app from
              Playstore and fill in your credentials so that we remember who you
              are and boom! You are ready to go.
            </p>
          </div>
          <div class="arrow-right">
            <img src="/images/arrow-right.png" alt="" />
          </div>
          <div class="item2">
            <img src="/images/item2-img.png" alt="" />
            <h3>Have a personal interaction with the<br />Reverr community</h3>
            <p>
              Have a personal interaction with the Reverr community Connections
              get built with good communication and Reverr as a platform
              provides you just that. Once you login to our app, we will make
              you a part of Reverr group and you can talk to multiple
              entrepreneurs and mentors alike.
            </p>
          </div>
        </div>

        <div class="items-wrapper">
          <div class="item1">
            <img src="/images/item3-img.png" alt="" />
            <h3>Be a part of <br />timely events</h3>
            <p>
              Be a part of timely events Revere provides you space and place to
              open up yourself and your ideas without fear of harsh judgment. We
              at Reverr work day and night to make you connect with multiple
              people of your background and hence make your time count for the
              best.
            </p>
          </div>
          <div class="arrow-right">
            <img src="/images/arrow-left.png" alt="" />
          </div>
          <div class="item2">
            <img src="/images/item4-img.png" alt="" />
            <h3>Talk away your questions<br />and suggestions</h3>
            <p>
              Once you are officially a Reverrite, you are welcome to be a part
              of fun events that are organized on a timely basis. The events
              consist of podcasts, instagram lives with growing entrepreneurs
              and a lot more.
            </p>
          </div>
        </div>
        <button class="blue">Become a REVERRITE</button>
      </div>

      <div class="networking-methods__wrapper">
        <h1>Methods of Networking: Reverr works with:</h1>
        <div class="content-wrapper">
          <div class="networking-mentods__item">
            <img src="/images/community.png" alt="" />
            <h2>Community :</h2>
            <p>
              Community is a space that we at Reverr offer you where you can
              find a cofounder and know how the startup world works. In ways
              that traditional marketing or advertising channels can't,
              community multiplies your startup's resources, presence, and
              reach. When you become a part of it effectively, the community
              facilitates and enhances the acquisition of new clients,
              streamlines support and success, strengthens retention, and offers
              vital product insights. The community is the lifeblood of our
              firm, keeping the rest of the team going.
            </p>
          </div>

          <div class="networking-mentods__item">
            <img src="/images/patch.png" alt="" />
            <h2>Patch :</h2>
            <p>
              With this, you can schedule a one on one meeting with new people
              and can also fix a video call with them to get to know them
              better. We believe that talking on chat is not as efficient as
              talking face to face, even if it is done online. So, once you are
              a part of the community, you can contact your mentor and schedule
              a video call with her/him and talk about future plans and current
              ventures. Patch will recommend five new people to you every week
              with whom you can create a good network. Our algorithm in such
              ways takes good care of your interest.
            </p>
          </div>

          <div class="networking-mentods__item networking-mentods__item3">
            <img src="/images/vibe.png" alt="" />
            <h2>Vibe :</h2>
            <p>
              Login or Sign-up to our app This is the first step in your network
              building process. You simply have to download Reverr app from
              Playstore and fill in your credentials so that we remember who you
              are and boom! You are ready to go.
            </p>
          </div>
        </div>
      </div>

      <div class="community__wrapper">
        <div class="community-head">
          <h1>
            Why do you need to build a <br />
            community ealy on in the business?
          </h1>
          <p>
            Having a community helps entrepreneurs of early-stage firms, like
            you, feel less isolated and enables you to discuss their struggles
            with others. Your participation in the community motivates you and
            sparks a group effort to resolve the issue that your startup aims to
            address. This community validation also develops into a significant
            awareness and distribution advantage because peers and
            subject-matter experts from the community have a propensity to
            interact with one another. Communities make it possible to monitor
            ecosystem activity. Meeting with various participants enables one to
            identify who is working on what and, as a result, link relevant
            members. Along with these, as a member of the community, you can
            involve in:
          </p>
        </div>

        <div class="community-body">
          <div class="community-item">
            <div class="item-tag">
              <hr
                style="background-color: #ffeac2; border: 1px solid #ffeac2"
                class="community-item__tag"
              />
            </div>
            <div class="item-content">
              <h3>Sharing knowledge and developing communication</h3>
              <p>
                Once you have a good network by your side, you can get knowledge
                of multiple kinds from people rowing the same boat as you. You
                get this safe platform for network building at Reverr.
                Networking is an excellent approach to improve your
                communication skills at the beginning of your startup if you've
                never established a business before and lack experience speaking
                in front of audiences and engaging people in discussion. You
                will develop these talents as soon as you can and they will be
                necessary for your firm at every level of development.
              </p>
            </div>
          </div>

          <div class="community-item">
            <div class="item-tag">
              <hr
                style="background-color: #f7f1c0; border: 1px solid #f7f1c0"
                class="community-item__tag"
              />
            </div>
            <div class="item-content">
              <h3>
                An effective network increases your leverage with investors:
              </h3>
              <p>
                Building a solid network should provide you withcnegotiating
                power with investors because doing so will increase your
                visibility to a wider audience thanks to other professionals in
                your sector. Investors will inevitably find your brand more
                attractive and desirable as your firm's brand awareness
                increases, which can be quite advantageous for your startup
              </p>
            </div>
          </div>

          <div class="community-item">
            <div class="item-tag">
              <hr
                style="background-color: #d2ffbd; border: 1px solid #d2ffbd"
                class="community-item__tag"
              />
            </div>
            <div class="item-content">
              <h3>Getting Ideas & Feedback :</h3>
              <p>
                The network you create at Reverr would also be centered on
                information exchange between your newly formed relationships.
                Other professionals you've met might be able to provide you with
                advice and suggestions on how to get past obstacles if you ever
                run into them. Additionally, you can talk about issues pertinent
                to your sector as a whole, which could be useful for
                understanding your clients and rivals.
              </p>
            </div>
          </div>

          <div class="community-item">
            <div class="item-tag">
              <hr
                style="background-color: #fbc8ff; border: 1px solid #fbc8ff"
                class="community-item__tag"
              />
            </div>
            <div class="item-content">
              <h3>Enhanced Business Resource Access:</h3>
              <p>
                Finding the resources you need to launch and expand a business
                is probably the most challenging aspect of doing so. Everything
                from financial resources to office supplies and professional
                gear might be considered among these options. Building a strong
                network will give you greater access to the business resources
                you need to survive as a company, even though it is possible to
                acquire the resources you need on your own without any further
                help.
              </p>
            </div>
          </div>

          <div class="community-item">
            <div class="item-tag">
              <hr
                style="background-color: #c7ddff; border: 1px solid #c7ddff"
                class="community-item__tag"
              />
            </div>
            <div class="item-content">
              <h3>Accelerate Learning :</h3>
              <p>
                Running a business can make it simple to develop tunnel vision,
                wherein you only think about expanding it using the knowledge
                and understanding you've previously acquired. When you're
                attempting to ensure that your business is a healthy and
                long-lasting one, having a network of pros in your sector will
                help you expand your perspective.
              </p>
            </div>
          </div>
        </div>

        <button class="blue">Become a REVERRITE</button>
      </div>
    </div>
    <%- include('testimonials'); -%> <%- include('footer'); -%>
  </body>
</html>
