<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Networking</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/networking.css" />
  </head>
  <body>
    <%- include('contactheader'); -%> <%- include('header'); -%>
    <div class="networking__bgellipse1">
      <img src="/images/backgroundellipse1.svg" alt="" />
    </div>
    <div class="networking__bgellipse2">
      <img src="/images/backgroundellipse2.svg" alt="" />
    </div>
    <div class="networking__bgellipse3">
      <img src="/images/backgroundellipse1.svg" alt="" />
    </div>
    <section id="networking__intro">
      <div class="networking__main">
        <div class="networking__main_left">
          <div class="networking__intro_heading">
            <h1>Networking</h1>
          </div>
          <div class="networking__text_content">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It's
              easy. Just click “Edit Text” or double click me to add your own
              content and make changes to the font. Feel free to drag and drop
              anywhere you like on your page.
            </p>
          </div>
        </div>
        <div class="networking__buttons">
          <a href="https://play.google.com/store/apps/details?id=com.reverr"
            ><button class="networking__buttons_know_more">
              Download our app
            </button></a
          >
          <a href="/contactus"
            ><button class="networking__buttons_contact_us">
              Contact Us
            </button></a
          >
        </div>
      </div>
      <div class="networking__image">
        <img src="/images/Saly-10.png" alt="networking" />
      </div>
    </section>

    <section id="howitworks">
      <div><h1 class="howitworks__heading">How it Works?</h1></div>
      <div>
        <p class="howitworks__text_content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo sit
          nulla commodo elit enim platea. Tortor interdum nisi nisl risus
          venenatis habitant posuere proin sem.
        </p>
      </div>
      <div class="howitworks__main">
        <div class="howitworks__content">
          <div class="howitworks__icons_down">
            <div class="hiw__icon">
              <img src="/images/person-vector.png" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
            <div class="hiw__icon">
              <img src="/images/device-vector.png" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
            <div class="hiw__icon book">
              <img src="/images/book-vector.png" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
            <div class="hiw__icon">
              <img src="/images/bag.svg" alt="person" />
              <div>
                <p><b>I'm a tagline.Click here to edit me.</b></p>
                <p>
                  I'm a paragraph. Click here to add your own text and edit me.
                  I'm a paragraph. Click here to add your own text and edit me
                  or you can just drag and drop.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="howitworks__image">
          <img src="/images/networking-hiw.svg" />
        </div>
      </div>
    </section>

    <section id="wwea">
      <div class="main-text">
        <h1>What we Educate About?</h1>
        <p>
          I'm a paragraph. Click here to add your own text and edit me. I'm a
          paragraph.
        </p>
      </div>
      <div class="card-container">
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/network-1.svg" />
          </div>
          <p class="card-title">I'm a subject</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/network-2.svg" class="card-img" />
          </div>
          <p class="card-title">I'm a subject</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
        </div>
        <div class="card-row-1">
          <div class="card-img">
            <img src="images/network-3.svg" class="card-img" />
          </div>
          <p class="card-title">I'm a subject</p>
          <p class="card-para">
            I'm a paragraph. Click here to add your own text and edit me. I'm a
            paragraph. Click here to add your own text and edit me or you can
            just drag and drop.
          </p>
        </div>
      </div>
    </section>

    <section id="connections">
      <div class="connections__intro"><h1>Our Connections</h1></div>
      <div class="connections__image">
        <img src="/images/connections.svg" alt="connections" />
      </div>
    </section>
    <%- include('testimonials'); -%> <%- include('footer'); -%>
  </body>
</html>
