<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/newfounder.css" />
    <title>Founder</title>
    <link rel="icon" type="image/x-icon" href="/images/ReverrBlack2.svg" />
  </head>
  <body>
    <%-include("header")-%>
    <section id="founder_container">
      <section class="founder_hero">
        <div class="founder_flex">
          <div class="founder_intro">
            <div class="for_founders">
              <img src="/images/Line 96 (1).png" alt="" />
              <p class="for_founders_text">FOR <span> FOUNDERS </span></p>
            </div>
            <p class="for_founder_heading">
              MAKING YOUR <span>STARTUP JOURNEY </span>AS EASY AS BREATHING!
            </p>
            <p class="for_founder_subtext">
              REVERR enables you with an ecosystem of resources that would help
              you build your billion dollar dream!
            </p>
            <button class="offer_btn">
              <p>Explore more</p>
              <img src="/images/right_arrow.png" alt="" />
            </button>
          </div>
          <!-- <div class="intro_img"> -->
          <img src="/images/Group 6267449.png" alt="" class="intro_img" />
          <!-- </div> -->
        </div>
      </section>
      <section class="founder_mastrok">
        <p>
          <span>Reverr </span>is designed to hold your hand at
          <span>every stage </span>of your journey.
        </p>
        <img src="/images/Frame 6267456.png" alt="" />
      </section>
      <section class="founder_offers">
        <p class="offer_heading">What we Offer</p>
        <p class="offer_subheading">
          We are committed to help you achieve your
          <span>billion dollar dream.</span>
        </p>
        <img src="/images/offer_img.png" alt="" class="offer_img" />
        <button class="offer_btn">Explore ALL Features</button>
      </section>
      <section class="startup_stories">
        <p class="story_heading">
          Our very own <span> Start-Up Success Stories</span>
        </p>
        <div class="startup_story_flex">
          <div class="story_slider">
            <div class="story_box">
              <p class="person_name">John Doe</p>
              <p class="person_pos">Founder of HIVE</p>
              <p class="person_story">
                I was actually about to give up the whole idea about my company
                until I stumbled upon Reverr. I actually came across networks
                that fought the failures and became successful, it was really
                insightful for me.
              </p>
            </div>
            <img class="story_bg" src="/images/story_bg.png" alt="" />
            <div class="action_btns">
              <img src="/images/st_prev.png" alt="" />
              <img src="/images/st_next.png" alt="" />
            </div>
          </div>
          <div class="story_visual">
            <img src="/images/story_img.png" alt="" class="story_img" />
            <p>Reverr is the perfect go-to buddy for a startup founder!</p>
          </div>
        </div>
      </section>
      <section class="founder_features">
        <p class="features_heading">Our features for Founders!</p>
        <div class="features_container">
          <div class="feature f_odd">
            <div class="f_left">
              <p class="feature_num">#1</p>
              <p class="feature_heading">Find Your Co-Founder</p>
              <p class="feature_main_heading">
                Discover your perfect <span>startup CoFounder.</span>
              </p>
              <p class="feature_desc">
                Find your ideal co-founder with Reverr's VIBE, a platform where
                like-minded entrepreneurs come together. Connect with
                individuals who share your vision, complementary skills, and
                passion to create a dynamic partnership.
              </p>
            </div>
            <div class="f_right">
              <img src="/images/feature1.png" alt="" />
            </div>
          </div>
          <div class="feature f_even">
            <div class="f_right even">
              <img src="/images/feature2.png" alt="" />
            </div>
            <div class="f_left">
              <p class="feature_num">#2</p>
              <p class="feature_heading">MENTORSHIP</p>
              <p class="feature_main_heading">
                Experienced <span>mentors</span> to accelerate your
                <span>startup journey</span>
              </p>
              <p class="feature_desc">
                Whether you're looking for advice on strategy, fundraising,
                marketing, or other key areas of your business, our mentors have
                the expertise and experience to help you navigate the challenges
                of startup life.
              </p>
            </div>
          </div>
          <div class="feature f_odd">
            <div class="f_left">
              <p class="feature_num">#3</p>
              <p class="feature_heading">REVERR COMMUNITY</p>
              <p class="feature_main_heading">
                Stay<span> connected </span>and <span> informed </span> with the
                <span>Reverr Community.</span>
              </p>
              <p class="feature_desc">
                Our community is a vibrant and supportive space where you can
                find inspiration, share your ideas and experiences, and
                collaborate with others to drive your startup forward.
              </p>
            </div>
            <div class="f_right">
              <img src="/images/feature3.png" alt="" />
            </div>
          </div>
          <div class="feature f_even">
            <div class="f_right even">
              <img src="/images/feature4.png" alt="" />
            </div>
            <div class="f_left">
              <p class="feature_num">#4</p>
              <p class="feature_heading">TOOLS</p>
              <p class="feature_main_heading">
                Access a suite of powerful <span>tools</span> and
                <span>resources.</span>
              </p>
              <p class="feature_desc">
                These tools are designed to streamline your startup operations.
                From project management and analytics to marketing and finance,
                our comprehensive set of tools empowers you to work more
                efficiently and effectively, giving your startup a competitive
                edge.
              </p>
            </div>
          </div>
          <div class="feature f_odd">
            <div class="f_left">
              <p class="feature_num">#5</p>
              <p class="feature_heading">FUNDRAISING</p>
              <p class="feature_main_heading">
                Empowering startups with the
                <span>fundraising they need</span> to succeed .
              </p>
              <p class="feature_desc">
                Whether you're looking for seed funding, venture capital, or
                angel investors, our platform offers a range of options tailored
                to meet your specific needs and stage of development.
              </p>
            </div>
            <div class="f_right">
              <img src="/images/feature5.png" alt="" class="small_img1" />
            </div>
          </div>
          <div class="feature f_even" style="align-self: flex-start">
            <div class="f_right even">
              <img src="/images/feature6.png" alt="" />
            </div>
            <div class="f_left">
              <p class="feature_num">#6</p>
              <p class="feature_heading">KNOWLEDGE</p>
              <p class="feature_main_heading">
                Expand your <span>entrepreneurial expertise</span> with Reverr.
              </p>
              <p class="feature_desc">
                Explore curated courses, articles, and insights from industry
                experts to enhance your entrepreneurial skills and stay up to
                date with the latest trends. Empower yourself with the knowledge
                and know-how needed to succeed.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="app_info">
        <div class="app_downloads">
          <p class="app_dwnld_heading">
            Looking for the best buddy for your start-up?
          </p>
          <p class="dwnldnow">Download our app now!</p>
          <div class="app_links">
            <button>
              <img src="/images/play_store.png" alt="" class="brand_icon" />
              <div class="dwnld_info">
                <p class="getiton">GET IT ON</p>
                <p class="link">Google Play</p>
              </div>
            </button>
            <button>
              <img src="/images/app_store.png" alt="" class="brand_icon" />
              <div class="dwnld_info">
                <p class="getiton">Download it on the</p>
                <p class="link">App Store</p>
              </div>
            </button>
          </div>
        </div>
        <div class="app_imgs">
          <img src="/images/download_app.png" alt="" />
        </div>
      </section>
    </section>
    <%-include("footerNew")-%>
  </body>
</html>
