<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Privacy Policy</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/privacypolicy.css" />
  </head>
  <body>
    <%-include("contactheader")-%> <%-include("header-white") -%>
    <section id="privacypolicy__intro">
      <div class="privacypolicy__heading">
        <img src="images/chain 1.png" alt="" />
        <h1>PRIVACY POLICY</h1>
      </div>
    </section>
    <section id="privacypolicy__main">
      <div>
        <div><b>This Privacy Policy applies to the Reverrapp.com.in</b></div>
        <p>
          reverrapp.com recognises the importance of maintaining your privacy.
          We value your privacy and appreciate your trust in us. This Policy
          describes how we treat user information we collect on
          https://reverrapp.com/ and other offline sources. This Privacy Policy
          applies to current and former visitors to our website and to our
          online customers. By visiting and/or using our website, you agree to
          this Privacy Policy. Reverrapp.com is a property of DSquare Ventures
          LLP, an Indian Company registered under the Companies Act, 2013 having
          its registered office at 601, GDITL Northex Tower, Netaji Subhash
          place, Pitam pura, Delhi- 110034
        </p>
      </div>
      <div>
        <div><b>Information we collect</b></div>

        <div>
          <p></p>
          <div>
            <b>Contact information.</b>
            <p>
              We might collect your Reverr , support@reverr.in, 9871960850 GDITL
              Northex Tower, Netaji Subhash place, Pitam pura, Delhi-
              110034,country.
            </p>
          </div>

          <div>
            <b>Payment and billing information.</b>
            <p>
              We might collect your billing name, billing address and payment
              method when you buy a ticket. We NEVER collect your credit card
              number or credit card expiry date or other details pertaining to
              your credit card on our website. Credit card information will be
              obtained and processed by our online payment partner CC Avenue.
            </p>
          </div>

          <div>
            <b>Information you post.</b>
            <p>
              We collect information you post in a public space on our website
              or on a third-party social media site belonging to Reverrapp.com.
            </p>
          </div>

          <div>
            <b>Demographic information.</b>
            <p>
              We may collect demographic information about you, events you like,
              events you intend to participate in, tickets you buy, or any other
              information provided by your during the use of our website. We
              might collect this as a part of a survey also.
            </p>
          </div>

          <div>
            <b>Other information.</b>
            <p>
              If you use our website, we may collect information about your IP
              address and the browser you're using. We might look at what site
              you came from, duration of time spent on our website, pages
              accessed or what site you visit when you leave us. We might also
              collect the type of mobile device you are using, or the version of
              the operating system your computer or device is running.
            </p>
          </div>

          <div><b> We collect information in different ways. </b></div>

          <div>
            <p></p>
            <b>We collect information directly from you.</b>
            <p>
              We collect information directly from you when you register for an
              event or buy tickets. We also collect information if you post a
              comment on our websites or ask us a question through phone or
              email.
            </p>
          </div>
          <div>
            <b>We collect information from you passively.</b>
            <p>
              We use tracking tools like Google Analytics, Google Webmaster,
              browser cookies and web beacons for collecting information about
              your usage of our website.
            </p>
          </div>
          <div>
            <b>We get information about you from third parties.</b>
            <p>
              For example, if you use an integrated social media feature on our
              websites. The third-party social media site will give us certain
              information about you. This could include your name and email
              address.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div><b>Use of your personal information</b></div>

        <div>
          <p></p>
          <div>
            <b>We use information to contact you:</b>
            <p>
              We might use the information you provide to contact you for
              confirmation of a purchase on our website or for other promotional
              purposes.
            </p>
          </div>

          <div>
            <b> We use information to respond to your requests or questions.</b>
            <p>
              We might use your information to confirm your registration for an
              event or contest.
            </p>
          </div>

          <div>
            <b>We use information to improve our products and services.</b>
            <p>
              We might use your information to customize your experience with
              us. This could include displaying content based upon your
              preferences.
            </p>
          </div>

          <div>
            <b
              >We use information to look at site trends and customer
              interests.</b
            >
            <p>
              We may use your information to make our website and products
              better. We may combine information we get from you with
              information about you we get from third parties.
            </p>
          </div>

          <div>
            <b>We use information for security purposes.</b>
            <p>
              If you use our website, we may collect information about your IP
              address and the browser you're using. We might look at what site
              you came from, duration of time spent on our website, pages
              accessed or what site you visit when you leave us. We might also
              collect the type of mobile device you are using, or the version of
              the operating system your computer or device is running.
            </p>
          </div>

          <div>
            <b>We use information for marketing purposes.</b>
            <p>
              We might send you information about special promotions or offers.
              We might also tell you about new features or products. These might
              be our own offers or products, or third-party offers or products
              we think you might find interesting. Or, for example, if you buy
              tickets from us we'll enroll you in our newsletter.
            </p>
          </div>
          <div>
            <b>We use information to send you transactional communications.</b>
            <p>
              We might send you emails or SMS about your account or a ticket
              purchase.
            </p>
            <p>We use information as otherwise permitted by law.</p>
          </div>
        </div>
      </div>
      <div>
        <div><b>Sharing of information with third-parties</b></div>

        <div>
          <p></p>
          <div>
            <b
              >We will share information with third parties who perform services
              on our behalf.</b
            >
            <p>
              We share information with vendors who help us manage our online
              registration process or payment processors or transactional
              message processors. Some vendors may be located outside of India.
            </p>
          </div>

          <div>
            <b>We will share information with the event organizers..</b>
            <p>
              We share your information with event organizers and other parties
              responsible for fulfilling the purchase obligation. The event
              organizers and other parties may use the information we give them
              as described in their privacy policies.
            </p>
          </div>

          <div>
            <b>We will share information with our business partners.</b>
            <p>
              This includes a third party who provide or sponsor an event, or
              who operates a venue where we hold events. Our partners use the
              information we give them as described in their privacy policies.
            </p>
          </div>

          <div>
            <b
              >We may share information if we think we have to in order to
              comply with the law or to protect ourselves.</b
            >
            <p>
              We will share information to respond to a court order or subpoena.
              We may also share it if a government agency or investigatory body
              requests. Or, we might also share information when we are
              investigating potential fraud.
            </p>
          </div>

          <div>
            <b
              >We may share information with any successor to all or part of our
              business.</b
            >
            <p>
              For example, if part of our business is sold we may give our
              customer list as part of that transaction.
            </p>
          </div>

          <div>
            <b
              >We may share your information for reasons not described in this
              policy.</b
            >
            <p>We will tell you before we do this.</p>
          </div>
        </div>
      </div>

      <div>
        <div><b>Email Opt-Out</b></div>

        <div>
          <p></p>
          <div>
            <b>You can opt out of receiving our marketing emails.</b>
            <p>
              To stop receiving our promotional emails, please email
              support@reverrapp.com.in. It may take about ten days to process
              your request. Even if you opt out of getting marketing messages,
              we will still be sending you transactional messages through email
              and SMS about your purchases.
            </p>
          </div>

          <div>
            <b>Third party sites</b>
            <p>
              If you click on one of the links to third party websites, you may
              be taken to websites we do not control. This policy does not apply
              to the privacy practices of those websites. Read the privacy
              policy of other websites carefully. We are not responsible for
              these third party sites.
            </p>
          </div>

          <div>
            <b>Grievance Officer</b>
            <p>
              In accordance with Information Technology Act 2000 and rules made
              there under, the name and contact details of the Grievance Officer
              are provided below:
            </p>
            <p>Mr. Ravneet singh</p>
            <p>A-283, Okhla Industrial Area, Phase-I New Delhi- 110020</p>
            <p>Phone: +91 9871960850</p>
            <p>Email: support@reverr.in</p>
            <p>
              If you have any questions about this Policy or other privacy
              concerns, you can also email us at reverrapp.com
            </p>
          </div>

          <div>
            <b>Updates to this policy</b>
            <p>
              This Privacy Policy was last updated on 04.01.2022. From time to
              time we may change our privacy practices. We will notify you of
              any material changes to this policy as required by law. We will
              also post an updated copy on our website. Please check our site
              periodically for updates.
            </p>
          </div>

          <div>
            <b>Jurisdiction</b>
            <p>
              If you choose to visit the website, your visit and any dispute
              over privacy is subject to this Policy and the website's terms of
              use. In addition to the foregoing, any disputes arising under this
              Policy shall be governed by the laws of India.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%-include("footer") -%>
  </body>
</html>
