<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/profilelogin.css" />
  </head>
  <body>
    <div class="containerpl">
      <div class="crossmodal">
        <div onclick="CloseProfileModal()" id="cross">
          <!-- <p class="crosstext">X</p> -->
        
          <img class="cross_image_profile" src="./images/cross.png"/>
        </div>
       </div>
      <div class="main_headingpl">
        <p class="main_textpl">Welcome to <span class="reverr">REVERR</span></p>
       
      
      </div>
  
      
      <div class="cardspl">
          <div class="founder">
          <div class="profile_name">
            <p class="profile_name_text">Founders</p>
          </div>
          <div class="cardview">
            <div class="imageview">
              <img 
              class="image_profile_login" 
              src="./images/rocket.png" />
            </div>
            <div class="buttonpl">
              <a style="text-decoration:none ;" href="https://founder.reverrapp.com/"> <p class="button_text">Login / Sign Up</p></a>
            </div>
          </div>
        </div>
        <div class="mentor">
          <div class="profile_name">
            <p class="profile_name_text">Mentors</p>
          </div>
          <div class="cardview">
            <div class="imageview">
              <img class="image_profile_login" src="./images/mentorbook.png" />
            </div>
            <div class="buttonpl">
              <a style="text-decoration:none ;" href="https://mentor.reverrapp.com/"><p class="button_text">Login / Sign Up</p></a>
            </div>
          </div>
        </div>

        <div class="investor">
          <div class="profile_name">
            <p class="profile_name_text">Investors</p>
          </div>
          <div class="cardview">
            <div class="imageview">
              <img 
              class="image_profile_login" 
              src="./images/manmoney.png" />
            </div>
            <div class="buttonpl">
              <a style="text-decoration:none ;" href="https://investor.reverrapp.com/"><p class="button_text">Login / Sign Up</p></a>
            </div>
          </div>
        </div>

      
      </div>

    </div>
  </body>
</html>
