<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Privacy Policy</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/privacypolicy.css" />
  </head>
  <body>
     <%-include("header-white") -%>
    <section id="privacypolicy__intro">
      <div class="privacypolicy__heading">
        <img src="images/chain 1.png" alt="" />
        <h1>TERMS AND CONDITIONS</h1>
      </div>
    </section>
    <section id="privacypolicy__main">
      <strong>TERMS AND CONDITIONS</strong>
      <br>
      <br>
      <p>
        At Reverr, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you interact with our services, including our webapp, WA API, and the platform of Reverr. By using our services, you consent to the practices described in this Privacy Policy.
      </p>
      <br>
      <p><strong>Information Collection and Use</strong></p>
      <br>
      <p><strong>Personal Information</strong></p>
      <br>
      <p>
        We may collect personal information that you provide directly to us, such as your name, email address, phone number, company information, and payment details when you engage with our services, request information, or sign up for our newsletter.
      </p>
      <br>
      <p><strong>Usage Information</strong></p>
      <br>
      <p>
        We may automatically collect information about your interactions with our website and services, including your IP address, device information, browser type, and browsing history. We use cookies and similar tracking technologies to gather this information
      </p>
      <br>
      <p><strong>How We Use Your Information</strong></p>
      <br>
      <p><strong>Providing and Improving Our Services</strong></p>
      <br>
      <p>
        We use the information we collect to provide and enhance our solutions, including developing and improving our technology, responding to your inquiries, and delivering tailored content.
      </p>
      <br>
      <p><strong>Communication</strong></p>
      <br>
      <p>
        We may use your contact information to send you updates about our services, promotions, and other relevant communications. You can opt out of these communications at any time.
      </p>
      <br>
      <p><strong>Legal Compliance</strong></p>
      <br>
      <p>
        We may process your information as required by law, regulation, or legal process, or to protect our rights, privacy, safety, or property
      </p>
      <br>
      <p><strong>Sharing Your Information</strong></p>
      <br>
      <p>
        We do not sell, trade, or rent your personal information to third parties. However, we may share your information under the following circumstances:
      </p>
      <br>
      <p><strong>Service Providers</strong></p>
      <br>
      <div>
        <p>
          We may share your information with third-party service providers who assist us in operating our business, including payment processors, hosting providers, and analytics services
        </p>
      </div>
      <br>
      <!---->
      <p><strong>Business Partners</strong></p>
      <br>
      <p>
        We may share your information with business partners when necessary to provide our services or to offer joint promotions and initiatives.
      </p>
      <br>
      <p><strong>Legal Requirements</strong></p>
      <br>
      <p>
        We may disclose your information to comply with applicable laws, regulations, or legal processes, or to respond to lawful requests from governmental authorities.
      </p>
      <br>
      <p><strong>Security</strong></p>
      <br>
      <p>
        We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, and destruction. However, no method of transmission over the internet or electronic storage is entirely secure, and we cannot guarantee absolute security.
      </p>
      <br>
      <p><strong>Your Choices</strong></p>
      <br>
      <p>
        You have the following choices regarding your personal information:
      </p>
      <br>
      <p><strong>Access and Update</strong></p>
      <br>
      <p>
        You may access and update your personal information by contacting us at connect@reverr.io. We will make reasonable efforts to accommodate your request.
      </p>
      <br>
      <p><strong>Opt-Out</strong></p>
      <br>
      <p>
        You can opt out of receiving promotional communications from us by following the unsubscribe instructions in our emails.
      </p>
      <br>
      <p><strong>Changes to this Privacy Policy</strong></p>
      <br>
      <p>
        We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any material changes by posting the revised Privacy Policy on our website.
      </p>
      <br>
      <p>This policy is effective as of 2023-08-15</p>
      <br>
      <p><strong>Contact Us</strong></p>
      <br>
      <p>
        If you have any questions or concerns about this Privacy Policy or our data practices, please feel free to contact us at connect@reverr.io. By using our services, you acknowledge that you have read and understood this Privacy Policy and agree to its terms.
      </p>
      <br>

    </section>
    <%-include("footerNew") -%>
  </body>
</html>
