<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/testimonials.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="carousel-container">
      <div class="carousel-title">
        <p>Testimonials</p>
      </div>
      <div class="slider">
        <div class="slide slide--1">
          <div class="carousel-card">
            <img src="images/client1.png" alt="person-1" class="carousel-img" />
            <p class="carousel-name">Amisha Maheshwari</p>
            <p class="carousel-review">
              I was actually about to give up the whole idea about my company
              until I stumbled upon Reverr. I actually came across networks that
              fought the failures and became successful, it was really
              insightful for me.
            </p>
          </div>
        </div>

        <div class="slide slide--2">
          <div class="carousel-card">
            <img src="images/client2.png" alt="person-1" class="carousel-img" />
            <p class="carousel-name">Vishal Bhutani</p>
            <p class="carousel-review">
              I couldn't find a platform that helps you from the day you have an
              idea up until the day you are independent.
            </p>
          </div>
        </div>

        <div class="slide slide--3">
          <div class="carousel-card">
            <img src="images/client3.jpg" alt="person-1" class="carousel-img" />
            <p class="carousel-name">Sahil Gangwani</p>
            <p class="carousel-review">
              Wow! I just updated my site as per the suggestions from their
              mentors and seriously it was so well received from the audiences.
            </p>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="carousel-card">
            <img src="images/client4.png" alt="person-1" class="carousel-img" />
            <p class="carousel-name">Dhruv Garg</p>
            <p class="carousel-review">
              Being a novice in the market I wasn't aware about the terms and
              lingo of the industry and all i had was a passion. Even passion
              needs knowledge and Mr. Jatin Khurana actually taught me a lot of
              things without ever being cocky about it.
            </p>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="carousel-card">
            <img src="images/client5.png" alt="person-1" class="carousel-img" />
            <p class="carousel-name">Yashika Gupta</p>
            <p class="carousel-review">
              We were really confused regarding how to develop our website and
              make our presence online. Reverr helped us with their expert
              guidance and field knowledge to solve the difficulty we were
              facing.
            </p>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="carousel-card">
            <img src="images/client6.png" alt="person-1" class="carousel-img" />
            <p class="carousel-name">Akshay Gangwani</p>
            <p class="carousel-review">
              Reverr has really good mentors who actually treat your problem as
              their own problem. They will give in their all just so you're a
              step closer to your vision.
            </p>
          </div>
        </div>

        <!-- <button class="slider__btn slider__btn--left">
          <img src="images/left-arrow.svg" />
        </button> -->
        <button class="slider__btn slider__btn--right">
          <img src="images/right-arrow.svg" />
        </button>
        <div class="dots" style="display: none"></div>
      </div>
    </section>
  </body>
  <script>
    // Slider
    const slider = function () {
      const slides = document.querySelectorAll(".slide");
      const btnLeft = document.querySelector(".slider__btn--left");
      const btnRight = document.querySelector(".slider__btn--right");
      const dotContainer = document.querySelector(".dots");

      let curSlide = 0;
      const maxSlide = slides.length;

      // Functions
      const createDots = function () {
        slides.forEach(function (_, i) {
          dotContainer.insertAdjacentHTML(
            "beforeend",
            `<button class="dots__dot" data-slide="${i}"></button>`
          );
        });
      };

      const activateDot = function (slide) {
        document
          .querySelectorAll(".dots__dot")
          .forEach((dot) => dot.classList.remove("dots__dot--active"));

        document
          .querySelector(`.dots__dot[data-slide="${slide}"]`)
          .classList.add("dots__dot--active");
      };

      const goToSlide = function (slide) {
        slides.forEach(
          (s, i) => (s.style.transform = `translateX(${100 * (i - slide)}%)`)
        );
      };

      // Next slide
      const nextSlide = function () {
        if (curSlide === maxSlide - 1) {
          curSlide = 0;
        } else {
          curSlide++;
        }

        goToSlide(curSlide);
        activateDot(curSlide);
      };

      const prevSlide = function () {
        if (curSlide === 0) {
          curSlide = maxSlide - 1;
        } else {
          curSlide--;
        }

        goToSlide(curSlide);
        activateDot(curSlide);
      };

      const init = function () {
        goToSlide(0);
        createDots();

        activateDot(0);
      };
      init();

      // Event handlers
      btnRight.addEventListener("click", nextSlide);
      btnLeft.addEventListener("click", prevSlide);

      document.addEventListener("keydown", function (e) {
        if (e.key === "ArrowLeft") prevSlide();
        e.key === "ArrowRight" && nextSlide();
      });

      dotContainer.addEventListener("click", function (e) {
        if (e.target.classList.contains("dots__dot")) {
          const { slide } = e.target.dataset;
          goToSlide(slide);
          activateDot(slide);
        }
      });
    };
    slider();
  </script>
</html>
