<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/tot.css" />
    <title>Titans of Tomorrow</title>
  </head>
  <body>
    <%- include('header'); -%>
    <section class="tot_container">
      <section class="tot_hero_section">
        <img src="/images/logo_white.png" alt="logo" class="reverr_logo" />
        <p class="tot_subtext" style="margin-bottom: 5rem">presents</p>
        <p class="tot_main_heading">Titans</p>
        <span class="tot_span"> of </span>
        <p class="tot_main_heading">Tomorrow</p>
        <div class="poweredby">
          <p class="tot_subtext">powered by:</p>
          <img
            src="/images/adidas.png"
            alt="brand"
            class="brandlogo1"
            style="mix-blend-mode: lighten"
          />
          <img src="/images/spotify.png" alt="brand" class="brandlogo" />
          <img src="/images/google.png" alt="brand" class="brandlogo1" />
          <img src="/images/netflix.png" alt="brand" class="brandlogo" />
        </div>
        <p class="tot_date">XX June, 2023</p>
        <div class="tot_bg">
          <img src="/images/wing1.png" alt="wing1" class="bg_wing" />
          <img src="/images/wing2.png" alt="wing2" class="bg_wing" />
        </div>
      </section>
      <section class="tot_announcement">
        <p class="line1">
          Ladies and gentlemen, it's time to mark your calendars for a truly
          epic event that's going to rock your world in June 2023!
        </p>
        <p class="line2">
          Are you an entrepreneur looking to take your game to the next level?
        </p>
        <p class="line3">
          Well, we're talking about a one-of-a-kind extravaganza that's going to
          blow your mind and leave you buzzing with inspiration.
        </p>
        <a href="/passes">
          <button class="tot_register">Register Now!</button>
        </a>
      </section>
      <section class="tot_info">
        <div class="details">
          <div class="info">
            <p class="info_number" id="number001">1</p>
            <p class="info_text">Day</p>
          </div>
          <div class="info">
            <p class="info_number" id="number002">12</p>
            <p class="info_text">Tracks</p>
          </div>
          <div class="info">
            <p class="info_number" id="number003">25</p>
            <p class="info_text">Speakers</p>
          </div>
          <div class="info">
            <div class="info_number_uniq">
              <p id="number004">2000</p>
              <span>+</span>
            </div>
            <p class="info_text">Attendees</p>
          </div>
        </div>
        <div class="details_imgs">
          <div class="info_item">
            <img src="/images/dream.png" alt="" />
            <p>Dream</p>
          </div>
          <div class="info_item">
            <img src="/images/innovate.png" alt="" />
            <p>Innovate</p>
          </div>
          <div class="info_item">
            <img src="/images/inspire.png" alt="" />
            <p>Inspire</p>
          </div>
        </div>
      </section>
      <section class="whyattend">
        <div class="whyattendtot">
          <img src="/images/whytoattend.png" alt="why" />
          <div class="why_ans">
            <p class="tot_heading">Why Attend?</p>
            <p class="why_tot_para">
              From riveting <span>keynote speeches</span> by industry legends to
              <span>cutting-edge workshops</span> and panel
              <span>discussions</span>
              featuring the brightest minds in business, this event has it all.
              <br /><br />
              You'll have the opportunity to
              <span>network with like-minded entrepreneurs,</span> learn from
              the best, and leave with a head full of
              <span>game-changing ideas and strategies.</span>
            </p>
          </div>
        </div>
        <a href="/passes">
          <button class="tot_register">Register Now!</button>
        </a>
      </section>
      <section class="tot_speakers">
        <p class="tot_heading">Our Key Speakers</p>
        <div class="speakers">
          <div class="tot_speaker">
            <img src="/images/tot_speaker.png" alt="" />
            <p class="speaker_name">Jatin Khurana</p>
            <p class="speaker_pos">CEO, Reverr</p>
          </div>
          <div class="tot_speaker">
            <img src="/images/tot_speaker.png" alt="" />
            <p class="speaker_name">Jatin Khurana</p>
            <p class="speaker_pos">CEO, Reverr</p>
          </div>
          <div class="tot_speaker">
            <img src="/images/tot_speaker.png" alt="" />
            <p class="speaker_name">Jatin Khurana</p>
            <p class="speaker_pos">CEO, Reverr</p>
          </div>
          <div class="tot_speaker">
            <img src="/images/tot_speaker.png" alt="" />
            <p class="speaker_name">Jatin Khurana</p>
            <p class="speaker_pos">CEO, Reverr</p>
          </div>
          <div class="tot_speaker">
            <img src="/images/tot_speaker.png" alt="" />
            <p class="speaker_name">Jatin Khurana</p>
            <p class="speaker_pos">CEO, Reverr</p>
          </div>
          <div class="tot_speaker">
            <img src="/images/tot_speaker.png" alt="" />
            <p class="speaker_name">Jatin Khurana</p>
            <p class="speaker_pos">CEO, Reverr</p>
          </div>
        </div>
      </section>
      <section class="tot_timing">
        <p class="timing_heading">Timeline at a Glance !</p>
        <p class="timing_para">
          Get ready for a lineup of electrifying activities and valuable
          insights that will supercharge your ventures and take you to new
          heights of success!
        </p>
        <button class="timing_btn">SUNDAY, 1st January, 2022</button>
        <table class="tot_time_table">
          <tr class="table_row">
            <td class="tot_time">6:00 pm</td>
            <td class="tot_event">Welcoming</td>
          </tr>
          <tr class="table_row">
            <td class="tot_time">6:00 pm</td>
            <td class="tot_event">Welcoming</td>
          </tr>
          <tr class="table_row">
            <td class="tot_time">6:00 pm</td>
            <td class="tot_event">Welcoming</td>
          </tr>
          <tr class="table_row">
            <td class="tot_time">6:00 pm</td>
            <td class="tot_event">Welcoming</td>
          </tr>
          <tr class="table_row">
            <td class="tot_time">6:00 pm</td>
            <td class="tot_event">Welcoming</td>
          </tr>
          <tr class="table_row">
            <td class="tot_time">6:00 pm</td>
            <td class="tot_event">Welcoming</td>
          </tr>
        </table>
        <img src="/images/watch_right.png" alt="bg1" class="timing_bg1" />
        <img src="/images/watch_left.png" alt="bg1" class="timing_bg2" />
      </section>
      <section class="event_location">
        <p style="text-align: center" class="tot_heading">Event Location</p>
        <p class="location">
          601, Northex Tower, Netaji Subhash Place, Pitam Pura, Delhi, 110034
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d218.74487640889734!2d77.15241683408108!3d28.69209875569745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02338c16aaab%3A0xcb18258640949b9a!2sReverr!5e0!3m2!1sen!2sin!4v1683802032688!5m2!1sen!2sin"
          class="location_map"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <p class="location_para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          tincidunt nisl in faucibus ultrices.
        </p>
      </section>
      <section class="book_pass">
        <img src="/images/yellow_polygon.png" alt="" class="book_pass_bg" />
        <div class="book_pass_now">
          <div class="pass_left">
            <p class="book_pass_heading">Grab your Passes Now !</p>
            <p class="book_pass_subheading">
              Looking forward to purchase your tickets?
            </p>
            <a href="/passes">
              <button class="tot_register">Register Now!</button>
            </a>
          </div>
          <img src="/images/book_tot_pass.png" alt="" class="book_pass_img" />
        </div>
        <img src="/images/white_polygon.png" alt="" class="book_pass_bg" />
      </section>

      <section class="tot_sponsors">
        <p class="sponsor_heading">Our Sponsors & Partners</p>
        <img src="/images/sponsors.png" alt="" class="sponsor_img" />
        <img src="/images/sponsors.png" alt="" class="sponsor_img" />
      </section>

      <section class="tot_faqs">
        <p class="faq_heading">Frequently Asked Questions</p>
        <div class="faqs_accordion">
          <div class="accordion_item">
            <button class="accordion">When is the event</button>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Officia ea, architecto non itaque laboriosam mollitia? Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
                excepturi?
              </p>
            </div>
          </div>
          <div class="accordion_item">
            <button class="accordion">When is the event</button>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Officia ea, architecto non itaque laboriosam mollitia? Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
                excepturi?
              </p>
            </div>
          </div>
          <div class="accordion_item">
            <button class="accordion">When is the event</button>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Officia ea, architecto non itaque laboriosam mollitia? Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
                excepturi?
              </p>
            </div>
          </div>
        </div>
      </section>
    </section>

    <%-include('footerNew'); -%>
  </body>
  <script>
    const accordionBtns = document.querySelectorAll(".accordion");

    accordionBtns.forEach((accordion) => {
      accordion.onclick = function () {
        this.classList.toggle("is-open");

        let content = this.nextElementSibling;
        // console.log(content);

        if (content.style.maxHeight) {
          //this is if the accordion is open
          content.style.maxHeight = null;
          content.style.padding = "0 20px";
        } else {
          //if the accordion is currently closed
          content.style.maxHeight = content.scrollHeight + "10px";
          content.style.padding = "20px";
          // console.log(content.style.maxHeight);
        }
      };
    });

    let speed = 50;
    function incEltNbr(id) {
      elt = document.getElementById(id);
      endNbr = Number(document.getElementById(id).innerHTML);
      incNbrRec(0, endNbr, elt);
    }
    function incEltNbr1(id) {
      elt = document.getElementById(id);
      endNbr = Number(document.getElementById(id).innerHTML);
      console.log(endNbr);
      incNbrRec1(0, endNbr, elt);
    }

    function incNbrRec1(i, endNbr, elt) {
      // elt.innerHTML = i;
      // for(i=0;i<=endNbr;i+50){
      //     incNbrRec(i, endNbr, elt);
      // }
      if (i <= endNbr) {
        elt.innerHTML = i;
        setTimeout(function () {
          //Delay a bit before calling the function again.
          incNbrRec1(i + 50, endNbr, elt);
        }, 100);
      }
    }

    function incNbrRec(i, endNbr, elt) {
      if (i <= endNbr) {
        elt.innerHTML = i;
        setTimeout(function () {
          //Delay a bit before calling the function again.
          incNbrRec(i + 1, endNbr, elt);
        }, 100);
      }
    }
    setTimeout(() => {
      incEltNbr("number001");
      incEltNbr("number002");
      incEltNbr("number003");
      incEltNbr1("number004");
    }, 500);
  </script>
</html>
