<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="css/webinar.css" />
</head>

<body>
  <%-include("navbar");-%>

    <div class="home--section">
      <div class="heading1">Unlock the Secrets to</div>
      <div class="heading2">Successful Startup Fundraising</div>
      <div class="subheading">
        Are you ready to take your startup to new heights? 🚀
      </div>

      <div class="home-bottom">
        <div class="left-section">
          <h5 class="heading">Registration ends in 👇</h5>
          <div class="blocks">
            <div class="block block1"><h3 id="days"></h3> <span>DAYS</span></div>
            <div class="block block2"><h3 id="hours"></h3> <span>HOURS</span></div>
            <div class="block block3"><h3 id="mins"></h3> <span>MINS</span></div>
            <div class="block block4"><h3 id="secs"></h3> <span>SECS</span></div>
          </div>
          <button class="register">Register at ₹99/- only</button>
        </div>
        <div class="right-section">
          <div class="para">
            Join us for an exclusive 2-day webinar series hosted on Zoom, where
            we reveal the strategies, tips, and tricks to master the art of
            fundraising.
          </div>
          <div class="para">
            Learn from industry experts and successful entrepreneurs who have
            raised millions in capital!
          </div>
          <div class="detail">
            <p class="dateTime">20th August, 2023 | 5:00pm</p>
            <img class="zoomImg" src="/images/zoom.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="speaker">
      <h2 class="heading">Meet your Speaker</h2>
      <div class="card">
        <div class="left">
          <img class="speakerImg" src="/images/speaker.png" />
        </div>
        <div class="right">
          <h2>TUSHAR KANSAL</h2>
          <p class="rightp">Founder & CEO, Kansaltancy Ventures</p>
          <div class="information">
            <div class="info1 info">
              <h3>150+</h3>
              <p>startup fundraisings</p>
            </div>
            <div class="info2 info">
              <h3>15+</h3>
              <p>years of experience</p>
            </div>
            <div class="info3 info">
              <h3>200+</h3>
              <p>Workshops Conducted</p>
            </div>
            <div class="info4 info">
              <h3>$1B</h3>
              <p>accumulated in funding</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured">
      <h3 class="heading">Featured in</h3>
      <div class="featuredImg">
        <div class="rechtangle1">
          <div class="names">
            <div class="scrolling-container">
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/addidas.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/spotify.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img id="imgG" src="/images/google.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/netflix.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/addidas.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/spotify.png" /></div>
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img id="imgG" src="/images/google.png" /></div>
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/netflix.png" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="section3">
      <div class="heading3">
        <h1>Why attend?</h1>
      </div>
      <div class="content3">
        <div class="content3_inner" id="content3_inner1">
          <img src="/images/sec3_1.png" alt="img" />
          <div class="text">Access to<br> Valuable Resources</div>
        </div>
        <div class="content3_inner" id="content3_inner2">
          <img src="/images/sec3_2.png" alt="img" />
          <div class="text">Network with<br> like-minded entrepreneurs</div>

        </div>
        <div id="content3_inner3" class="content3_inner">
          <img src="/images/sec3_3.png" alt="img" />
          <div class="text">Insights from real<br> success stories</div>

        </div>
      </div>
      <div class="bottom3">
        <h2>Take the first step toward funding your dream! 🚀</h2>
        <button class="register">Register at ₹99/- only</button>
      </div>
    </div>
    <div class="section4">
      <h1>Sneak Peak</h1>
      <img src="./images/sneakpeak.png" alt="img" />
    </div>

    <div class="section5">
      <div class="heading5">
        <h1>What will you learn</h1>
      </div>
      <div class="content5_main">
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>​​Generating Winning Business Ideas</h2>
            <p>
              Techniques to generate innovative and viable business ideas that
              have the potential to attract investor interest.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Market Validation</h2>
            <p>
              How to validate business ideas through market research and
              customer feedback to ensure their viability and potential for
              success.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Crafting a Compelling Pitch</h2>
            <p>
              Learn how to create a concise and persuasive pitch that
              effectively communicates the value of the idea to potential
              investors.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Understanding Investor Expectations</h2>
            <p>
              Gain insights into what investors look for in a business idea and
              how to tailor your approach to meet their criteria.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Risk Mitigation and Team Building</h2>
            <p>
              Strategies to identify and mitigate potential risks, and the
              importance of building a strong and capable team to execute the
              business plan successfully.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section6">
      <div class="heading6">
        <h1>Exclusive Bonuses</h1>
        <p>worth <span style="font-weight: bolder"> Rs 12,000/-</span></p>
      </div>
      <div class="content6">
        <div class="content6_inner" style="background: linear-gradient(90deg, #CA2FE3 0%, #ED80FF 100%);">
          <div class="wrapperTP">
            <p class="para6">01</p>
            <div class="text_6">Email and Elevator Pitch Template</div>
          </div>
          <img src="./images/sec6_1.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #0DCC42 0%, #72E42D 100%);
        ">
          <div class="wrapperTP">
            <p class="para6">02</p>
            <div class="text_6">Fundraising Toolkit</div>
          </div>
          <img src="./images/sec6_2.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #0D70CC 0%, #7EC1FF 100%);">
          <div class="wrapperTP">
            <p class="para6">03</p>
            <div class="text_6">Investor Data</div>
          </div>
          <img src="./images/sec6_3.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #CC8B0D 0%, #E4B12D 100%);
        ">
          <div class="wrapperTP">
            <p class="para6">04</p>
            <div class="text_6">50+ Templates to Success</div>
          </div>
          <img src="./images/sec6_4.png" alt="img" />
        </div>




      </div>
      <div class="bottom6">
        <h3>Registration ends in 👇</h3>
        <div class="counter">
          <div class="counter_child">
            <h3 id="days1"></h3>
            <p>Days</p>
          </div>
          <div class="counter_child">
            <h3 id="hours1"></h3>
            <p>Hours</p>
          </div>
          <div class="counter_child">
            <h3 id="mins1"></h3>
            <p>Mins</p>
          </div>
          <div class="counter_child">
            <h3 id="secs1"></h3>
            <p>Secs</p>
          </div>
        </div>
        <button class="register">Register at ₹99/- only</button>
      </div>
    </div>

    <div class="customer-review-section">
      <h2 class="customer-review-heading">Testimonials</h2>
      <!-- <img class="grp-dots1" src="/Images/grp-dots.png" /> -->
      <div class="customer-review-card">
        <div class="card1 review-card">
          <div class="upper-part">
            <img src="Images/dummy-profile.png" />
            <div class="right-section">
              <h2>Jatin Khurana</h2>
              <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div>
            </div>
          </div>
          <div class="middle-section">
            <p>
              “We really appreciate you taking the time to share your rating
              with us. We look forward to seeing you again soon.”
            </p>
          </div>
          <img />
        </div>
        <div class="card2 review-card">
          <div class="upper-part">
            <img src="Images/dummy-profile.png" />
            <div class="right-section">
              <h2>Jatin Khurana</h2>
              <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div>
            </div>
          </div>
          <div class="middle-section">
            <p>
              “We really appreciate you taking the time to share your rating
              with us. We look forward to seeing you again soon.”
            </p>
          </div>
          <img />
        </div>
        <div class="card3 review-card">
          <div class="upper-part">
            <img src="Images/dummy-profile.png" />
            <div class="right-section">
              <h2>Jatin Khurana</h2>
              <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div>
            </div>
          </div>
          <div class="middle-section">
            <p>
              “We really appreciate you taking the time to share your rating
              with us. We look forward to seeing you again soon.”
            </p>
          </div>
          <img />
        </div>
        <div class="card4 review-card">
          <div class="upper-part">
            <img src="Images/dummy-profile.png" />
            <div class="right-section">
              <h2>Jatin Khurana</h2>
              <p>CEO at Reverr</p>
              <div class="stars">
                <img src="images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div>
            </div>
          </div>
          <div class="middle-section">
            <p>
              “We really appreciate you taking the time to share your rating
              with us. We look forward to seeing you again soon.”
            </p>
          </div>
          <img />
        </div>
      </div>

      <div class="slider-navigation">
        <button class="slider-nav-left">&lt;</button>
        <button class="slider-nav-right">&gt;</button>
      </div>
    </div>
    <div class="section8">
      <div class="heading8">
        <h1>Frequently Asked Questions</h1>
      </div>
      <div class="content8">
        <div class="content8_inner">
          <div class="wrapperB" onclick="toggleMenu1()">
            <h3>How will I get the link to attend the program?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass1" class="dpclass">
            Once you register for the webinar, you will receive an email with
            the access link and instructions to join the session.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu2()">
          <div class="wrapperB">
            <h3>How will I get the bonus items?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass2" class="dpclass">
            Bonus items will be sent to you via email after you attend the
            webinar.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu3()">
          <div class="wrapperB">
            <h3>Why does this program cost only ₹99?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass3" class="dpclass">
            We want to make this valuable program accessible to a wider
            audience, and ₹99 covers the basic operational costs.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu4()">
          <div class="wrapperB">
            <h3>Will I get the recording of the program?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass4" class="dpclass">
            It’s only a live session! No recording will be provided.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu5()">
          <div class="wrapperB">
            <h3>Who is this seminar ideal for?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass5" class="dpclass">
            This seminar is ideal for aspiring entrepreneurs, business owners,
            and anyone interested in executing successful business ideas.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu6()">
          <div class="wrapperB">
            <h3>Is this applicable to my industry?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass6" class="dpclass">
            Yes, the principles discussed are applicable across industries and
            can be adapted to suit various business sectors.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu7()">
          <div class="wrapperB">
            <h3>
              Can I attend this if I want to start a business but don't have one
              yet?
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass7" class="dpclass">
            Absolutely! This webinar is perfect for individuals at any stage of
            their entrepreneurial journey, including those who are just
            starting.
          </p>
        </div>

        <div class="content8_inner" onclick="toggleMenu8()">
          <div class="wrapperB">
            <h3>
              What if I have questions about registration, attending, etc.?
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass8" class="dpclass">
            <br />Feel free to reach out to our support team at [email
            address/phone number] for any queries you may have.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu9()">
          <div class="wrapperB">
            <h3>If I miss attending this time, can I attend this again?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass9" class="dpclass">
            While this particular session may not be repeated immediately, keep
            an eye out for future webinars that may interest you.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu10()">
          <div class="wrapperB">
            <h3>What do I need to keep handy during the webinar?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass10" class="dpclass">
            All you need is a stable internet connection, a device (computer or
            smartphone), and a notepad to take notes.
          </p>
        </div>
      </div>
      <div class="bottom8">
        <div class="bottom8_inner">
       
          <div class="inner8_1">5000 startups transformed</div>
          <div class="inner8_2">You could be next</div>
       
          
          <button class="register1">Register at ₹99/- only</button>
        </div>
        <div class="wrapperImg">
          <img class="img1" src="./images/sec8_ellipse.png" alt="img"/>
        <img class="img2" src="./images/sec8.png" alt="img" />
      </div>
      </div>
    </div>

    <script>
      function toggleMenu1() {
        const menu = document.getElementById("optionClass1");
        menu.classList.toggle("show");
      }
      function toggleMenu2() {
        const menu = document.getElementById("optionClass2");
        menu.classList.toggle("show");
      }
      function toggleMenu3() {
        const menu = document.getElementById("optionClass3");
        menu.classList.toggle("show");
      }
      function toggleMenu4() {
        const menu = document.getElementById("optionClass4");
        menu.classList.toggle("show");
      }
      function toggleMenu5() {
        const menu = document.getElementById("optionClass5");
        menu.classList.toggle("show");
      }
      function toggleMenu6() {
        const menu = document.getElementById("optionClass6");
        menu.classList.toggle("show");
      }
      function toggleMenu7() {
        const menu = document.getElementById("optionClass7");
        menu.classList.toggle("show");
      }
      function toggleMenu8() {
        const menu = document.getElementById("optionClass8");
        menu.classList.toggle("show");
      }
      function toggleMenu9() {
        const menu = document.getElementById("optionClass9");
        menu.classList.toggle("show");
      }
      function toggleMenu10() {
        const menu = document.getElementById("optionClass10");
        menu.classList.toggle("show");
      }

      // Add event listeners to enable slider navigation
      const slider = document.querySelector(".customer-review-card");
      const leftNav = document.querySelector(".slider-nav-left");
      const rightNav = document.querySelector(".slider-nav-right");

      leftNav.addEventListener("click", () => {
        slider.scrollBy({
          left: -350, // Adjust the scroll distance as needed
          behavior: "smooth",
        });
      });

      rightNav.addEventListener("click", () => {
        slider.scrollBy({
          left: 350, // Adjust the scroll distance as needed
          behavior: "smooth",
        });
      });


      var countDownDate = new Date("5 Aug, 2023 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function(){

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("days").innerHTML = days
  document.getElementById("hours").innerHTML = hours
  document.getElementById("mins").innerHTML = minutes
  document.getElementById("secs").innerHTML = seconds

  document.getElementById("days1").innerHTML = days
  document.getElementById("hours1").innerHTML = hours
  document.getElementById("mins1").innerHTML = minutes
  document.getElementById("secs1").innerHTML = seconds
},1000)
    </script>
</body>
<%- include('footerNew'); -%>

</html>