<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="css/webinar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W13L6TLZL0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-W13L6TLZL0');
    </script>
  </head>

  <body style="overflow-x: hidden">
    <%-include("navbar");-%>

    <div class="home--section">
      <div class="heading1">Refreshed by Reverr</div>
      <!-- <div class="heading1"> Where Dreams Meet Reality!</div> -->
      <!-- <div class="heading2">Successful Startup Fundraising</div> -->
      <div class="subheading" style="margin-bottom: 20px">
        Unplug from Screens, Plug into Success: The Ultimate In-Person 


      </div>
      <div class="subheading" style="margin-top: 0px"> Networking Experience!🚀</div>

      <div class="home-bottom">
        <div class="left-section" style="margin-left: 5%">
          <h5 class="heading">Registration ends in 👇</h5>
          <div class="blocks">
            <div class="block block1">
              <h3 id="days"></h3>
              <span>DAYS</span>
            </div>
            <div class="block block2">
              <h3 id="hours"></h3>
              <span>HOURS</span>
            </div>
            <div class="block block3">
              <h3 id="mins"></h3>
              <span>MINS</span>
            </div>
            <div class="block block4">
              <h3 id="secs"></h3>
              <span>SECS</span>
            </div>
          </div>
          <a href="https://payments.cashfree.com/forms/reverr2">
            <button class="register">Register <span style="text-decoration: line-through;">Rs. 1,999</span> Rs. 499/- only</button>
          </a>
        </div>
        <div class="right-section">
          <div class="para" style="width: 80%; margin-left: 10%">
            Your moment to elevate your network, spark creativity, and accelerate success is here! 
            Join us at RBR on  <span style="font-weight: 800"> September 30th, 2023,</span> and immerse yourself in a world of <span style="font-weight: 800"> opportunities, connections, and inspiration.</span> 
         
          </div>
          <!-- <div class="para">
            Learn from industry experts and successful entrepreneurs who have
            raised millions in capital!
          </div> -->
          <div class="detail" style="justify-content: center;">
            <p class="dateTime"> September 30th, 2023 |  2:00 PM - 6:00 PM IST  
            </p>
            <!-- <img class="zoomImg" src="/images/zoom.png" /> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="speaker" style="padding-top: 40px">
      <h2 class="heading">Meet your Speaker</h2>
      <div class="card" style="background-color: black">
        <div class="left">
          <img
            class="speakerImg"
            style="width: 80%"
            src="/images/speakernj.png"
          />
        </div>
        <div class="right">
          <h2 style="margin-top: 10px">JATIN KHURANA</h2>
          <p class="rightp" style="margin-bottom: 5px">
            Founder & CEO of Reverr
          </p>
          <p class="rightp" style="margin-bottom: 10px; margin-top: 0px">
            Co-Founder & CMO of Skitch
          </p>
          <div style="margin-top: 30px; color: white">
            <p>🔹Accomplised <span class="goldit">2x</span> startup founder</p>
            <p>🔹Celebrated <span class="goldit">1x</span> successful exit</p>
            <p>
              🔹Helped <span class="goldit">100+</span> startups in the last
              year
            </p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="featured">
      <h3 class="heading">Our Partners</h3>
      <div class="featuredImg">
        <div class="rechtangle1">
          <div class="names" style="padding-left: 70px">
            <div class="scrolling-container">
              <div class="item">
                <div><img src="/images/partner-1.png" /></div>
              </div>
              <div class="item">
                <div>
                  <img style="width: 120px" src="/images/partner-2.JPG" />
                </div>
              </div>

              <div class="item">
                <div><img src="/images/partner-3.JPG" /></div>
              </div>
              <div class="item">
                <div>
                  <img style="width: 140px" src="/images/partner-4.PNG" />
                </div>
              </div>
              <div class="item">
                <div><img src="/images/partner-5.JPG" /></div>
              </div>
              <div class="item">
                <div>
                  <img style="margin-right: 0px" src="/images/partner-7.PNG" />
                </div>
              </div>
              <div class="item">
                <div>
                  <img style="margin-right: 0px" src="/images/partner-8.png" />
                </div>
              </div>
              <div class="item">
                <div>
                  <img style="margin-right: 0px" src="/images/partner-9.JPG" />
                </div>
              </div>
           

              <!-- <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image216.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image2165.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img id="imgG" style="width: 160px;" src="/images/image2164.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image0909.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image2162.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image2166.png" /></div>
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img id="imgG" style="width: 160px;" src="/images/google.png" /></div>
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/netflix.png" /></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section3" style="padding-left: 50px; padding-right: 50px">
      <div class="heading3">
        <h1>Why attend?</h1>
      </div>
      <div class="content3">
        <div
          class="content3_inner"
          id="content3_inner1"
          style="background: linear-gradient(0deg, #0dcc7c 0%, #2be7c5 100%)"
        >
          <img src="/images/sec3_1.png" alt="img" />
          <div class="text">Proven Strategies</div>
          <div
            class="text"
            style="
              font-size: 16px;
              font-weight: 300;
              text-align: justify;
              width: 80%;
              margin-top: 5px;
            "
          >
          Ignite Your Network: Engage in dynamic discussions, immerse yourself in interactive activities, and uncover game-changing partnerships in a high-octane environment.
          </div>
        </div>
        <div
          class="content3_inner"
          id="content3_inner2"
          style="background: linear-gradient(0deg, #c305bc 0%, #f741da 100%)"
        >
          <img src="/images/sec3_2.png" alt="img" />
          <div class="text">Investor Insights</div>
          <div
            class="text"
            style="
              font-size: 16px;
              font-weight: 300;
              text-align: justify;
              width: 80%;
              margin-top: 5px;
            "
          >
         Realize Your Dreams: Meet startup visionaries, industry gurus, and go-getters who share your passion for innovation. Transform your aspirations into reality through genuine relationships.
          </div>
        </div>
        <div
          id="content3_inner3"
          class="content3_inner"
          style="background: linear-gradient(0deg, #cca20d 0%, #e3e72b 100%)"
        >
          <img src="/images/sec3_3.png" alt="img" />
          <div class="text">Concept to Reality</div>
          <div
            class="text"
            style="
              font-size: 16px;
              font-weight: 300;
              text-align: justify;
              width: 80%;
              margin-top: 5px;
            "
          >
          Spark Inspiration: Be fueled by success stories, supercharge your ambition, and ignite your entrepreneurial spirit with insights from our stellar lineup of speakers.
          </div>
        </div>
      </div>
      <div class="content3" style="margin-top: 60px">
        <div
          class="content3_inner"
          id="content3_inner2"
          style="background: linear-gradient(0deg, #0d93cc 0%, #2b54e7 100%)"
        >
          <img src="/images/sec3_2.png" alt="img" />
          <div class="text">Innovation Unleashed</div>
          <div
            class="text"
            style="
              font-size: 16px;
              font-weight: 300;
              text-align: justify;
              width: 80%;
              margin-top: 5px;
            "
          >
          Exclusive Early Bird Access: Secure your spot for a mere INR 499/- (Limited spots available) and unleash the potential of your dreams!
          </div>
        </div>
        <div
          id="content3_inner3"
          class="content3_inner"
          style="background: linear-gradient(0deg, #cc520d 0%, #f74f4f 100%)"
        >
          <img src="/images/sec3_3.png" alt="img" />
          <div class="text">Key Takeaways</div>
          <div
            class="text"
            style="
              font-size: 16px;
              font-weight: 300;
              text-align: justify;
              width: 80%;
              margin-top: 5px;
            "
          >
            Walk away with actionable insights and a clear roadmap to attract
            investors and secure funding.
          </div>
        </div>
      </div>
      <div class="bottom3">
        <h2 style="margin-bottom: 30px ; text-align :center"  >
          Register now for only INR 499/- (early bird access) and embark on an exhilarating journey that can reshape your future!
        </h2>
        <a href="https://payments.cashfree.com/forms/reverr2">
          <button class="register">Register at ₹499/- only</button>
        </a>
      </div>
    </div>

    <div class="customer-review-section " style="margin-top: 10em;" >
      <h2 class="customer-review-heading">Testimonials</h2>
      <!-- <img class="grp-dots1" src="/Images/grp-dots.png" /> -->
      <div class="names" style="padding-left: 70px">
      <div class="customer-review-card ">
        <div class="card1 review-card ">
          <div class="upper-part">
            <img src="/images/rat.jpeg" />
            <div class="right-section">
              <h2>Rhea</h2>
       
            </div>
          </div>
          <div class="middle-section">
            <p>
              “Attending RBR was a such a good weekend plan! It's not just another event; it's where dreams get a reality check and you get to make solid connections. I highly recommend attending it.”
            </p>
          </div>
          <img />
        </div>
        <div class="card2 review-card ">
          <div class="upper-part">
            <img src="/images/ajt.jpeg" />
            <div class="right-section">
              <h2>Sourav Bisht</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “RBR is a game-changer. The connections I made have been instrumental in my journey. It's where practical networking happens and you get to engage & interact with relevant people through all the fun & interactive activities they plan.”
            </p>
          </div>
          <img />
        </div>
        <div class="card3 review-card ">
          <div class="upper-part">
            <img src="/images/rbt.jpeg" />
            
            <div class="right-section">
              <h2>Akshay Gangwani</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “RBR is a goldmine. I met people who understood my startup challenges and shared real solutions. It's not your average networking event. I got to engage my brain, all while having fun & making brilliant connections.”
            </p>
          </div>
          <img />
        </div>
        <div class="card4 review-card ">
          <div class="upper-part">
            <img src="/images/mmt.jpeg" />
            <div class="right-section">
              <h2>Meghna Motwani</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “I was used to the usual, but RBR really was different. It's a place for actionable engagement and real, meaningful networking. I left with concrete benefits & so many business opportunities.”
            </p>
          </div>
          <img />
        </div>
        <!-- <div class="card4 review-card">
          <div class="upper-part">
            <img src="/images/rkt.jpg" />
            <div class="right-section">
              <h2>Meghna Motwani</h2>
          
            </div>
          </div>
          <div class="middle-section">
            <p>
              “Jatin’s webinar exceeded all my expectations! The knowledge and
              experience he shared were pure gold. The bonus package with
              templates and the investor database was like a treasure trove. I
              feel confident and empowered to pursue my entrepreneurial goals
              like never before.”
            </p>
          </div>
          <img />
        </div> -->
      </div>
      </div>

      <!-- <div class="slider-navigation">
        <button class="slider-nav-left">&lt;</button>
        <button class="slider-nav-right">&gt;</button>
      </div> -->
    </div>
    <!-- <div class="section4" style="margin-bottom: 0px">
      <h1>Sneak Peak</h1>
      <video style="margin-top: 30px" width="80%" height="45%" controls>
        <source src="/images/sneakpeek.mp4" type="video/mp4" />
      </video>
    </div> -->

    <!-- <div class="section5">
      <div class="heading5">
        <h1>What will you learn</h1>
      </div>
      <div class="content5_main">
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>​​Generating Winning Business Ideas</h2>
            <p>
              Techniques to generate innovative and viable business ideas that
              have the potential to attract investor interest.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Market Validation</h2>
            <p>
              How to validate business ideas through market research and
              customer feedback to ensure their viability and potential for
              success.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Crafting a Compelling Pitch</h2>
            <p>
              Learn how to create a concise and persuasive pitch that
              effectively communicates the value of the idea to potential
              investors.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Understanding Investor Expectations</h2>
            <p>
              Gain insights into what investors look for in a business idea and
              how to tailor your approach to meet their criteria.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Risk Mitigation and Team Building</h2>
            <p>
              Strategies to identify and mitigate potential risks, and the
              importance of building a strong and capable team to execute the
              business plan successfully.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="section6" style="margin-top: 50px">
      <div class="heading6">
        <h1>Exclusive Bonuses</h1>
        <!-- <p style="margin-bottom: 30px; margin-top: 10px">
          worth <span style="font-weight: bolder"> Rs 12,000/-</span>
        </p> -->
      </div>
      <div class="content6">
        <div
          class="content6_inner"
          style="background: linear-gradient(90deg, #e32f90 0%, #ff80c5 100%)"
        >
          <div class="wrapperTP">
            <p class="para6">01</p>
            <div class="text_6">Database of 500 investors
            </div>
          </div>
          <img src="./images/image875.png" alt="img" />
          
        </div>
        <div
          class="content6_inner"
          style="background: linear-gradient(90deg, #0dcc42 0%, #72e42d 100%)"
        >
          <div class="wrapperTP">
            <p class="para6">02</p>
            <div class="text_6">Email templates</div>
          </div>
          
          <img src="./images/sec6_1.png" alt="img" />
          
        </div>
        <div
          class="content6_inner"
          style="background: linear-gradient(90deg, #0d70cc 0%, #7ec1ff 100%)"
        >
          <div class="wrapperTP">
            <p class="para6">03</p>
            <div class="text_6">Free Customised NFC card by Connct (Worth INR 1,000 )</div>
          </div>
          <img src="./images/sec6_2.png" alt="img" />
          
        </div>
        <div
          class="content6_inner"
          style="background: linear-gradient(90deg, #cc8b0d 0%, #e4b12d 100%)"
        >
          <div class="wrapperTP">
            <p class="para6">04</p>
            <div class="text_6">Investor Elevator Pitch template
            </div>
          </div>
          <img src="./images/sec6_4.png" alt="img" />
        </div>
        <div
          class="content6_inner"
          style="background: linear-gradient(90deg, #780dcc 0%, #b84afa 100%)"
        >
          <div class="wrapperTP">
            <p class="para6">05</p>
            <div class="text_6">Complimentary Startup E-books (5)</div>
          </div>
          <img src="./images/sec6_3.png" alt="img" />
        </div>
      </div>
      <div class="bottom6" style="margin-top:8em;">
        <h3>If you don't have fun & make relevant networks, your next Refreshed by Reverr registration is on us!</h4>
        <h3>Registration ends in 👇</h3>
        <div class="counter">
          <div class="counter_child">
            <h3 id="days1"></h3>
            <p>Days</p>
          </div>
          <div class="counter_child">
            <h3 id="hours1"></h3>
            <p>Hours</p>
          </div>
          <div class="counter_child">
            <h3 id="mins1"></h3>
            <p>Mins</p>
          </div>
          <div class="counter_child">
            <h3 id="secs1"></h3>
            <p>Secs</p>
          </div>
        </div>
        <a href="https://payments.cashfree.com/forms/reverr2">
          <button class="register">Register at ₹499/- only</button>
        </a>
      </div>
    </div>

    
    <div class="section8">
      <div class="heading8" style="padding-top: 30px">
        <h1 style="margin-bottom: 25px">Frequently Asked Questions</h1>
      </div>
      <div class="content8">
        <div class="content8_inner">
          <div class="wrapperB" onclick="toggleMenu1()">
            <h3>❓ Not a startup founder? Is this event for you?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass1" class="dpclass">
          A: Absolutely! RBR welcomes professionals, investors, and dreamers from all walks of life. Our diverse networking opportunities ensure valuable takeaways for everyone.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu2()">
          <div class="wrapperB">
            <h3>❓ Is RBR only for startup founders?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass2" class="dpclass">
          A: No, RBR welcomes professionals, investors, and anyone passionate about entrepreneurship. It's a diverse networking event with opportunities for everyone.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu3()">
          <div class="wrapperB">
            <h3>❓ Can I bring a colleague or friend with me?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass3" class="dpclass">
          A: Absolutely! We encourage you to bring along colleagues, friends, or anyone who shares your enthusiasm for startups and networking.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu4()">
          <div class="wrapperB">
            <h3>❓ Is there a dress code for the event?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass4" class="dpclass">
         A: While there's no strict dress code, we recommend business casual attire to make the best impression on potential connections.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu5()">
          <div class="wrapperB">
            <h3>❓ Will there be food and refreshments at the event?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass5" class="dpclass">
          A: Yes, we'll provide light refreshments to keep you energized throughout the event.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu6()">
          <div class="wrapperB">
            <h3>❓ What should I bring to the event?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass6" class="dpclass">
          A: Bring your business cards, a notebook, and an open mind. Be ready to engage, connect, and learn.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu7()">
          <div class="wrapperB">
            <h3>❓ Can I register on the day of the event?
          
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass7" class="dpclass">
           A: While we encourage early registration to secure your spot, we'll accept on-the-spot registrations if slots are available. However, it's best to register in advance to guarantee your spot.
          </p>
        </div>

        <div class="content8_inner" onclick="toggleMenu8()">
          <div class="wrapperB">
            <h3>❓ How can I connect with fellow attendees before the event?
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass8" class="dpclass">
          A: Stay tuned to our social media channels and website for updates on pre-event networking opportunities and discussions.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu9()">
          <div class="wrapperB">
            <h3>❓ Are there any age restrictions for attendees?
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass9" class="dpclass">
        A: There are no age restrictions. If you have a passion for startups and networking, you're welcome to join us.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu10()">
          <div class="wrapperB">
            <h3>❓ Is there a refund policy as well?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass10" class="dpclass">
        A: The registered participants will not be eligible for a refund. However, they will be able to attend the next RBR event free of cost.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu11()">
          <div class="wrapperB">
            <h3>❓ How can I contact the event organizers for more information?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass11" class="dpclass">
         A: Feel free to reach out to us at hello@reverr.io and our team will be delighted to assist you with any queries or concerns.
          </p>
        </div>


      </div>
      <div class="bottom8">
        <div class="bottom8_inner">
          <div class="inner8_1">5000 startups transformed</div>
          <div class="inner8_2">You could be next</div>
          <a href="https://payments.cashfree.com/forms/reverr2">
            <button class="register1">Register at ₹499/- only</button>
          </a>
        </div>
        <div class="wrapperImg">
          <img class="img1" src="./images/sec8_ellipse.png" alt="img" />
          <img class="img2" src="./images/sec8.png" alt="img" />
        </div>
      </div>
    </div>

    <script>
      function toggleMenu1() {
        const menu = document.getElementById("optionClass1");
        menu.classList.toggle("show");
      }
      function toggleMenu2() {
        const menu = document.getElementById("optionClass2");
        menu.classList.toggle("show");
      }
      function toggleMenu3() {
        const menu = document.getElementById("optionClass3");
        menu.classList.toggle("show");
      }
      function toggleMenu4() {
        const menu = document.getElementById("optionClass4");
        menu.classList.toggle("show");
      }
      function toggleMenu5() {
        const menu = document.getElementById("optionClass5");
        menu.classList.toggle("show");
      }
      function toggleMenu6() {
        const menu = document.getElementById("optionClass6");
        menu.classList.toggle("show");
      }
      function toggleMenu7() {
        const menu = document.getElementById("optionClass7");
        menu.classList.toggle("show");
      }
      function toggleMenu8() {
        const menu = document.getElementById("optionClass8");
        menu.classList.toggle("show");
      }
      function toggleMenu9() {
        const menu = document.getElementById("optionClass9");
        menu.classList.toggle("show");
      }
      function toggleMenu10() {
        const menu = document.getElementById("optionClass10");
        menu.classList.toggle("show");
      }
      function toggleMenu11() {
        const menu = document.getElementById("optionClass11");
        menu.classList.toggle("show");
      }

      // Get the scrolling container element
      var container = document.querySelector(".scrolling-container");

      // Get the list of items inside the container
      var items = container.querySelectorAll(".item");

      // Duplicate the items
      var itemArray = Array.from(items);
      itemArray.forEach(function (item) {
        var clone = item.cloneNode(true);
        container.appendChild(clone);
      });
      itemArray.forEach(function (item) {
        var clone = item.cloneNode(true);
        container.appendChild(clone);
      });
      itemArray.forEach(function (item) {
        var clone = item.cloneNode(true);
        container.appendChild(clone);
      });
      itemArray.forEach(function (item) {
        var clone = item.cloneNode(true);
        container.appendChild(clone);
      });

      var customer = document.querySelector(".customer-review-card");

      // Get the list of items inside the container
     var reviews = customer.querySelectorAll(".review-card");
     var itemArraycard = Array.from(reviews);
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });
     itemArraycard.forEach(function (item) {
        var clone = item.cloneNode(true);
        customer.appendChild(clone);
      });

    



      var countDownDate = new Date("30 Sep, 2023 14:37:25").getTime();

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("mins").innerHTML = minutes;
        document.getElementById("secs").innerHTML = seconds;

        document.getElementById("days1").innerHTML = days;
        document.getElementById("hours1").innerHTML = hours;
        document.getElementById("mins1").innerHTML = minutes;
        document.getElementById("secs1").innerHTML = seconds;
      }, 1000);
    </script>
  </body>
  <%- include('footerNew'); -%>
</html>


