<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="css/webinar.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body style="overflow-x: hidden;">
  <%-include("navbar");-%>

    <div class="home--section">
      <div class="heading1">Finding & Executing an Idea</div>
      <div class="heading1">Investors Can't Resist</div>
      <!-- <div class="heading2">Successful Startup Fundraising</div> -->
      <div class="subheading" style="margin-bottom: 20px;">
        Are you ready to  transform your business ideas into 
      </div>
      <div class="subheading" style="margin-top: 0px;">
        investor magnets? 🚀
      </div>

      <div class="home-bottom">
        <div class="left-section" style="margin-left: 5%;">
          <h5 class="heading">Registration ends in 👇</h5>
          <div class="blocks">
            <div class="block block1"><h3 id="days"></h3> <span>DAYS</span></div>
            <div class="block block2"><h3 id="hours"></h3> <span>HOURS</span></div>
            <div class="block block3"><h3 id="mins"></h3> <span>MINS</span></div>
            <div class="block block4"><h3 id="secs"></h3> <span>SECS</span></div>
          </div>
          <a href="https://payments.cashfree.com/forms/reverr2">
            <button class="register">Register at ₹149/- only</button>
          </a>
        </div>
        <div class="right-section">
          <div class="para" style="width: 80%; margin-left: 10%;">
            Join  our power-packed <span style="font-weight: 800;">webinar</span>  and <span style="font-weight: 800;">unlock the secrets</span> to crafting ideas that investors simply cannot say "NO" to!
          </div>
          <!-- <div class="para">
            Learn from industry experts and successful entrepreneurs who have
            raised millions in capital!
          </div> -->
          <div class="detail" style="margin-left: 10%;">
            <p class="dateTime">20th August, 2023 | 5:00pm</p>
            <img class="zoomImg" src="/images/zoom.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="speaker" style="padding-top: 40px;">
      <h2 class="heading">Meet your Speaker</h2>
      <div class="card" style="background-color: black;">
        <div class="left">
          <img class="speakerImg" style="width: 80%;" src="/images/speakerj.png" />
        </div>
        <div class="right">
          <h2 style="margin-top: 10px;">JATIN KHURANA</h2>
          <p class="rightp" style="margin-bottom: 5px;">Founder & CEO of Reverr</p>
          <p class="rightp" style="margin-bottom: 10px; margin-top: 0px;">Co-Founder & CMO of Skitch</p>
          <div  style="margin-top: 30px; color: white;">
           <p>🔹Accomplised <span class="goldit">2x</span> startup founder</p>
           <p>🔹Celebrated <span class="goldit">1x</span> successful exit</p>
           <p>🔹Helped <span class="goldit">100+</span> startups in the last year</p>
          </div>
        </div>
      </div>
    </div>

    <div class="featured">
      <h3 class="heading">Featured in</h3>
      <div class="featuredImg" >
        <div class="rechtangle1">
          <div class="names" style="padding: 0% 100px;">
            <div class="scrolling-container"  >
              <div class="item">
              
              <div><img    src="/images/image216.png" /></div>
              
            </div>
            <div class="item">
              
              <div><img style="width: 120px;"  src="/images/image2166.png" /></div>
              
            </div>
        
            <div class="item">
              
              <div><img   src="/images/image2164.png" /></div>
              
            </div>
            <div class="item">
              
              <div><img style="width: 140px;"  src="/images/img0909.png" /></div>
              
            </div>
            <div class="item">
              
              <div><img  src="/images/image2162.png" /></div>
              
            </div>
            <div class="item">
              
              <div><img style="margin-right: 0px;"  src="/images/image2165.png" /></div>
            </div>
            
              <!-- <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image216.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image2165.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img id="imgG" style="width: 160px;" src="/images/image2164.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image0909.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image2162.png" /></div>
                
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/image2166.png" /></div>
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img id="imgG" style="width: 160px;" src="/images/google.png" /></div>
              </div>
              <div class="item">
                <img src="images/white-star.png" />
                <div><img class="img" src="/images/netflix.png" /></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="section3" style="padding-left: 50px; padding-right: 50px;">
      <div class="heading3" >
        <h1>Why attend?</h1>
      </div>
      <div class="content3">
        <div class="content3_inner" id="content3_inner1" style="background: linear-gradient(0deg, #0DCC7C 0%, #2BE7C5 100%);">
          <img src="/images/sec3_1.png" alt="img" />
          <div class="text">Proven Strategies</div>
          <div class="text" style="font-size: 16px; font-weight: 300; text-align: justify; width: 80%; margin-top: 5px;">Learn battle-tested techniques to identify groundbreaking ideas that will set you apart from the competition.</div>
        </div>
        <div class="content3_inner" id="content3_inner2" style="background: linear-gradient(0deg, #C305BC 0%, #F741DA 100%);">
          <img src="/images/sec3_2.png" alt="img" />
          <div class="text">Investor Insights</div>
          <div class="text" style="font-size: 16px; font-weight: 300; text-align: justify; width: 80%; margin-top: 5px;">Uncover the key elements investors look for and craft the perfect pitch to win them over.</div>
        </div>
        <div id="content3_inner3" class="content3_inner" style="background: linear-gradient(0deg, #CCA20D 0%, #E3E72B 100%);">
          <img src="/images/sec3_3.png" alt="img" />
          <div class="text">Concept to Reality</div>
          <div class="text" style="font-size: 16px; font-weight: 300; text-align: justify; width: 80%; margin-top: 5px;">Discover the step-by-step process to turn your vision into a profitable reality.</div>
        </div>
      </div>
      <div class="content3" style="margin-top: 60px;">
        
        <div class="content3_inner" id="content3_inner2" style="background: linear-gradient(0deg, #0D93CC 0%, #2B54E7 100%);">
          <img src="/images/sec3_2.png" alt="img" />
          <div class="text">Innovation Unleashed</div>
          <div class="text" style="font-size: 16px; font-weight: 300; text-align: justify; width: 80%; margin-top: 5px;">Harness creativity and innovation to create a magnetic idea with boundless potential.</div>
        </div>
        <div id="content3_inner3" class="content3_inner" style="background: linear-gradient(0deg, #CC520D 0%, #F74F4F 100%);">
          <img src="/images/sec3_3.png" alt="img" />
          <div class="text">Key Takeaways</div>
          <div class="text" style="font-size: 16px; font-weight: 300; text-align: justify; width: 80%; margin-top: 5px;">Walk away with actionable insights and a clear roadmap to attract investors and secure funding.</div>
        </div>
      </div>
      <div class="bottom3">
        <h2 style="margin-bottom: 30px;">Take the first step toward funding your dream! 🚀</h2>
        <a href="https://payments.cashfree.com/forms/reverr2">
          <button class="register">Register at ₹149/- only</button>
        </a>
      </div>
    </div>
    <div class="section4" style="margin-bottom: 0px;">
      <h1>Sneak Peak</h1>
      <video style="margin-top: 30px;" width="80%" height="45%" controls>
        <source src="/images/sneakpeek.mp4" type="video/mp4">
      </video>
    </div>

    <!-- <div class="section5">
      <div class="heading5">
        <h1>What will you learn</h1>
      </div>
      <div class="content5_main">
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>​​Generating Winning Business Ideas</h2>
            <p>
              Techniques to generate innovative and viable business ideas that
              have the potential to attract investor interest.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Market Validation</h2>
            <p>
              How to validate business ideas through market research and
              customer feedback to ensure their viability and potential for
              success.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Crafting a Compelling Pitch</h2>
            <p>
              Learn how to create a concise and persuasive pitch that
              effectively communicates the value of the idea to potential
              investors.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Understanding Investor Expectations</h2>
            <p>
              Gain insights into what investors look for in a business idea and
              how to tailor your approach to meet their criteria.
            </p>
          </div>
        </div>
        <div class="content5_outer">
          <img src="./images/tick_section5.png" alt="img" />
          <div class="content5_inner">
            <h2>Risk Mitigation and Team Building</h2>
            <p>
              Strategies to identify and mitigate potential risks, and the
              importance of building a strong and capable team to execute the
              business plan successfully.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="section6" style="margin-top: 50px;">
      <div class="heading6">
        <h1>Exclusive Bonuses</h1>
        <p style="margin-bottom: 30px; margin-top: 10px;">worth <span style="font-weight: bolder"> Rs 12,000/-</span></p>
      </div>
      <div class="content6">
        <div class="content6_inner" style="background: linear-gradient(90deg, #E32F90 0%, #FF80C5 100%);
        ">
          <div class="wrapperTP">
            <p class="para6">01</p>
            <div class="text_6">Email and Elevator Pitch Template</div>
          </div>
          <img src="./images/sec6_1.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #0DCC42 0%, #72E42D 100%);
        ">
          <div class="wrapperTP">
            <p class="para6">02</p>
            <div class="text_6">Fundraising Toolkit</div>
          </div>
          <img src="./images/sec6_2.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #0D70CC 0%, #7EC1FF 100%);">
          <div class="wrapperTP">
            <p class="para6">03</p>
            <div class="text_6">Investor Data</div>
          </div>
          <img src="./images/sec6_3.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #CC8B0D 0%, #E4B12D 100%);
        ">
          <div class="wrapperTP">
            <p class="para6">04</p>
            <div class="text_6">50+ Templates to Success</div>
          </div>
          <img src="./images/sec6_4.png" alt="img" />
        </div>
        <div class="content6_inner" style="background: linear-gradient(90deg, #780DCC 0%, #B84AFA 100%);
        ">
          <div class="wrapperTP">
            <p class="para6">05</p>
            <div class="text_6">Investor Pitch Template</div>
          </div>
          <img src="./images/image875.png" alt="img" />
        </div>



      </div>
      <div class="bottom6">
        <h3>Registration ends in 👇</h3>
        <div class="counter">
          <div class="counter_child">
            <h3 id="days1"></h3>
            <p>Days</p>
          </div>
          <div class="counter_child">
            <h3 id="hours1"></h3>
            <p>Hours</p>
          </div>
          <div class="counter_child">
            <h3 id="mins1"></h3>
            <p>Mins</p>
          </div>
          <div class="counter_child">
            <h3 id="secs1"></h3>
            <p>Secs</p>
          </div>
        </div>
        <a href="https://payments.cashfree.com/forms/reverr2">
          <button class="register">Register at ₹149/- only</button>
        </a>
      </div>
    </div>

    <div class="customer-review-section">
      <h2 class="customer-review-heading">Testimonials</h2>
      <!-- <img class="grp-dots1" src="/Images/grp-dots.png" /> -->
      <div class="customer-review-card">
        <div class="card1 review-card">
          <div class="upper-part">
            <img src="/images/jst.jpeg" />
            <div class="right-section">
              <h2>Jagriti Shandilya</h2>
              <!-- <p>CEO at Reverr</p> -->
              <!-- <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “Attending the webinar by Jatin was a game-changer for my startup journey! His insights on idea execution and attracting investors were invaluable. Thanks to his guidance, I refined my pitch and secured funding beyond my expectations. Highly recommend it!”
            </p>
          </div>
          <img />
        </div>
        <div class="card2 review-card">
          <div class="upper-part">
            <img src="/images/ajt.jpeg" />
            <div class="right-section">
              <h2>Anmol Jain</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “Jatin's expertise is unmatched! His webinar provided actionable strategies and access to resources that truly elevated my business. The investor database and templates alone were worth their weight in gold. Forever grateful for the impact he's had on my startup.”
            </p>
          </div>
          <img />
        </div>
        <div class="card3 review-card">
          <div class="upper-part">
            <img src="/images/mmt.jpeg" />
            <div class="right-section">
              <h2>Meghna Motwani</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “Jatin’s webinar is a must-attend for any entrepreneur serious about success. His personal anecdotes and proven methodologies gave me the confidence to pursue my startup dream. Thanks to him, I am now well on my way to transforming my idea into reality.”
            </p>
          </div>
          <img />
        </div>
        <div class="card4 review-card">
          <div class="upper-part">
            <img src="/images/rbt.jpeg" />
            <div class="right-section">
              <h2>Ravneet Bhatia</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “I cannot thank Jatin enough for his webinar. His mentorship has been transformative for my startup. The way he simplifies the complex process of attracting investors and crafting a compelling pitch is nothing short of genius. I highly recommend this webinar to every budding entrepreneur!”
            </p>
          </div>
          <img />
        </div>
        <div class="card4 review-card">
          <div class="upper-part">
            <img src="/images/rkt.jpg" />
            <div class="right-section">
              <h2>Rohit Kumar</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “Jatin’s webinar exceeded all my expectations! The knowledge and experience he shared were pure gold. The bonus package with templates and the investor database was like a treasure trove. I feel confident and empowered to pursue my entrepreneurial goals like never before.”
            </p>
          </div>
          <img />
        </div>
        <div class="card4 review-card">
          <div class="upper-part">
            <img src="/images/rat.jpeg" />
            <div class="right-section">
              <h2>Rhea Anand</h2>
              <!-- <p>CEO at Reverr</p>
              <div class="stars">
                <img src="images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
                <img src="Images/magicstar.png" />
              </div> -->
            </div>
          </div>
          <div class="middle-section">
            <p>
              “The webinar by Jatin was a revelation! His expertise and passion for helping entrepreneurs shine through every minute of the session. The tips on refining my startup idea and delivering an impactful elevator pitch have been instrumental in getting my project noticed. Forever grateful!”
            </p>
          </div>
          <img />
        </div>
      </div>

      <div class="slider-navigation">
        <button class="slider-nav-left">&lt;</button>
        <button class="slider-nav-right">&gt;</button>
      </div>
    </div>
    <div class="section8">
      <div class="heading8" style="padding-top: 30px; ">
        <h1 style="margin-bottom: 25px;">Frequently Asked Questions</h1>
      </div>
      <div class="content8">
        <div class="content8_inner">
          <div class="wrapperB" onclick="toggleMenu1()">
            <h3>How will I get the link to attend the program?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass1" class="dpclass">
            Once you register for the webinar, you will receive an email with
            the access link and instructions to join the session.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu2()">
          <div class="wrapperB">
            <h3>How will I get the bonus items?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass2" class="dpclass">
            Bonus items will be sent to you via email after you attend the
            webinar.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu3()">
          <div class="wrapperB">
            <h3>Why does this program cost only ₹99?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass3" class="dpclass">
            We want to make this valuable program accessible to a wider
            audience, and ₹99 covers the basic operational costs.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu4()">
          <div class="wrapperB">
            <h3>Will I get the recording of the program?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass4" class="dpclass">
            It’s only a live session! No recording will be provided.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu5()">
          <div class="wrapperB">
            <h3>Who is this seminar ideal for?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass5" class="dpclass">
            This seminar is ideal for aspiring entrepreneurs, business owners,
            and anyone interested in executing successful business ideas.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu6()">
          <div class="wrapperB">
            <h3>Is this applicable to my industry?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass6" class="dpclass">
            Yes, the principles discussed are applicable across industries and
            can be adapted to suit various business sectors.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu7()">
          <div class="wrapperB">
            <h3>
              Can I attend this if I want to start a business but don't have one
              yet?
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass7" class="dpclass">
            Absolutely! This webinar is perfect for individuals at any stage of
            their entrepreneurial journey, including those who are just
            starting.
          </p>
        </div>

        <div class="content8_inner" onclick="toggleMenu8()">
          <div class="wrapperB">
            <h3>
              What if I have questions about registration, attending, etc.?
            </h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass8" class="dpclass">
            <br />Feel free to reach out to our support team at [email
            address/phone number] for any queries you may have.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu9()">
          <div class="wrapperB">
            <h3>If I miss attending this time, can I attend this again?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass9" class="dpclass">
            While this particular session may not be repeated immediately, keep
            an eye out for future webinars that may interest you.
          </p>
        </div>
        <div class="content8_inner" onclick="toggleMenu10()">
          <div class="wrapperB">
            <h3>What do I need to keep handy during the webinar?</h3>
            <img src="./images/dropdown.svg" alt="img" />
          </div>
          <p id="optionClass10" class="dpclass">
            All you need is a stable internet connection, a device (computer or
            smartphone), and a notepad to take notes.
          </p>
        </div>
      </div>
      <div class="bottom8">
        <div class="bottom8_inner">
       
          <div class="inner8_1">5000 startups transformed</div>
          <div class="inner8_2">You could be next</div>
          <a href="https://payments.cashfree.com/forms/reverr2">
            <button class="register1">Register at ₹149/- only</button>
          </a>
          
        </div>
        <div class="wrapperImg">
          <img class="img1" src="./images/sec8_ellipse.png" alt="img"/>
        <img class="img2" src="./images/sec8.png" alt="img" />
      </div>
      </div>
    </div>

    <script>
      function toggleMenu1() {
        const menu = document.getElementById("optionClass1");
        menu.classList.toggle("show");
      }
      function toggleMenu2() {
        const menu = document.getElementById("optionClass2");
        menu.classList.toggle("show");
      }
      function toggleMenu3() {
        const menu = document.getElementById("optionClass3");
        menu.classList.toggle("show");
      }
      function toggleMenu4() {
        const menu = document.getElementById("optionClass4");
        menu.classList.toggle("show");
      }
      function toggleMenu5() {
        const menu = document.getElementById("optionClass5");
        menu.classList.toggle("show");
      }
      function toggleMenu6() {
        const menu = document.getElementById("optionClass6");
        menu.classList.toggle("show");
      }
      function toggleMenu7() {
        const menu = document.getElementById("optionClass7");
        menu.classList.toggle("show");
      }
      function toggleMenu8() {
        const menu = document.getElementById("optionClass8");
        menu.classList.toggle("show");
      }
      function toggleMenu9() {
        const menu = document.getElementById("optionClass9");
        menu.classList.toggle("show");
      }
      function toggleMenu10() {
        const menu = document.getElementById("optionClass10");
        menu.classList.toggle("show");
      }

      // Add event listeners to enable slider navigation
      const slider = document.querySelector(".customer-review-card");
      const leftNav = document.querySelector(".slider-nav-left");
      const rightNav = document.querySelector(".slider-nav-right");

      leftNav.addEventListener("click", () => {
        slider.scrollBy({
          left: -512, // Adjust the scroll distance as needed
          behavior: "smooth",
        });
      });

      rightNav.addEventListener("click", () => {
        slider.scrollBy({
          left: 512, // Adjust the scroll distance as needed
          behavior: "smooth",
        });
      });


      var countDownDate = new Date("15 Aug, 2023 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function(){

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("days").innerHTML = days
  document.getElementById("hours").innerHTML = hours
  document.getElementById("mins").innerHTML = minutes
  document.getElementById("secs").innerHTML = seconds

  document.getElementById("days1").innerHTML = days
  document.getElementById("hours1").innerHTML = hours
  document.getElementById("mins1").innerHTML = minutes
  document.getElementById("secs1").innerHTML = seconds
},1000)
    </script>
</body>
<%- include('footerNew'); -%>

</html>