@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





body {
  background-color: #060f1e !important;
  /*background-image: url("/images/Rectangle 2807.svg"); */
  background-repeat: no-repeat;
  background-position: right 56px;
  background-size: contain;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
  color: white;
}

#blog-intro {
  width: 93%;
  /* background-size: contain; */
  margin: auto;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-heading {
  display: flex;
  align-items: center;
}

.blog-heading > h1 {
  font-family: "Philosopher", "sans-serif";
  font-size: 56px;
  color: #ffffff;
  font-weight: 700;
  line-height: 39px;
}

.blog-heading > img {
  height: 5rem;
  margin-right: 2rem;
}

#blog-intro > p {
  font-size: 22px;
  width: 50%;
  color: #fff;
  margin: 2rem auto;
  line-height: 40px;
  text-align: center;
  
}

#recent-post {
  width: 93%;
  margin: 5rem auto auto;
 
}

#recent-post > h1 {
  font-size: 34px;
  /* color: black; */
  color: #fff;
  margin-left: 4%;
}

.sample-blog {
  display: flex;
  margin: 2.5rem 0;
  height: 37rem;
  border-radius: 16px;
  background: var(--bg-secondary-gray, #1A1E28);
}

.blog-slider {
  display: flex;
  align-items: center;
}

.left-caret {
  position: relative;
  left: 12%;
  height: 3rem;
  cursor: pointer;
  z-index: 999;
}

.right-caret {
  position: relative;
  left: -12%;
  height: 3rem;
  cursor: pointer;
}

.sample-blog-img {
  width: 26rem;
  filter: drop-shadow(0px 4px 4px rgba(5, 5, 5, 0.25));
  border-radius: 1rem;
}
.blog-content{
  padding-left: 1rem;
}

.blog-content > p {
  font-size: 25px;
  color: white;
  max-height: 27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
  margin-left: 1rem;
}

.blog-content > h1 > a {
  font-size: 27px;
  color: rgb(246, 241, 241);
  margin-left: 1rem;
}

.blog-section-btns {
  display: flex;
  justify-content: space-around;
  /* width: 50%;
  margin: auto; */
}

.blog-section-btns > a > button {
  padding: 8% 0;
  font-size: 16px;
  height: max-content;
  width: 12rem;
  margin: 5.5rem 1rem 5.5rem 0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background-color: #2a72de;
  color: #fff;
}

.blog-container {
  display: flex;
  /* gap: 6.5rem; */
  /* width: 93%; */
  justify-content: space-around;
  align-items: center;
  margin: auto auto 3rem;
}

.blog {
  width: 23rem;
  border-radius: 16px;
  background: var(--bg-secondary-gray, #1A1E28);
}

.blog > a > img {
  height: 12rem;
  max-width: 20rem;
  margin-bottom: 1rem;
  object-fit: contain;
  margin-left: 1rem;
  margin-top: 2rem;
}

.blog > p {
  font-size: 24px;
  color: white;
  margin:1rem;
  
}

.blog > h1 > a {
  font-size: 28px;
  color: rgb(250, 249, 249);
}

.blog > h1 {
  font-size: 24px;
  /* text-align: center; */
  margin: 0.6rem 1rem;
}

.blog-text {
  font-size: 18px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 14rem;
  color: white;
}
@media (max-width:500px) {
  .blog > h1{
    margin: 1.6rem 1rem;
  }
  .right-caret{
    height: 2rem;
  }
  .left-caret{
    height: 2rem;
  }
  .blog-heading > h1{
    font-size: 20px;
    margin-left: 0rem;
    margin-top: -4rem;
    font-family: 'Exo';
  }
  #blog-intro{
    width:-webkit-fill-available;
    margin-left: 0rem;
  }
  #blog-intro > p{
    font-family: 'Poppins';
    font-size: 15px;
    margin-left: 0;
    margin-top: -1rem;
    width: -webkit-fill-available;
  }
  #recent-post{
    margin-top: -7rem;
    width: -webkit-fill-available;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #recent-post > h1{
    font-size: 18px;
    font-family: 'Exo';
  }
  .sample-blog{
    font-family: 'Poppins';
    flex-direction: column-reverse;
    height: 45rem;
    width: -webkit-fill-available;
  }
  .blog-content{
    padding-left: 0rem;
  }
  .blog-content>h1{
    margin: 1rem 0.5rem;
  }
  .blog-content > p{
    font-size: 15px;
    width: -webkit-fill-available;
  }
  .blog-content > h1 > a{
    font-size: 18px;
    margin-left: 0rem;
  }
  .blog-slider{
    margin-left: 1rem;
  }
  .sample-blog-img{
    width: -webkit-fill-available;
    height: 10rem;
  }
  .blog-section-btns > a > button{
    font-size: 10px;
    width: 61px;
  }
  .blog-container{
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  .blog{
    font-family: "Poppins";
    margin-bottom: 1rem;
    height: 31rem;
    width: -webkit-fill-available;
    margin-left: -1rem;
    margin-top: 1rem;
  }
  .blog > a > img{
    height: 10rem;
    width:-webkit-fill-available;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .blog > p{
    width: -webkit-fill-available;
    font-size: 14px;
    margin-top: -1rem;

  }
  .blog > h1 > a{
    font-size: 18px;
  }
  .blog-section-btns{
    justify-content: center;
    margin-left: 3rem;
  }

  }

/*@media screen and (max-width:550px) {
  #blog-intro{
    width: 96rem;
    height: 11rem;
    margin-top: 4rem;
  }
  .blog-heading > h1{
    display: flex;
  }
  #recent-post{
    width: 95rem;
    margin-left: 1rem;
    margin-top: -5rem
  }
  .blog > a > img{
    margin-left: 2rem;
  }
  
  
 
}
@media  screen and (max-width:420px) {
  #recent-post{
    height: 149rem;
  }
  .sample-blog{
    flex-direction: column-reverse;
    height: 61rem;
    width: 94rem;
  }
  .blog-slider{
    margin-left: 27rem;
    height: 35rem;
    width: 45rem;

  }
  .blog-content{
    height: 32rem;
    width: 93rem;
    margin-bottom: 3rem;
  }
  .blog > a > img{
    margin-left: 2rem;
  }

  
}
@media (max-width:390px) {
  .sample-blog{
    height: 60rem;
    width: 88rem;
    margin-left: 1rem;
  }
  .blog-content{
    width: 84rem;
  }
  .blog-section-btns{
    width: 79rem;
    margin-left: 7rem;
  }
  .blog-container{
    width: 79rem;
  }
  #blog-intro{
    margin-left: -3rem;
  }
  .blog > a > img{
    margin-left: 1rem;
  }

  
}
@media (max-width:360px) {
  .sample-blog{
    height: 60rem;
    width: 82rem;
    margin-left: 1rem;
  }
  .blog-content{
    width: 80rem;
  }
  .blog-section-btns{
    width: 76rem;
    margin-left: 7rem;
  }
  .blog-container{
    width: 77rem;
    margin-left: 5rem;
  }
  #blog-intro{
    margin-left:-5rem;
  }
  .menu-icon{
    margin-right: 5rem;
  }
  .blog > a > img{
    margin-left: 1rem;
  }

  
}
/*@media (max-width: 1340px) and (min-width: 1025px) {
  #recent-post > h1 {
    color: black;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  body {
    background-size: contain;
  }

  .blog-heading > h1 {
    font-size: 42px;
  }
  #recent-post > h1 {
    color: black;
  }
  #blog-intro > p {
    color: black;
  }

  .sample-blog-img {
    width: 22rem;
  }
  .blog-content > h1 {
    font-size: 28px;
  }
  .blog-content > p {
    font-size: 18px;
  }

  .blog-container {
    gap: 3rem;
  }
  .blog > a > img {
    height: 12rem;
  }

  .blog > p {
    font-size: 20px;
  }

  .blog-text {
    font-size: 16px !important;
  }
}

@media (max-width: 970px) {
  body {
    background-size: contain;
  }

  a {
    color: black;
  }

  .blog-heading > h1 {
    font-size: 36px;
  }

  .blog-heading > img {
    height: 3rem;
    margin-right: 1rem;
  }

  #blog-intro > p {
    font-size: 16px;
  }

  .sample-blog {
    flex-direction: column;
    align-items: center;
  }

  .sample-blog-img {
    width: 20rem;
    margin-bottom: 2rem;
  }

  .left-caret {
    height: 2rem;
    left: 6%;
  }

  .right-caret {
    height: 2rem;
    left: -6%;
  }

  .blog-content {
    width: 50%;
  }

  .blog-content > p {
    font-size: 16px;
    text-align: center;
  }

  .blog-content > h1 {
    text-align: center;
    font-size: 24px;
    margin: 1rem 0;
  }

  #recent-post > h1 {
    font-size: 30px;
    color: black;
    text-align: center;
  }

  .blog-section-btns {
    flex-direction: column;
    /* justify-content: end; 
    align-items: center;
  }

  .blog-section-btns > a > button {
    margin: 1.2rem auto;
  }

  .blog-container {
    flex-direction: column;
    margin: auto;
    width: 50%;
  }

  .blog {
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
  }

  .blog > a > img {
    height: 16.2rem;
    /* margin-left: 14%; 
  }

  .blog > p {
    font-size: 16px;
    text-align: center;
  }

  .blog-text {
    font-size: 14px !important;
  }

  .blog-section-btns {
    margin-bottom: 3rem;
  }

  .blog-section-btns > button {
    height: 2rem;
    width: 9rem;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  body {
    background: none;
  }
  .blog-heading > h1,
  #recent-post > h1,
  #blog-intro > p {
    color: black;
  }

  .blog > a > img {
    margin-left: 4%;
    height: 12.5rem;
  }

  .blog-container {
    width: 80%;
    margin: auto;
  }
}*/
