@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
  background-color: #060f1e;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.buttonWrapper{
  text-decoration: none;
  display: flex;
  left: 4rem;
  cursor: pointer;
  position: absolute;
  top: 55px;
}
 
.backButton{
  background-color: #060f1e;
  position: relative;
  top: -13px;
  height: 3rem;
  width: 6rem;
  border-radius: 2rem;
  color: white;
  font-weight: 200px;
}
.arrowClass{
  position: relative;
    top: -12px;
    left: -5px;
}
  

.backButton:hover{
  cursor: pointer;
  opacity: 0.7;
}

#content {
  width: 90%;
  margin: 8rem auto 5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1, h2, h3, h4, h5 ,h6, p, span{
  color: white;
  font-family: exo;
}
li {
  color: white;
}
#content strong {
  color: #00B3FF;
}

#content > h1 {
  /* font-size: 32px;
  color: #fafbfc;
  text-transform: capitalize; */
}

#content img {
  width: 300px;
  height: auto;
  /* height: 30rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(5, 5, 5, 0.25)); */
}

#content > p {
  /* color: #FFF;
  font-family: exo;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  text-align: left; */
}

.details {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.blog-author {
  font-size: 24px !important;
  margin-bottom: 0;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-weight: 200;
}
.date {
  font-size: 24px !important;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-weight: 200;
}
@media (max-width:500px) {
  #content{
    width: -webkit-fill-available;
    padding: 1rem;
    margin: 6rem auto 1rem;
  }
  .buttonWrapper{
    left: 2rem;
  }
  .arrowClass{
    height: 1rem;
    width: 1rem;
    top: -6px;
  }
  .backButton{
    font-size: 10px;
    width: 4rem;
    height: 2rem;
  }
  #content > h1{
    font-family:exo;
    width: -webkit-fill-available;
    font-size: 19px;
  }
  #content > img{
    width: -webkit-fill-available;
    height: 14rem;
  }
  .blog-author{
    font-family: exo;
    font-size: 15px !important;
  }
  .date{
    font-family: exo;
    font-size: 15px !important;
  }
  #content > p{
    line-height: 23px;
    font-size: 14px;
    width: -webkit-fill-available;
  }
  
  
}


/*@media (max-width:550px){
  #content> img{
    height: 22rem;
    width: 23rem;
    margin-top: 10rem;
  }
  #content{
    width: 74rem;
    margin-left: 10rem;
  }
  #content > h1{
    font-size: 27px;
  }
  #content>p{
    font-size: 23px;
    margin-top:5rem;
  }


}
@media (max-width:420px){
  #content{
    margin-top: 10rem;
  }
  #content>p{
    font-size: 27px;
    margin-top: 5rem;
  }
  

}

/*@media (max-width: 1024px) {
  #content > img {
    height: 17rem;
  }

  #content > h1 {
    font-size: 24px;
  }

  #content > p {
    font-size: 14px;
  }

  .blog-author {
    font-size: 20px !important;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  #content > img {
    height: 13rem;
  }
  .details {
    flex-direction: column;
    gap: 0rem;
  }
}
*/

