body {
  background: #000c12;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#community__intro {
  margin: auto;
  width: 93%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("/images/Ellipse 149.png"),
    url("/images/Ellipse 148.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 35rem 15rem;
}

.community__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
}

.community__intro_heading > h1 {
  font-size: 40px;
  margin: 2.5rem 0;
}

.community__text_content > p {
  font-size: 20px;
  line-height: 30px;
}

.community__buttons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.community__buttons > a > button {
  padding: 8% 0;
  font-size: 16px;
  height: max-content;
  width: 12rem;
  margin: 5.5rem 1rem 5.5rem 0;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.community__buttons_blue_btn {
  background: rgba(0, 119, 183, 1);
  color: white;
}

.community__buttons_join_us {
  background: white;
  color: rgba(0, 119, 183, 1);
}

.community__buttons_join_us > a {
  text-decoration: none;
  color: rgba(0, 119, 183, 1) !important;
}

.community__images {
  margin: -3.5rem 1rem 2rem auto;
  display: flex;
  gap: 2rem;
}

.community__images_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.community__images_div > img {
  width: 7rem;
}

.joinus_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.95;
  right: 7rem;
}

#joinus_options,
#joinus_options_phn {
  height: fit-content;
  z-index: 999;
  display: none;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 1rem;
  margin-top: -2.6rem;
}

#joinus_options > a,
#joinus_options_phn > a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  color: white;
}

#joinus_options > a:hover {
  border: none !important;
}

.joinus_option {
  padding: 0.5rem;
  font-weight: 700;
  width: 11rem;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 119, 183, 1) !important;
}

#whyourcommunity__intro {
  margin: 1rem auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.whyourcommunity__heading > h1 {
  font-size: 56px;
  color: rgba(42, 114, 222, 1);
}

.whyourcommunity__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.whyourcommunity__main_left {
  width: 45%;
}

.whyourcommunity__intro_heading > h1 {
  font-size: 40px;
  margin: 2.5rem 0;
}

.whyourcommunity__text_content > p {
  font-size: 18px;
  line-height: 27px;
}

.whyourcommunity__buttons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.whyourcommunity__buttons > button {
  height: 4rem;
  width: 14rem;
  margin: 5.5rem 1rem 5.5rem 0;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.whyourcommunity__buttons_know_more {
  background: rgba(0, 119, 183, 1);
  color: white;
}

.whyourcommunity__buttons_contact_us {
  background: white;
}

.whyourcommunity__buttons_contact_us > a {
  text-decoration: none;
  color: rgba(0, 119, 183, 1) !important;
}

.whyourcommunity__icons {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.whyourcommunity__icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.whyourcommunity__icon > img {
  width: 5.5rem;
}

.whyourcommunity__icon > div > p {
  font-size: 24px;
}

#section3__intro {
  margin: auto;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section3__heading > h1 {
  font-size: 56px;
  color: rgba(42, 114, 222, 1);
}

.section3__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.section3__main_left {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section3__intro_heading > h1 {
  font-size: 40px;
  margin: 1.5rem 0;
}

.section3__text_content > p {
  font-size: 30px;
  line-height: 45px;
}

/* .section3__buttons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .section3__buttons > button {
  height: 4rem;
  width: 14rem;
  margin: 1rem 1rem 1rem 0;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
} */

/* .section3__buttons_know_more {
  background: rgba(0, 119, 183, 1);
  color: white;
}

.section3__buttons_contact_us {
  background: white;
}

.section3__buttons_contact_us > a {
  text-decoration: none;
  color: rgba(0, 119, 183, 1) !important;
}  */

.section3__image {
  width: 40%;
  min-width: fit-content;
  border-radius: 1rem;
}

.community__carousel-title {
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 70px;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 600;
  background: url("/images/Ellipse 150.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.community__carousel-content {
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 80%;
  margin: auto;
  display: flex;
}

.community__carousel-content::-webkit-scrollbar {
  display: none;
}

.pre-btn,
.nxt-btn {
  background: transparent;
  border: none;
  margin-top: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 3rem;
  margin-left: 10px;
}

.nxt-btn {
  right: 3rem;
  margin-right: 10px;
}

.community__carousel-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 15rem;
  margin: auto;
}

.community__carousel-img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  margin: auto;
}

.community__carousel-box {
  position: relative;
  margin: 0.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community__carousel-box > img {
  height: 7.5rem;
  width: 15rem;
}

.community__carousel-review {
  position: absolute;
  width: 95%;
  margin: auto;
  bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #ffffff;
  font-family: "Poppins", "sans-serif";
}

#provides {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 0;
}

.provides__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.provides__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.provides__right > h1 {
  font-size: 40px;
  line-height: 60px;
}

.provides__btn > a > button {
  height: 4rem;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 1rem 5rem;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/* for mobile phones */
@media (max-width: 481px) {
  .community__carousel-title {
    font-size: 25px;
  }

  .community__carousel-row {
    width: 250px;
    height: 280px;
    padding: 16px;
  }

  .community__carousel-img {
    width: 15rem;
    height: 10rem;
  }

  .community__carousel-name {
    font-size: 14px;
    margin-top: 10px;
  }

  .community__carousel-review {
    font-size: 12px;
  }

  .community__carousel-title {
    font-size: 32px;
  }

  .pre-btn,
  .nxt-btn {
    width: 30px;
    height: 30px;
  }

  .provides__btn > a > button {
    height: 4rem;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
    border: none;
    outline: none;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .community__carousel-row {
    width: 290px;
    height: 20rem;
    padding: 16px;
  }

  .community__carousel-img {
    width: 15rem;
    height: 10rem;
  }

  .community__carousel-name {
    font-size: 18px;
    margin-top: 10px;
  }

  .community__carousel-review {
    font-size: 14px;
  }


}

@media (max-width: 1024px) {
  #community__intro {
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .community__text_content > p {
    font-size: 16px;
    line-height: 24px;
  }

  .community__intro_heading > h1 {
    font-size: 30px;
  }

  .community__buttons {
    margin: auto;
    width: 80%;
    align-items: flex-start;
  }
  .community__images {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;
    max-height: fit-content;
  }

  .community__images_div {
    justify-content: center;
  }

  .community__images_div > img {
    height: 40%;
    object-fit: contain;
  }

  .community__buttons > a > button {
    margin: 1rem 1rem;
    height: 4rem;
    width: 7rem;
    padding: 1%;
    font-size: 14px;
    font-weight: 400;
  }

  #joinus_options,
  #joinus_options_phn {
    margin: auto;
  }

  .joinus_dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
  }

  .joinus_option {
    font-weight: 400;
  }

  .section3__image {
    width: 80%;
    margin: 2rem 0;
  }

  .section3__intro_heading > h1 {
    font-size: 20px;
    margin: 1.5rem 0;
  }

  .section3__text_content > p {
    font-size: 16px;
    margin: 1.5rem 0;
  }

  .provides__left > img {
    width: 15rem;
  }

  .provides__right > div > img {
    width: 15rem;
  }

  .pre-btn,
  .nxt-btn {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 1024px) {
  .whyourcommunity__main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .whyourcommunity__text_content > p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .whyourcommunity__intro_heading > h1 {
    font-size: 20px;
    text-align: center;
  }

  .whyourcommunity__heading > h1 {
    font-size: 30px;
  }

  .whyourcommunity__icons {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 2rem;
  }

  .whyourcommunity__icon > div > p {
    font-size: 16px;
  }

  .section3__image > img {
    width: 20rem;
  }

  .section3__heading > h1 {
    font-size: 30px;
    color: rgba(42, 114, 222, 1);
  }

  .community__carousel-title {
    font-size: 32px;
  }

  #provides {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  /* .community__buttons > a>  button {
    margin: 0.5em 0.5rem;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    font-size: 14px;
    font-weight: 400;
  } */

  .community__images_div > img {
    display: none;
  }
}

@media (max-width: 1250px) {
  .section3__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section3__image {
    width: 50%;
    background-position: center;
  }

  .section3__main_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .provides__left > img {
    width: 20rem;
  }

  .provides__right > div > img {
    width: 20rem;
  }

  .provides__right > h1 {
    font-size: 20px;
  }
}
