body {
  background: #f6f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#contactus-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contactus-header {
  display: flex;
  /* padding: 0 76px; */
}

.contactus-para {
  flex: 50%;
  color: black;
}

.contactus_title {
  display: flex;
  align-items: center;
}

.contactus_title > img {
  margin-left: 3%;
  margin-top: 4%;
}

.contactus_title > h2 {
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 5px;
}

.contactus-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.contact-connect {
  display: flex;
  margin-top: 14px;
  align-items: center;
  margin-bottom: 0;
}

.contact-connect > a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.contact-connect img {
  /* border-radius: 100%; */
  z-index: 999;
  height: 3.4rem;
  margin-right: 10px;
}

.contact-image {
  flex: 50%;
}

.contactus-float-img {
  position: absolute;
  top: 190px;
  right: 100px;
  width: 500px;
  height: 500px;
}

.contactus-float-text {
  position: absolute;
  transform: rotate(16.61deg);
  font-size: 22px;
  top: 310px;
  right: 400px;
  color: white;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  color: black;
  /* margin-left: 73px; */
}

.contact-link {
  margin-right: 10px;
}

.contact-link-img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 50%;
  border: 6px solid #fff;
  z-index: 999;
}

.contact-form {
  background-color: #2a72de;
  color: #fff;
  padding: 2%;
  width: 60%;
  margin: 40px auto;
  border-radius: 10px;
}

.input-container {
  display: flex;
  margin: 30px 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex: 50%;
  margin-left: 20px;
}

.input-box input,
textarea {
  background: #f6f6f6;
  border-radius: 4px;
  outline: none;
  height: 34px;
  width: 90%;
  margin-top: 10px;
  border: none;
  color: black;
  font-size: 14px;
  padding-left: 10px;
}

.input-box label {
  font-size: 16px;
}

.input-box .input-subject {
  width: 95%;
}

.input-box textarea {
  width: 95%;
  height: auto;
  padding: 10px;
}

.send-btn {
  padding: 2% 0;
  font-size: 16px;
  height: max-content;
  width: 10rem;
  background-color: #f6f6f6;
  margin-left: 73%;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: #2a72de;
}

/* for mobile phones */
@media (max-width: 481px) {
  .contactus-float-img,
  .contactus-float-text {
    display: none;
  }

  .contactus-header {
    display: block;
    padding: 0 20px;
  }
  .contactus-para {
    flex: 1;
  }

  .contactus_title > h2 {
    font-size: 29px;
  }

  .contactus_title > img {
    height: 5rem;
  }

  .contactus-info {
    font-size: 12px;
  }

  .contact-connect img {
    width: 23px;
    height: 23px;
  }

  .contact-connect p {
    font-size: 14px;
  }

  .contact-sociallinks {
    margin-left: 20px;
  }

  .contact-form {
    width: 70%;
    padding: 20px;
    margin: 30px 20px 30px 40px;
  }

  .input-container {
    display: block;
  }

  .input-box {
    margin: 10px 0;
  }

  .input-box label {
    margin-top: 0;
    font-size: 14px;
  }

  .input-box textarea {
    width: 90%;
  }

  .send-btn {
    margin-left: 0;
  }
}

/* tablets */
@media (max-width: 768px) and (min-width: 482px) {
  .contactus_title {
    justify-content: center;
  }

  .contactus-float-img {
    position: relative;
    width: 350px;
    top: 0px;
    right: 0%;
    height: 350px;
    margin: 0;
  }

  .contactus-float-text {
    position: relative;
    font-size: 18px;
    right: 13%;
    top: -265px;
  }

  .contactus-header {
    flex-direction: column;
    text-align: center;
  }

  .contactus_title > h2 {
    font-size: 30px;
    text-align: center;
  }

  .contactus_title > img {
    height: 5rem;
  }

  .contact-sociallinks {
    text-align: center;
  }

  .contact-connect {
    justify-content: center;
  }

  .contactus-info {
    font-size: 12px;
  }

  .contact-connect img {
    width: 25px;
    height: 25px;
  }

  .contact-connect p {
    font-size: 13px;
  }

  .send-btn {
    margin-left: 30%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .contactus-float-img {
    top: 290px;
    right: -10px;
  }

  .contactus-float-text {
    right: 270px;
    top: 420px;
  }
  .send-btn {
    width: 8rem;
  }
}
