@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#_footer{
  background-color: rgba(10, 14, 20, 1);
  min-height: fit-content;
  padding:2rem 0;
  color: white;
  font-family: "Poppins"!important;
  position: absolute;
  width: 100%;

}
._footer{
    display: flex;   
}
a {
    cursor: pointer;
  }
  
._footersection1{
    display: flex;
    width: 70%;
}
._footersection1_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
._footersection1_left>img{
    width: 120px;
}
._footersection1_left>p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 19.6888px;
line-height: 22px;
text-align: center;
color: white;
margin-top: .5rem;
}

._footersocialIconCont{
    margin-top: 3rem;
    width: 80%;
    display: flex;
}
._footersocialIconCont>span{
    width: 30px;
height: 30px;
background: #261437;
box-shadow: 0px 1.93515px 1.93515px rgba(0, 0, 0, 0.25);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
}
._footersocialIconCont>span:hover{
    background: linear-gradient(90.59deg, #782EFD -11.93%, #A61FFB 45.46%, #DE0CF8 108.1%);
box-shadow: 0px 1.93515px 1.93515px rgba(0, 0, 0, 0.25);
}

._footersection1_right{
    width: 70%;
    display: flex;
    flex-direction: column;
}
._footersection1_right>h4{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 26px;
    
color: #FFFFFF;
width: 70%;
margin-top: 2rem;
margin-left: 2rem;
}
._footersection1_right>p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 22px;
width: 70%;
margin: auto;
text-decoration: underline;
}



._footersection2{
    display: flex;
    width: 30%;
}
._footersection2_left,._footersection2_right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
._footersection2_left>h4,._footersection2_right>h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 16px;
color: #FFFFFF;
margin-bottom: 1.5rem;
}
.footer__main_link{
    margin-bottom: 1rem;
}
.footer__main_link>a{
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.copyrightData{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.copyrightData>p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 13px;

color: #FFFFFF;
}
.footer__main_link>a{
    display: flex;
}
.footer__main_link>a>span{
    margin-top: .2rem;
}
._footerContactUSIcon{
   
    margin-right: .5rem;
    
}
._footerContactUSIconn{
    margin-right: .5rem;
    margin-top: 0rem;
}



@media (max-width:500px) {
    #_footer{
        /* width: 28rem; */
    }
    ._footersection1{
        flex-direction: column;
    }
    ._footersection1_left>img{
        width: 65px;
        margin-left: 1rem;
    }
    ._footersocialIconCont{
        margin-top: 1rem;
    }
    ._footersection1_right{
        width: 53%;
    }
    ._footersection1_right>h4{
       width: 8rem;
       font-size: 11px;
       margin-left: 1rem;
    }
    ._footersection2_left{
        margin-left: -9rem;
    margin-top: 2rem;
    }
    ._footersection2_left>h4,._footersection2_right>h4{
        font-size: 15px;
    width: 6rem;
    }
    .footer__main_link>a{
        width: 5rem;
    font-size: 10px;

    }
    ._footersection2_right{
        margin-left: 19px;
    margin-top: 2rem;
    }
    .copyrightData>p{
        margin-left: -4rem;
    font-size: 10px;
    }

    
}
/*@media(max-width:1024px){
    ._footer{
        flex-direction: column;
    }
    ._footersection1,._footersection2{
        margin: auto;
        width: 80%;
    }
    ._footersection2{
        margin-top: 3rem;
        text-align: center;
    }
}
*/



/*@media screen and (max-width:550px){
    ._footersection1_right>h4,._footersection1_right>p{
        width: 80%;
        padding-left: 1.2rem;
    }
    ._footersection2_right>h4,._footersection2_left>h4{
        margin-right: 32rem;
    }
    
    #_footer{
        width: 97rem;
        position: relative;
        top: 2rem;
    }
    .footer__main_links>a{
        width:7rem;
        font-size: 22px
    }
    ._footersection2_right{
        margin-left: 9rem;
    }
    ._footersection2_left>h4,._footersection2_right>h4{
        width: 100%;
        margin-left: -2rem;
    }
    ._footersection2_left{
        margin-left: -5rem;
    }
    ._footersection2{
        margin-top: 2rem;
        margin-right:9rem
    }   
    ._footer{
        flex-direction: row;
    }
    ._footersection1{
        flex-direction: column;
        margin-left: 4rem;
    }
    ._footersection1_left{
        margin-left: 3rem;
    }
}
@media screen and (max-width:420px){
    ._footersection1_right>h4,._footersection1_right>p{
        width: 80%;
        
        padding-left: 1.2rem;
    }
    #_footer{
        top: 17rem;
    }

    
   
   
}

@media screen and (max-width:365px){
    ._footersection2_left>h4, ._footersection2_right>h4{
        margin-left: 0rem;
    }
    ._footersection2{
        margin-right: 14rem;
    }
    
    
   
}
*/

