body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

.topnav {
  height: fit-content;
  width: 95%;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-name {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-top: 0;
  color: #ffffff;
}

.topnav a img {
  width: 100px;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 10px 10px !important;
  margin: 0% 5px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  transition: ease 0.3s;
  font-weight: 600;
}

.topnav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.topnav-right a.active-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #2a72de;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topnav-right a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.active-link {
  color: #0077b7;
  font-weight: 700;
}

.active-link:hover {
  border-bottom: 1px solid #0077b7 !important;
}

.link-btn:hover {
  border: none !important;
}

#products {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

/* .memberBtnWrapper {
  border: 3px solid transparent;
  border-image: linear-gradient(
    45deg,
    rgba(140, 150, 253, 0.42),
    rgba(1, 36, 55, 1)
  );
  border-image-slice: 1;
  border-radius: 10px !important;
} */

.memberBtn {
  font-size: 16px !important;
  background: transparent !important;
  color: white;
  background-color: #2a72de !important;
  padding: 12px 0;
  width: 12rem;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
}

.resourcesBtn {
  font-size: 16px !important;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  height: max-content;
}

.productBtn {
  font-size: 16px !important;
  padding: 10px 10px !important;
  cursor: pointer;
  text-align: center;
  height: max-content;
}

.productBtn:hover {
  border-bottom: 1px solid white;
}

.header_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.products_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#resources_options,
#resources_options_phn {
  position: absolute;
  height: fit-content;
  z-index: 999;
  display: none;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 1rem;
  margin-top: 2.5rem;
  border: 2px solid #2a72de;
}

#product_options,
#product_options_phn {
  position: absolute;
  height: fit-content;
  z-index: 999;
  display: none;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    236.51deg,
    #012437 24.72%,
    rgba(140, 150, 253, 0.42) 100%
  ) !important;
  border-radius: 1rem;
  margin-top: 2.5rem;
}

#product_options > a,
#product_options_phn > a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  color: white;
}

#product_options > a:hover {
  border: none !important;
}

.resources_option {
  padding: 0.5rem;
  font-weight: 700;
  width: 11rem;
  text-align: center;
  cursor: pointer;
}

.resources_option > a {
  text-decoration: none;
  color: black;
}

.dropdown-link {
  text-decoration: none !important;
  font-size: 16px !important;
  color: black !important;
}

.dropdown-link a:hover {
  text-decoration: none !important;
}

.product_option {
  padding: 0.5rem;
  font-weight: 700;
  width: 11rem;
  text-align: center;
  cursor: pointer;
}

.resourcesBtn a {
  text-decoration: none;
  color: white;
}

.resourcesBtn a:hover {
  color: white !important;
}

#phnheader {
  margin: 1% 2%;
}

.navitem {
  color: #6f6f6f;
  text-decoration: none;
}

.navitem:on {
  background-color: #818181;
  color: #323232;
}

#phnheader {
  display: none;
}

.phn {
  display: none !important;
}

@media (max-width: 768px) {
  .desk {
    display: none !important;
  }
  .phn {
    display: block !important;
  }

  .resourcesBtn {
    color: #323232;
  }
}

@media (max-width: 865px) {
  .topnav-right {
    gap: 0.1rem;
  }
}

@media (max-width: 1024px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
