

/* @mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
} */




@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}



.slider {
	background: #F6F6F6;
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 80%;
    margin-top: 4rem;

}
	.slider::before,
	.slider::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	.slider::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
        margin-top: 3rem;
        height: 151px;
	}
	
	.slide {
		height: 100%;
		width: 14.33%;
	}
    .slide>img{
        height: 180px;
        width: 220px;
    }

	.taxAsvisoryIcon{
		width: 180px!important;
		height: 130px!important;
	}
	.taxAsvisoryIconn{
		height: 140px!important;
	}