@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  background: #f6f6f6;
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}

#investor-section-1 {
  display: flex;
  width: 100%;
  min-height: 70vh;
  margin-top: 6rem;
}
.investor-section-1-left-col,
.investor-section-1-right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.investor-section-1-left-col {
  padding-left: 4rem;
}
.investor-section-1-right-col {
  align-items: center;
  place-content: center;
}
.investor-section-1-left-col > h1 {
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: -0.04em;
    color: #0F172A;
  width: 80%; */
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 39.0672px;
  line-height: 49px;
  letter-spacing: 0.095em;
  color: #202020;
  margin: auto;
  width: 80%;
}
.investor-section-1-btn-cont {
  /* width: fit-content; */
  width: 100%;
  margin: auto;
  /* margin-top: 2rem; */
  padding-left: 5rem;
  margin-top: -2.5rem;
}

.join-now-btn {
  width: 130px;
  height: 50px;
  background: linear-gradient(99.34deg, #2A72DE -1.95%, rgba(42, 114, 222, 0) 163.98%);
box-shadow: 0px 2.4417px 9.15638px -0.610425px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  margin-right: 1.5rem;
  border: none;
  cursor: pointer;
}
.explore-more-btn {
  width: 130px;
  height: 50px;
  background: transparent;
  border-radius: 25px;
  color: #2a72de;
  font-size: 1.1rem;
  margin-right: 1.5rem;
  border: 1px solid #2a72de;
  cursor: pointer;
}
.investor-section-1-right-col > img {
  width: 450px;
}
.investor-process-header > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 48px;
  text-align: center;
  color: #18181b;
  /* font-family: "Plus Jakarta Sans"; */
}
#investor-process{
  display: flex;
  flex-direction: column;
}
.investor-process-header > p {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 22px;
  /* or 110% */
  
  text-align: center;
  letter-spacing: 2px;
  
  /* gray/600 */
  
  color: #52525B;

/* gray/600 */

color: #52525B;
margin-top: 1rem;
}
.investor-process-process-cont-1 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin-top: 2rem;
  padding: 1rem;
}
.investor-process-process-cont-1-box,
.investor-process-process-cont-2-box {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
}
.arrow-img{
  position: absolute;
  right: 0;
  top: 40%;
}
.investor-process-process-cont-1-box-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 295px;
height: 180px;
padding: 1rem;
background: linear-gradient(119.93deg, rgba(255, 255, 255, 0.35) 4.68%, rgba(255, 255, 255, 0.3) 91.73%);
box-shadow: 0px 2.4417px 14.6502px -0.610425px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(6.10425px);

/* Note: backdrop-filter has minimal browser support */

border-radius: 9px;
position: relative;
z-index: 3;
}
.investor-process-process-cont-1-box-con-img1{
  position: absolute;
  z-index: -1;
  left: -29px;
  top: -56px;
}
.investor-process-process-cont-1-box-con-img2{
  position: absolute;
  z-index: -1;
  right: -22px;
  bottom: -22px;
}
.investor-process-process-cont-1-box-con-img3{
position: absolute;
z-index: -1;
right: -22px;
top: -20px;

}
.investor-process-process-cont-1-box-con-img4{
  position: absolute;
z-index: -1;
top: -20px;
right: -20px;
}
.investor-process-process-cont-1-box-con>h4{
  margin-top: 1rem;
  font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 16px;
/* or 140% */

text-align: center;
letter-spacing: 0.305213px;
text-transform: capitalize;

}
.arrow-img-cont {
  position: absolute;
  right: -25%;
  top: 10%;
}
.arrow-img-cont > img {
  width: 80%;
}
.arrow-img-cont-down {
  position: absolute;
  right: 0%;
  bottom: -40%;
}
.arrow-img-cont-down > img {
  width: 80%;
}
.arrow-img-cont-left {
  position: absolute;
  left: -10%;
  top: 10%;
}
.arrow-img-cont-left > img {
  width: 80%;
}
.investor-process-process-cont-1-box > h4 {
  text-align: center;
}
.btn-contt {
  display: flex;
  justify-content: center;
}
.become-investor-btn {
  /* width: 205px; */
  height: 59px;
  padding: 0 2rem;
  background: linear-gradient(95.64deg, #2A72DE -8.23%, rgba(42, 114, 222, 0.80125) 45.89%, rgba(42, 114, 222, 0.826094) 72.94%, rgba(42, 114, 222, 0.64) 100%);
box-shadow: 0px 2.4417px 14.6502px -0.610425px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  margin: 2rem auto;
  border: none;
  cursor: pointer;
}

.why-inest-with-reverr-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #181818;
  width: 80%;
  text-align: start;
  margin: 2rem auto;
}

.why-inest-with-reverr-img-cont,
.left-top-cont,
.left-bottom-cont {
  display: flex;
  font-family: 'Exo';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 26px;
text-align: center;
letter-spacing: 0.07em;
text-transform: capitalize;

color: #18181B;
}
.why-inest-with-reverr-img-left-cont,
.why-inest-with-reverr-img-right-cont {
  width: 50%;
  padding-left: 1rem;
}
.top-cont-card-1,
.top-cont-card-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-cont-card-1 > img,
.top-cont-card-2 > img {
  width: 110px;
}
.why-inest-with-reverr-img-right-cont {
  display: flex;
  align-items: center;
  place-content: center;
}
.why-inest-with-reverr-img-right-cont > img {
  width: 470px;
}

#sector-agnostic-main-cont {
  background: linear-gradient(180deg, #000000 -40.96%, rgba(0, 0, 0, 0.68331) 8.35%, rgba(0, 0, 0, 0.474481) 49.94%, rgba(0, 0, 0, 0) 100%);
  padding-bottom: 1rem;
  padding: 1rem;
}
.sector-agnostic-cont {
  display: flex;
}
.sector-agnostic-left-cont,
.sector-agnostic-right-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}
.sector-agnostic-header {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.sector-agnostic-header > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  width: 70%;
}
.sector-agnostic-header > a > button {
  color: #2a72de;
  background: transparent;
  border-radius: 25px;
  border: 2px solid #2a72de;
  width: 126px;
  height: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 2rem;
}
.sector-agnostic-right-cont > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: white;
}
.sector-agnostic-right-cont > img {
  width: 400px;
}

#register-investor {
  background: #f6f6f6;
  padding-top: 2rem;
}
.register-investor-cont {
  display: flex;
}
.register-investor-left-cont,
.register-investor-right-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  padding-left: 1rem;
}
.register-investor-header {
  display: flex;
  flex-direction: column;
}
.register-investor-header > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: black;
}
.register-investor-header > p {
  margin-top: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 0.5rem;
}
.register-investor-header > a > button {
  color: white;
  background: linear-gradient(95.64deg, #2A72DE -8.23%, rgba(42, 114, 222, 0.80125) 45.89%, rgba(42, 114, 222, 0.826094) 72.94%, rgba(42, 114, 222, 0.64) 100%);
box-shadow: 0px 2.4417px 14.6502px -0.610425px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: none;
  width: 126px;
  height: 50px;
  font-size: 1.1rem;
  margin-top: 1.5rem;

  cursor: pointer;
}
.register-investor-right-cont>div{
  background-image: url("/images/Group 62667300.png");
}
.register-investor-right-cont>div> img {
  width: 400px;
}

/* MEDIA QUERY */
/* section margin  */
#investor-process,
#why-inest-with-reverr,
#sector-agnostic-main-cont,
#register-investor {
  margin-top: 4rem;
}
#register-investor {
  margin-bottom: 1.2rem;
}

.lineContainerrr{
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 1212px) {
  .arrow-img-cont {
    right: -34%;
    top: 7%;
  }
}

@media (max-width: 1024px) {
  .investor-section-1-btn-cont {
margin: auto;
  }
  #investor-section-1 {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  .investor-section-1-left-col {
    width: 85%;
    /* text-align: center; */
    align-items: center;
    padding-left: 0;
  }

  .investor-section-1-left-col > h1 {
    font-size: 2rem;
    width: 100%;
  }
  .investor-process-header > h2 {
    font-size: 2.2rem;
    margin-bottom: .5rem;
  }
  .investor-section-1-right-col > img {
    width: 80%;
  }

  .investor-process-process-cont-1 {
    grid-template-columns: 50% 50%;
  }
  .order6 {
    order: 6;
  }
  .order5 {
    order: 5;
  }
  .order4 {
    order: 4;
  }
  .order3 {
    order: 3;
  }
  .order2 {
    order: 2;
  }
  .order1 {
    order: 1;
  }

  .arrow-img-cont-toggle {
    transform: rotate(90deg);
    width: fit-content;
    height: fit-content;
    top: auto;
    bottom: -40%;
    right: -28px;
  }
  .arrow-img-cont-toggle > img {
    width: 70%;
  }
  .arrow-img-cont-down-toggle {
    top: 0;
    transform: scaley(-1) rotate(90deg);
    width: fit-content;
    height: fit-content;
    left: -2rem;
  }

  .arrow-img-cont-left-toggle {
    transform: scaleX(-1);
    left: auto;
    right: -16%;
  }

  .arrow-img-cont-left-last-toggle {
    transform: rotate(-90deg);
    top: 100%;
    left: -4%;
    width: fit-content;
    height: fit-content;
  }
  .arrow-img-cont,
  .arrow-img-cont-toggle,
  .arrow-img-cont-down-toggle,
  .arrow-img-cont-left-toggle,
  .arrow-img-cont-left-last-toggle {
    display: none;
  }

  .why-inest-with-reverr-title {
    text-align: center;
    margin-left: 0;
  }
  .why-inest-with-reverr-img-cont {
    flex-direction: column;
    align-items: center;
  }
  .why-inest-with-reverr-img-left-cont {
    width: 85%;
  }

  .sector-agnostic-cont {
    flex-direction: column;
    align-items: center;
  }
  .sector-agnostic-left-cont {
    width: 85%;
  }
  .sector-agnostic-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .sector-agnostic-header > h2 {
    width: 85%;
    text-align: center;
  }

  .sector-agnostic-right-cont {
    width: 85%;
    margin-top: 1.5rem;
  }
  .sector-agnostic-right-cont > h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .sector-agnostic-right-cont > img {
    width: 70%;
  }

  .register-investor-cont {
    flex-direction: column;
    align-items: center;
  }
  .register-investor-left-cont {
    width: 85%;
    margin-bottom: 2rem;
  }

  .register-investor-header {
    width: 90%;
    /* align-items: center; */
  }
  .register-investor-header > h2 {
    font-size: 2.5rem;
  }
  .register-investor-header > p {
    font-size: 20px;
  }
  .register-investor-right-cont {
    width: 80%;
  }
  .register-investor-right-cont > img {
    width: 70%;
  }
}

@media (max-width: 760px) {
  .investor-process-process-cont-1 {
    grid-template-columns: 100%;
  }
  .arrow-img{
    display: none;
  }
  .order4 {
    order: 4;
  }
  .order3 {
    order: 3;
  }

  .arrow-img-cont-down,
  .arrow-img-cont,
  .arrow-img-cont-left {
    display: none;
  }
  .investor-process-process-cont-1-box > h4,
  .investor-process-process-cont-2-box > h4 {
    font-size: 1.5rem;
  }
  .investor-process-process-cont-1-box > p,
  .investor-process-process-cont-2-box > p {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .investor-section-1-btn-cont {
    /* width: fit-content; */
    width: 100%;
    margin-top: 2rem;
    padding-left: 0;
  }
  .why-inest-with-reverr-img-right-cont > img {
    width: 320px;
  }
  .why-inest-with-reverr-img-left-cont {
    width: 95%;
  }
  .investor-section-1-right-col > img {
    width: 120%;
    margin-top: 2rem;
  }
  .sector-agnostic-header > h2 {
    width: 100%;
    text-align: center;
  }

  .investor-process-header > p {
    margin-bottom: 0px;
    width: 80%;
    margin: 0 auto;
  }
  .investor-process-process-cont-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .investor-process-process-cont-1-box {
    text-align: center;
    background-color: #fafafa;
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 1.5rem;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
  }
  .investor-process-process-cont-1-box > h4 {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .why-inest-with-reverr-title {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    margin: 2rem auto;
  }
  .left-top-cont,
  .left-bottom-cont {
    gap: 0.5rem;
  }
  .top-cont-card-1 > p,
  .top-cont-card-2 > p,
  .top-cont-card-3 > p,
  .top-cont-card-4 > p {
    font-size: 1rem;
    text-align: center;
  }
}
