body {
    background: #F6F6F6;
    background-repeat: no-repeat;
    
  }
  *{
    box-sizing: border-box;
  }

  #investor-section-1{
    display: flex;
    width: 100%;
    min-height: 70vh;
    margin-top: 7rem;
  }
  .investor-section-1-left-col,.investor-section-1-right-col{
    width: 50%;
    display: flex;
    flex-direction: column; 
  }
  .investor-section-1-left-col{
padding-left: 4rem;
  }
  .investor-section-1-right-col{
    align-items: center;
    place-content: center;
  }
  .investor-section-1-left-col>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    width: fit-content;
    
    color: #202020;
  }
  .investor-section-1-btn-cont{
    width: fit-content;
    margin-top: 2rem;
  }
  
  .join-now-btn{
    width: 130px;
    height: 50px;
    background: #2A72DE;
    border-radius: 6px;
    color: white;
    font-size: 1.1rem;
    margin-right: 1.5rem;
    border: none;
    cursor: pointer;
  }
  .explore-more-btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border-radius: 6px;
    color: #2A72DE;
    font-size: 1.1rem;
    margin-right: 1.5rem;
    border: 1px solid #2A72DE;
    cursor: pointer;
  }
  .investor-section-1-right-col>img{
    width: 400px;
  }
  .investor-process-header>h2{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #18181B;
  }
  .investor-process-header>p{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #52525B;
margin-bottom: 4rem;
  }
  .investor-process-process-cont-1{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: 2rem;
    padding: 1rem;
  }
  .investor-process-process-cont-1-box,.investor-process-process-cont-2-box{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem;
  }
  .arrow-img-cont{
    position: absolute;
    right: -25%;
    top: 10%;
  }
  .arrow-img-cont>img{
    width: 80%;
  }
  .arrow-img-cont-down{
    position: absolute;
    right: 0%;
    bottom: -40%;
  }
  .arrow-img-cont-down>img{
    width: 80%;
  }
  .arrow-img-cont-left{
    position: absolute;
    left: -10%;
    top: 10%;
  }
  .arrow-img-cont-left>img{
    width: 80%;
  }
  .investor-process-process-cont-1-box>h4{
    text-align: center;
  }
  .btn-contt{
    display: flex;
    justify-content: center;
  }
  .become-investor-btn{
    width: 205px;
height: 59px;
background: #2A72DE;
border-radius: 6px;
color: white;
font-size: 1.1rem;
margin: 2rem auto;
border: none;
cursor: pointer;
  }

  .why-inest-with-reverr-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 44px;
letter-spacing: -0.02em;
color: #181818;
margin-left: 3rem;
  }

  .why-inest-with-reverr-img-cont,.left-top-cont,.left-bottom-cont{
    display: flex;
  }
  .why-inest-with-reverr-img-left-cont,.why-inest-with-reverr-img-right-cont{
    width: 50%;
    padding-left: 1rem;
  }
  .top-cont-card-1,.top-cont-card-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top-cont-card-1>img,.top-cont-card-2>img{
    width: 110px;
  }
  .why-inest-with-reverr-img-right-cont{
    display: flex;
    align-items: center;
    place-content: center;
  }
  .why-inest-with-reverr-img-right-cont>img{
    width: 400px;
  }


  #sector-agnostic-main-cont{
    background-color: black;
    padding-bottom: 1rem;
   
  }
  .sector-agnostic-cont{
    display: flex;
  }
  .sector-agnostic-left-cont,.sector-agnostic-right-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
  }
  .sector-agnostic-header{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
  }
  .sector-agnostic-header>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    color: #FFFFFF;
    width: 70%;
  }
  .sector-agnostic-header>a>button{
 color: white;   
background: #2A72DE;
border-radius: 6px;
border: none;
width: 126px;
height: 50px;
font-size: 1.1rem;
cursor: pointer;
margin-top: 2rem;
  }
  .sector-agnostic-right-cont>h2{
   
    font-family: 'Poppins';
font-style: normal;
font-weight: 550;
font-size: 30px;
line-height: 60px;
color: #2A72DE;
  }
  .sector-agnostic-right-cont>img{
    width: 400px;
  }

  #register-investor{
    background: #F6F6F6;
    padding-top: 2rem;
  }
  .register-investor-cont{
    display: flex;
  }
  .register-investor-left-cont,.register-investor-right-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding-left: 1rem;
  }
  .register-investor-header{
    display: flex;
    flex-direction: column;
    
  }
  .register-investor-header>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: black;
  }
  .register-investor-header>p{
    margin-top: 0;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
margin-top: 2rem;

  }
  .register-investor-header>a>button{
 color: white;   
background: #2A72DE;
border-radius: 6px;
border: none;
width: 126px;
height: 50px;
font-size: 1.1rem;
margin-top: 2rem;
cursor: pointer;
  }
 
  .register-investor-right-cont>img{
    width: 400px;
  }


  /* MEDIA QUERY */

  @media(max-width:1212px){
.arrow-img-cont{
  right: -34%;
  top: 7%;
}
  }

  @media(max-width:1024px){
#investor-section-1{
  flex-direction: column;
  align-items: center;
}
.investor-section-1-left-col{
  width: 85%;
  text-align: center;
  align-items: center;
  padding-left: 0;
}

.investor-section-1-left-col>h1{
  font-size: 2rem;
}

.investor-section-1-right-col>img{
  width: 80%;
}


.investor-process-process-cont-1{
  grid-template-columns:50% 50%
}
.order6{
  order: 6;
}
.order5{
  order: 5;
}
.order4{
  order: 4;
}
.order3{
  order: 3;
}
.order2{
  order: 2;
}
.order1{
  order: 1;
}

.arrow-img-cont-toggle{
  transform: rotate(90deg);
  width: fit-content;
  height: fit-content;
  top: auto;
  bottom: -40%;
  right: -28px;
}
.arrow-img-cont-toggle>img{
  width: 70%;
}
.arrow-img-cont-down-toggle{
  top: 0;
  transform: scaley(-1) rotate(90deg);
  width: fit-content;
  height: fit-content;
  left: -2rem;
  
}

.arrow-img-cont-left-toggle{
  transform: scaleX(-1);
  left: auto;
  right: -16%;
}

.arrow-img-cont-left-last-toggle{
  transform: rotate(-90deg);
top: 100%;
left: -4%;
  width: fit-content;
  height: fit-content;
}
.arrow-img-cont,.arrow-img-cont-toggle,.arrow-img-cont-down-toggle,.arrow-img-cont-left-toggle,.arrow-img-cont-left-last-toggle{
  display: none;
}

.why-inest-with-reverr-title{
  text-align: center;
  margin-left: 0;
}
.why-inest-with-reverr-img-cont{
  flex-direction: column;
  align-items: center;
}
.why-inest-with-reverr-img-left-cont{
  width: 85%;
}

.sector-agnostic-cont{
flex-direction: column;
align-items: center;
}
.sector-agnostic-left-cont{
  width: 85%;
 
}
.sector-agnostic-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}
.sector-agnostic-header>h2{
  width: 85%;
  text-align: center;
}

.sector-agnostic-right-cont{
  width: 85%;
  margin-top: 1.5rem;
}
.sector-agnostic-right-cont>h2{
  font-size: 2.5rem;
  text-align: center;
}
.sector-agnostic-right-cont>img{
  width: 70%;
}

.register-investor-cont{
  flex-direction: column;
  align-items: center;
}
.register-investor-left-cont{
  width: 85%;
  margin-bottom: 2rem;
}

.register-investor-header{
  width: 90%;
  align-items: center;
}
.register-investor-header>h2{
  font-size: 2.5rem;
}
.register-investor-header>p{
  font-size: 20px;
}
.register-investor-right-cont{
  width: 80%;
}
.register-investor-right-cont>img{
  width: 70%;
}
  }


@media (max-width:760px){
  .investor-process-process-cont-1{
    grid-template-columns:100%
  }
  
  .order4{
    order: 4;
  }
  .order3{
    order: 3;
  }
 

  .arrow-img-cont-down,.arrow-img-cont,.arrow-img-cont-left{
    display: none;
  }
  .investor-process-process-cont-1-box>h4,.investor-process-process-cont-2-box>h4{
    font-size: 1.5rem;
  }
  .investor-process-process-cont-1-box>p,.investor-process-process-cont-2-box>p{
    font-size: 1.2rem;
    text-align: center;
  }

}

  @media(max-width:600px){
    .why-inest-with-reverr-img-left-cont{
      width: 95%;
    }
    .investor-section-1-right-col>img{
      width: 90%;
      margin-top: 2rem;
    }
    .sector-agnostic-header>h2{
      width: 100%;
      text-align: center;
    }
  }