body{
  background: linear-gradient(
    63.18deg,
    #000c12 0%,
    rgba(0, 6, 10, 0.7) 43.89%,
    rgba(0, 100, 151, 0.440331) 78.03%,
    rgba(0, 135, 203, 0.21896) 86.48%,
    rgba(0, 170, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#knowledge__intro {
  margin: auto;
  width: 93%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("/images/Ellipse 148.png"),
    url("/images/Ellipse 149.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 -1.5rem, 45rem 0rem;
}

.knowledge__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
}

.knowledge__intro_heading > h1 {
  font-size: 50px;
  margin: 2.5rem 0;
}

.knowledge__text_content > p {
  font-size: 22px;
  line-height: 36px;
}

.knowledge__buttons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.knowledge__buttons > a > button {
  padding: 8% 0;
  font-size: 16px;
  height: max-content;
  width: 12rem;
  margin: 5.5rem 1rem 5.5rem 0;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.knowledge__buttons_know_more {
  background: rgba(0, 119, 183, 1);
  color: white;
}

.knowledge__buttons_contact_us {
  background: white;
  color: rgba(0, 119, 183, 1);
}

.knowledge__image > img {
  height: 40rem;
  object-fit: contain;
}

#section_whyus {
  margin: 0;
  width: 100%;
}

.section-content-2 {
  margin: 6rem auto;
}

.main-text > h1 {
  max-width: 90%;
  font-size: 50px;
  text-align: center;
  color: #2a72de;
  margin: 4rem auto;
}

.main-text > p {
  font-size: 20px;
  text-align: center;
  width: 75%;
  margin: 0 auto 0.5em;
}

.card-container {
  max-width: 80%;
  gap: 4rem;
  margin: auto;
}

.card-row,
.card-row-1 {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.card-row-1 {
  background: linear-gradient(
    226.01deg,
    rgba(42, 114, 222, 0.75) 0%,
    rgba(42, 114, 222, 0) 100%
  );
  border-radius: 12px;
  padding: 3%;
}

.card-img > img {
  background-color: #fff;
  border: 5px solid #2a72de;
  padding: 0.6em;
  height: 5rem;
  border-radius: 100%;
}

.card-title {
  font-size: 32px;
  font-weight: 600;
}

.card-para {
  font-size: 18px;
  margin: 0 auto;
}

#howitworks {
  width: 93%;
  margin: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  background-image: url("/images/Ellipse 149.png");

background-repeat: no-repeat;
background-position: 0rem 20rem;
}

.howitworks__heading {
  font-size: 50px;
  color: rgba(42, 114, 222, 1);
  text-align: center;
}

.howitworks__text_content {
  font-size: 25px;
  text-align: center;
  line-height: 45px;
  width: 85%;
  margin: auto;
}

.howitworks__icons_down {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.howitworks__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.howitworks__main {
  display: flex;
  align-items: center;
}

.hiw__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.book > img {
  background: white;
  border-radius: 100%;
}

.hiw__icon > img {
  height: 6rem;
  width: 6.5rem;
}

.hiw__icon > p {
  width: 70%;
}

@media (max-width: 1200px) {
  .knowledge__image > img {
    height: 30rem;
  }
}

@media (max-width: 1024px) {
  .howitworks__icons_down {
    flex-direction: column;
    align-items: center;
  }

  .knowledge__buttons {
    width: 80%;
    margin: auto;
  }

  .knowledge__buttons > a > button {
    margin: 1rem 1rem;
    height: 4rem;
    padding: 1%;
    width: 7rem;
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 975px) {
  #knowledge__intro {
    flex-direction: column;
    align-items: center;
  }

  .knowledge__main {
    align-items: center;
    text-align: center;
  }
  .knowledge__image > img {
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .howitworks__image > img {
    height: 20rem;
  }

  .howitworks__heading {
    font-size: 30px;
  }

  .knowledge__intro_heading > h1 {
    font-size: 30px;
    margin: 2.5rem 0;
  }

  .knowledge__text_content > p {
    font-size: 16px;
    line-height: 24px;
  }

  .howitworks__text_content {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
  }

  .knowledge__main {
    align-items: center;
  }

  .howitworks__main {
    flex-direction: column;
    align-items: center;
  }

  .knowledge__main_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-text > h1 {
    font-size: 32px;
  }

  .main-text > p {
    font-size: 16px;
  }

  .card-row-1 {
    max-width: 70%;
    text-align: center;
    margin: 30px auto;
  }

  .card-img > img {
    background-color: #fff;
    border: 5px solid #2a72de;
    padding: 0.6em;
    height: 3rem;
    border-radius: 100%;
  }

  .card-title {
    font-size: 23px;
    font-weight: 600;
  }

  .card-para {
    font-size: 13px;
    width: 60%;
  }
}

@media (min-width: 769px) {
  .card-container {
    display: flex;
  }
}
