#knowledge__intro {
  margin: auto;
  width: 93%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.knowledge__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
}

.knowledge__intro_heading > h1 {
  font-size: 50px;
  margin: 2.5rem 0;
}

.knowledge__text_content > p {
  font-size: 22px;
  line-height: 36px;
}

.knowledge__buttons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.knowledge__buttons > button {
  height: 4rem;
  width: 14rem;
  margin: 5.5rem 1rem 5.5rem 0;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.knowledge__buttons_know_more {
  background: rgba(0, 119, 183, 1);
  color: white;
}

.knowledge__buttons_contact_us {
  background: white;
}

.knowledge__buttons_contact_us > a {
  text-decoration: none;
  color: rgba(0, 119, 183, 1) !important;
}

.knowledge__image > img {
  height: 40rem;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .knowledge__image > img {
    height: 30rem;
  }
}

@media (max-width: 975px) {
  #knowledge__intro {
    flex-direction: column;
    align-items: center;
  }

  .knowledge__main {
    align-items: center;
    text-align: center;
  }
  .knowledge__image > img {
    height: 20rem;
  }

  .knowledge__buttons > button {
    margin: 1rem 1rem;
    height: 2rem;
    width: 7rem;
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .knowledge__intro_heading > h1 {
    font-size: 30px;
    margin: 2.5rem 0;
  }

  .knowledge__text_content > p {
    font-size: 16px;
    line-height: 24px;
  }

  .knowledge__main {
    align-items: center;
  }
  .knowledge__buttons {
    flex-direction: column;
    align-items: center;
  }

  .knowledge__buttons > button {
    margin: 1rem 0;
    height: 2rem;
    width: 7rem;
    font-size: 16px;
    font-weight: 400;
  }

  .knowledge__main_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
