body {
  background: #f6f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: "Poppins", sans-serif;
}

.forminput {
  width: 96%;
  background: #323544;
  border: none;
  padding: 2% 2%;
  color: white;
  border-radius: 5px;
  margin-bottom: 2%;
}

.btn-blue {
  font-size: 16px !important;
  background-color: #0077b7 !important;
  padding: 2% 8%;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: none;
  margin: 2% 0%;
  text-decoration: none;
}

.btn-blue a {
  text-decoration: none;
  color: white;
}

.phn {
  display: none !important;
}

@media (max-width: 550px) {
  .desk {
    display: none !important;
  }
  .phn {
    display: block !important;
  }
}
