/* navbar css */
.menu-icon {
  cursor: pointer;
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;

}

.navigation ul {
  display: flex;

}

.navigation ul li {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  color: #fff;
  list-style: none;
  text-decoration: none;

  font-size: 16px;
  margin: 0px 45px;
  cursor: pointer;

}

.navigation ul a {
  text-decoration: none;
}

.navbar--section {
  background: var(--bg-main, #030B18);
  backdrop-filter: blur(3.3333334922790527px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  padding-bottom: 2px;
}

.sign-btn {
  color: var(--flowkit-charcoal, #222);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 120.298px;
  padding: 11.911px 23.821px;
  justify-content: center;
  align-items: center;
  gap: 11.911px;
  border-radius: 59.554px;
  background: var(--blueeee, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));
  cursor: pointer;
  text-decoration: none;
  margin: 0px 15px;
  border: none;
  outline: none;
}

.login-btn {
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 120.298px;
  padding: 11.911px 23.821px;
  justify-content: center;
  align-items: center;
  gap: 11.911px;
  border-radius: 59.554px;
  border: 2px solid #00B3FF;
  cursor: pointer;
  text-decoration: none;
  background-color: unset;
  margin: 0px 15px;
  outline: none;

}

@media (max-width:500px) {
  .navbar--section{
  position:relative;
  /* width: 27rem; */
  height: 7rem;
  z-index:999999999999999;
  }
  .navigation{
    display: none;
  }
  .navigation.show{
    display: flex;
    flex-direction: column;
    background-color: #060f1e;
    border-radius: 3px;
    position: absolute;
    right: 10%;
    width: 9rem;
    height: 21rem;
    z-index: inherit;
    padding: 20px;
    top: 6rem;


  }
  .menu-icon {
    display: flex;
    position: absolute;
    right: 3rem;
    flex-direction: column;
  }
  .bar {
    width: 27px;
    height: 2px;
    background-color: rgb(248, 245, 245);
    margin: 4px 0;
  
   }
   .Ulclass {
    display: flex;
    flex-direction: column;
  }
  .navigation ul a {
    margin: 17px;
    /*border: 2px solid black;*/
    border-radius: 18px;
    height: 3rem;
    width: 13rem;
    margin-top: 0rem;
    padding-top: 10px;
  }

  .navigation a {
    margin: 5px;
  }
  .navigation ul a {

    width: -webkit-fill-available;
   
}
}
/*
@media screen and (max-width: 550px) {
  .navigation {
    display: none;
  }
  .navbar--section{
    position: relative;
    height: 10rem;
    width: 97rem;
    z-index: 999999999999;
  }

  .Ulclass {
    display: flex;
    flex-direction: column;
  }

  .menu-icon {
    display: flex;
    position: absolute;
    right: 4rem;
    flex-direction: column;
  }

  .navigation.show {
    display: flex;
    flex-direction: column;
    background-color: #060f1e;;
    border-radius: 3px;
    position: relative;
    top: 14rem;
    right: 3rem;
    width: 15rem;
    height: 22rem;
    z-index: inherit;
  }

  .bar {
    width: 35px;
    height: 5px;
    background-color: rgb(248, 245, 245);
    margin: 4px 0;

  }

  .navigation ul a {
    margin: 17px;
    /*border: 2px solid black;.
    border-radius: 18px;
    height: 3rem;
    width: 13rem;
    margin-top: 0rem;
    padding-top: 10px;
  }

  .navigation a {
    margin: 5px;
  }
}
@media screen and (max-width: 380px) {
  .menu-icon{
   right: 12rem;
   /* margin-right: -3rem;.
  }
  .navigation.show{
    top: 14rem;
    right: 11rem;
  }

}
@media screen and (max-width: 360px) {
  .menu-icon{
    margin-right: 1rem;
  }

}
*/
