.passes_container {
  background-color: #081452;
  /* height: 100%; */
  padding: 3rem;
}

.intro_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}

.pass_boxes {
  display: flex;
  /* gap: 6rem; */
  flex-wrap: wrap;
  margin: 5rem auto;
  justify-content: space-around;
}

.pass_box {
  background: #88dcf7;
  border-radius: 30px;
  width: 500px;
  height: 700px;
}

.pass_type {
  background: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 49px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 30px 30px 0 0;
  text-transform: uppercase;
  padding: 0.7rem 0;
  color: #000000;
}

.box_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pass_price {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.065em;
  text-align: center;
  margin: 4rem auto;
}

.pass_info {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 500;
  width: 80%;
  height: 250px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.buy_pass {
  background-color: #000000;
  font-family: "Montserrat";
  font-size: 26px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 1rem 3rem;
  margin: 3rem 0;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .pass_box {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .pass_price {
    margin: 2rem auto 1rem;
    font-size: 37px;
  }

  .buy_pass {
    margin: 2rem auto;
  }
  .pass_info {
    height: 350px;
  }
}
