@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Fast Hand";
  src: url("/fonts/Fash Hand.otf");
}
.tot_container {
  background-color: #081452;
  /* height: 100%; */
}

.tot_hero_section {
  position: relative;
  background: linear-gradient(
      180deg,
      #081452 25.67%,
      rgba(8, 20, 82, 0.05) 77.4%,
      #081452 100%
    ),
    url("/images/tot_bg.png");
  /* mix-blend-mode: luminosity; */
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
}

.reverr_logo {
  mix-blend-mode: lighten;
  height: 10rem;
}

.tot_subtext {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.19em;
  text-align: center;
  color: #88dcf7;
  /* margin-bottom: 6rem; */
}

.tot_main_heading {
  font-family: "Fast Hand", sans-serif;
  font-size: 104px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0.27em;
  text-align: center;
  margin: 0.7rem 0;
  color: #fff;
  text-shadow: 0px 0px 16px #00000079;
}

.tot_span {
  font-size: 52px;
  font-family: "Fast Hand", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 70px;
  text-shadow: 0px 0px 16px #00000079;

  letter-spacing: 0.32em;
  text-align: center;
}

.poweredby {
  display: flex;
  margin: 6rem auto 2rem;
  align-items: center;
  gap: 3rem;
}

.brandlogo {
  height: 3rem;
}

.brandlogo1 {
  height: 5rem;
}

.tot_date {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 3.5rem;
  letter-spacing: 0.17em;
  text-align: center;
  color: #eaff98;
}

.tot_bg {
  display: flex;
  mix-blend-mode: lighten;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  top: 20%;
}

.bg_wing {
  width: 300px;
}

.tot_announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.line1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  width: 80%;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.line2,
.line3 {
  font-family: "Montserrat";
  font-size: 25px;
  color: #88dcf7;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
}

.line2 {
  width: 90%;
  font-weight: 700;
}

.line3 {
  width: 80%;
  font-weight: 500;
}

.tot_register {
  background: #eaff98;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  margin: 4rem auto;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.tot_info {
  background: linear-gradient(
      180deg,
      #081452 5.67%,
      rgba(8, 20, 82, 0.05) 69.27%,
      #081452 100%
    ),
    url("/images/tot_info.png");
  /* mix-blend-mode: luminosity; */
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
}

.details {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 7rem;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  text-align: center;
}

.info_number {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #88dcf7;
}

.info_number_uniq {
  display: flex;
}

.info_number_uniq > p,
.info_number_uniq > span {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #88dcf7;
}

.info_text {
  font-family: "Montserrat";
  font-size: 27px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.details_imgs {
  display: flex;
  gap: 6rem;
  align-items: center;
  margin: 6rem auto;
  justify-content: center;
  flex-wrap: wrap;
}

.info_item > img {
  height: 300px;
  width: 300px;
}

.info_item > p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.17em;
  text-align: center;
  color: #eaff98;
  margin-top: 1rem;
}

.whyattend {
  width: 100%;
  padding: 5rem 0rem 0 5rem;
  background: rgba(15, 15, 15, 0.5);
}

.whyattendtot {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.whyattendtot > img {
  height: 30rem;
}

.tot_heading {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.2em;
  color: #eaff98;
  margin: 0;
}

.why_tot_para {
  margin-top: 2rem;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 90%;
  color: #fff;
}

.why_tot_para > span {
  color: #eaff98;
  font-weight: 500;
}

.tot_speakers {
  padding: 6rem 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.speakers {
  margin: 5rem 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
}

.tot_speaker {
  margin-bottom: 2.5rem;
}

.speaker_name {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 1rem 0;
}

.speaker_pos {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #fff;
}

.tot_timing {
  background: url("/images/timing_bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding-top: 17rem;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.timing_heading {
  font-family: "Montserrat";
  font-size: 58px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  letter-spacing: 0.2em;
  text-align: center;
}

.timing_para {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 500;
  line-height: 49px;
  width: 80%;
  margin: 2rem auto;
  letter-spacing: 0.03em;
  text-align: center;
}

.timing_btn {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.tot_time_table {
  background: #ffffff;
  /* border: 2px solid #000000; */
  margin: 3.5rem auto;
  width: 80%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 50px;
  /* border-collapse: collapse; */
}

.table_row > td {
  border: 2px solid #000000;
  text-align: center;
  padding: 1rem;
}

.table_row:first-child td:first-child {
  border-top-left-radius: 50px;
}

.table_row:first-child td:last-child {
  border-top-right-radius: 50px;
}

/* bottom-left border-radius */
.table_row:last-child td:first-child {
  border-bottom-left-radius: 50px;
}

/* bottom-right border-radius */
.table_row:last-child td:last-child {
  border-bottom-right-radius: 50px;
}

.tot_time {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-align: center;
}

.tot_event {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-align: center;
}

.timing_bg1 {
  position: absolute;
  mix-blend-mode: darken;
  top: 0;
  right: 0;
  height: 25rem;
}

.timing_bg2 {
  position: absolute;
  mix-blend-mode: darken;
  top: 32%;
  left: -10px;
  height: 10rem;
}

.event_location {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 5rem 0;
  background-color: rgba(15, 15, 15, 0.5);
}

.location,
.location_para {
  font-family: "Montserrat";
  font-size: 27px;
  width: 90%;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #eaff98;
}

.location_para {
  color: #fff;
}

.location_map {
  width: 100%;
  height: 400px;
  margin: 2rem 0;
  filter: invert(90%);
}

.book_pass_bg {
  width: 100%;
}

.book_pass_now {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
  justify-content: center;
}

.book_pass_heading {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.2em;
  color: #97c4d6;
}

.book_pass_subheading {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-top: 3rem;
  color: #fff;
}

.book_pass_img {
  height: 20rem;
}

.tot_sponsors {
  background-color: #ffffff;
  padding: 2rem 0;
}

.sponsor_heading {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 2rem 0;
}

.sponsor_img {
  width: 100%;
  margin: 2rem 0;
}

.tot_faqs {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  align-items: center;
}

.faq_heading {
  font-family: "Montserrat";
  font-size: 54px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.11em;
  text-align: center;
  color: #eaff98;
}

.faqs_accordion {
  margin: 2rem 0;
  width: 100%;
}

.accordion_item {
  margin: 2rem auto;
  display: flex;
  /* min-width: 700px; */
  flex-direction: column;
  align-items: center;
}

button.accordion {
  width: 80%;
  background-color: #0f0f0f;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 25px;
  color: #fff;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: "+";
  font-size: 25px;
  float: right;
  transition: all 0.2s ease;
}

button.accordion.is-open:after {
  content: "-";
}

/* button.accordion:hover,
button.accordion.is-open {
  background-color: #171717;
} */

button.accordion.is-open {
  border-radius: 22px 22px 0 0;
}

.accordion-content {
  /* background-color: #696969; */
  background: #eaff98;
  padding: 0 20px;
  max-height: 0px;
  /* display: none; */
  overflow: hidden;
  line-height: 30px;
  width: 80%;
  border-radius: 0 0 22px 22px;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .whyattend {
    padding: 2rem 0;
    text-align: center;
  }
  .whyattendtot {
    flex-direction: column;
  }
  .why_tot_para {
    text-align: center;
    margin: 2rem auto;
    width: 80%;
  }
  .book_pass_now {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .tot_bg > img {
    width: 10rem;
  }
  .tot_bg {
    top: 30%;
  }

  .poweredby {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .tot_main_heading {
    font-size: 80px;
  }
  .tot_heading {
    font-size: 58px;
  }

  .timing_para {
    font-size: 22px;
  }
  .timing_bg1 {
    height: 15rem;
  }
  .timing_bg2 {
    height: 5rem;
  }
  .faq_heading {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .tot_main_heading {
    letter-spacing: 0.1em;
  }

  .timing_heading {
    font-size: 50px;
  }
  .whyattendtot > img {
    height: 20rem;
  }
}

@media (max-width: 500px) {
  .tot_speaker > img {
    height: 8rem;
  }
  .speaker_name,
  .speaker_pos {
    font-size: 18px;
  }

  .tot_main_heading {
    letter-spacing: 0.2em;
    font-size: 60px;
  }

  .tot_bg > img {
    width: 6rem;
  }

  .faq_heading {
    width: 80%;
  }
}
